<!--//Package STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="packageStorage"><!-- Пачки -->
    <div class="tab-pane fade show active container-fluid" id="packagedproduct">
        <table class="table table-hover table-striped" id="packagedproducttable">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Высота, шт</th>
                <th scope="col">Ширина, шт</th>
                <th scope="col">Длина-ФАКТ</th>
                <th scope="col">Высота/Ширина</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ps, index : ${packagedProductsList}" th:id="${ps.id}">
                <td th:text="${ps.id}"></td>
                <th scope="row" th:text="${ps.codeOfPackage}">20-1С3-2605-1-2805</th>
                <td th:text="${ps.breedOfTree.breed}"></td>
                <td th:text="${ps.breedDescription}"></td>
                <td th:text="${ps.sizeOfHeight}"></td>
                <td th:text="${ps.sizeOfWidth}"></td>
                <td th:text="${ps.sizeOfLong}"></td>
                <td th:text="${ps.countOfDesk}"></td>
                <td th:text="${ps.extent}"></td>
                <td th:text="${ps.countDeskInHeight}"></td>
                <td th:text="${ps.countDeskInWidth}"></td>
                <td th:text="${ps.longFact}"></td>
                <td th:text="${ps.height_width}"></td>
            </tr>
            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Высота, шт</th>
                <th scope="col">Ширина, шт</th>
                <th scope="col">Длина-ФАКТ</th>
                <th scope="col">Высота/Ширина</th>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button">
            <button type="button" class="buttons btn btn-primary" title="Редактировать" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <button type="button" class="buttons btn btn-primary" title="Удалить" data-toggle="tooltip" data-placement="left">
                <i class="far fa-trash-alt"></i>
            </button>
            <button type="button" class="buttons btn btn-primary" title="Распиловка" data-toggle="tooltip" data-placement="left">
                <i class="fab fa-buffer"></i>
            </button>
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить" data-placement="left" id ="buttonForTransportation">
                <p style="line-height: 1.25">+</p>
            </button>
        </div>
        <!-- BUTTON -->
    </div>
    <!-- Пачки -->


</th:block>