
<!--//Waste STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="wasteStorage">
    <!-- Отходы -->
    <div class="tab-pane fade show active container-fluid" id="wastestorage">
        <table class="table table-hover table-striped" id="wastestoragetable">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ws, index : ${wasteStorageList}" th:id="${ws.id}">
                <td th:text="${ws.id}"></td>
                <th scope="row" th:text="${ws.codeOfProduct}"></th>
                <td th:text="${ws.breedOfTree.breed}"></td>
                <td th:text="${ws.breedDescription}"></td>
                <td th:text="${ws.contrAgent.nameOfAgent}"></td>
                <td th:text="${ws.extent}"></td>
                <td>
                    <button  type="button" class="btn btn-primary btn-sm" onclick="showCutModal(this)">
                        <i class="fas fa-th" data-toggle="tooltip" title="Распиловка"></i>
                    </button>
                    <button  type="button" class="btn btn-primary btn-sm" onclick="showEditModal(this)">
                        <i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i>
                    </button>
                </td>
            </tr>
            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button">
            <button type="button" class="buttons btn main-button btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
            </button>
        </div>
        <!-- BUTTON -->
    </div>
    <!-- Отходы -->
    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportTreeStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->
</th:block>

