
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="dryStorage">
    <!-- Сухой склад -->
    <div class="tab-pane fade show active container-fluid" id="drystorage">
        <table class="table table-hover table-striped" id="drystoragetable">
            <br>
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Код партии</th>
                    <th scope="col">Порода</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Толщина, мм</th>
                    <th scope="col">Ширина, мм</th>
                    <th scope="col">Длина, мм</th>
                    <th scope="col">Кол-во досок, шт</th>
                    <th scope="col">Кубатура, м<sup>3</sup></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ds, index : ${dryStorageList}" th:id="${ds.id}">
                    <td th:text="${ds.id}"></td>
                    <th scope="row" th:text="${ds.codeOfProduct}">20-1С3-2605-1-2805</th>
                    <td th:text="${ds.breedOfTree.breed}"></td>
                    <td th:text="${ds.breedDescription}"></td>
                    <td th:text="${ds.sizeOfHeight}"></td>
                    <td th:text="${ds.sizeOfWidth}"></td>
                    <td th:text="${ds.sizeOfLong}"></td>
                    <td th:text="${ds.countOfDesk}"></td>
                    <td th:text="${ds.extent}"></td>
                    <td>
                        <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForPackagesStorage(this)"><i class="fas fa-cubes" data-toggle="tooltip" title="Формирование пачек"></i></button>
                        <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editDryStorage(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Код партии</th>
                    <th scope="col">Порода</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Толщина, мм</th>
                    <th scope="col">Ширина, мм</th>
                    <th scope="col">Длина, мм</th>
                    <th scope="col">Кол-во досок, шт</th>
                    <th scope="col">Кубатура, м<sup>3</sup></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button" th:if="${btnConfig?.equals('btnON')}">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>
    <!-- Сухой склад -->
    <!-- Сухой склад -> Пачки -->
    <div class="modal fade" id="sendForPackageModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendForPackageModalHeader">Формирование пачек</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/createPackages-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <input type="text" class="form-control" id="sendForPackagesModalId" hidden="hidden" autocomplete="off" name="id">

                        <label class="col-form-label" for="sendForPackageModalCode">Код</label>
                        <input type="text" class="form-control" id="sendForPackageModalCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="sendForPackageModalMaterial">Порода</label>
                                <input type="text" class="form-control" id="sendForPackageModalMaterial" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="sendForPackageModalMaterialDescr">Описание</label>
                                <input class="form-control" id="sendForPackageModalMaterialDescr" type="text" placeholder="Не заполнено" name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalCount">Количество досок</label>
                                <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="sendForPackageModalCount" required="required" autocomplete="off" placeholder="шт" disabled="">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageHeightPc">Высота, шт.</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageHeightPc" required="required" autocomplete="off" placeholder="шт" name="height">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalWidthPc">Ширина, шт.</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalWidthPc" required="required" autocomplete="off" placeholder="шт" name="width">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalPacksCount">Количество пачек</label>
                                <input type="number" min="1" step="1" placeholder="шт" class="form-control" id="sendForPackageModalPacksCount" required="required" autocomplete="off" name="count">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalLengthFact">Длина-ФАКТ</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalLengthFact" required="required" autocomplete="off" placeholder="мм" name="longFact">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalHeightWidth">Высота/Ширина</label>
                                <input type="text" class="form-control" id="sendForPackageModalHeightWidth" required="required" autocomplete="off" placeholder="в/ш" name="heightWidth">
                            </div>
                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сформировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editDryStorageModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDryStorageModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editDryStorageRow-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <input type="text" class="form-control" id="editDryStorageModalId" hidden="hidden" autocomplete="off" name="id">

                        <label class="col-form-label" for="editDryStorageModalCode">Код</label>
                        <input type="text" class="form-control" id="editDryStorageModalCode" required="required"  autocomplete="off" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="editDryStorageModalMaterial">Порода</label>
                                <input type="text" class="form-control" id="editDryStorageModalMaterial" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="editDryStorageModalMaterialDescr">Описание</label>
                                <input class="form-control" id="editDryStorageModalMaterialDescr" type="text" placeholder="Не заполнено" name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-4">
                                <label class="col-form-label" for="editDryStorageModalThickness">Толщина</label>
                                <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalThickness" required="required" autocomplete="off" placeholder="мм" name="sizeOfHeight">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDryStorageModalWidth">Шырина</label>
                                <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalWidth" required="required" autocomplete="off" placeholder="мм" name="sizeOfWidth">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDryStorageModalLength">Длина</label>
                                <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalLength" required="required" autocomplete="off" placeholder="мм" name="sizeOfLong">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editDryStorageModalCount">Количество досок</label>
                                <input type="number" min="0" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalCount" required="required" autocomplete="off" placeholder="шт" name="countOfDesk">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editDryStorageModalVolume">Кубатура</label>
                                <input type="number" min="0" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalVolume" required="required" autocomplete="off" placeholder="м3" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportDryStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->

    <script type="text/javascript" th:src="@{../js/fabric/dry/dry.storage.pine.js}"></script>

</th:block>







































<!--           OAK DRY STORAGE           -->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="dryStorageOAK">
    <!-- Сухой склад -->
    <div class="tab-pane fade show active container-fluid" id="drystorage">
        <table class="table table-hover table-striped" id="drystoragetableOak">
            <br>
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Код партии</th>
                    <th scope="col">Порода</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Толщина, мм</th>
                    <th scope="col">Кубатура, м<sup>3</sup></th>
                    <th scope="col">Примечания</th>
                    <th scope="col" class="display-none">qualityOfPack</th>
                    <th scope="col" class="display-none">longOfPack</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rs, index : ${dryStorageList}" th:id="${rs.id}">
                    <td th:text="${rs.id}"></td>
                    <th scope="row" th:text="${rs.codeOfProduct}">20-1С3-2605-1-2805</th>
                    <td th:text="${rs.breedOfTree.breed}"></td>
                    <td th:text="${rs.breedDescription}"></td>
                    <td th:text="${rs.sizeOfHeight}"></td>
                    <td th:text="${rs.extent}"></td>
                    <td th:text="${rs.description}"></td>
                    <td th:text="${rs?.qualityOfPack}" class="display-none"></td>
                    <td th:text="${rs?.longOfPack}" class="display-none"></td>
                    <td>
                        <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForPackagesStorageOak(this)"><i class="fas fa-cubes" data-toggle="tooltip" title="Формирование пачек"></i></button>
                        <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editDryStorageOak(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th scope="col">Код партии</th>
                    <th scope="col">Порода</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Толщина, мм</th>
                    <th scope="col">Кубатура, м<sup>3</sup></th>
                    <th scope="col">Примечания</th>
                    <th scope="col" class="display-none">qualityOfPack</th>
                    <th scope="col" class="display-none">longOfPack</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button" th:if="${btnConfig?.equals('btnON')}">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>
    <!-- Сухой склад -->


    <!-- Packing start Сухой склад -> Пачки -->
    <div class="modal fade" id="sendForPackageModalOak">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="sendForPackageModalOakHeader">Формирование пачки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form >
                    <div class="modal-body">
                        <input type="text" id="sendForDryingModalIdOak" hidden="hidden" >
                        <input type="text" hidden="hidden" id="breedId" th:value="${breedId}">
                        <input type="text" hidden="hidden" id="userId" th:value="${userId}">

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="col-form-label" for="sendForPackageModalCodeOak">Код пачки</label>
                                <input type="text" class="form-control" id="sendForPackageModalCodeOak" required="required" autocomplete="off" placeholder="Не заполнено">
                            </div>

                            <div class="col-4">
                                <label class="control-label" for="sendForPackageModalQualityOak" style="padding-top: 7px">Качество</label>
                                <input type="text" class="form-control" id="sendForPackageModalQualityOak" required="required" placeholder="Не заполнено">
                            </div>

                            <div class="col-2">
                                <label class="control-label" for="sendForPackageModalSizeOak" style="padding-top: 7px">Размер</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalSizeOak" required="required" autocomplete="off" placeholder="мм">
                            </div>

                            <div class="col-2">
                                <label class="col-form-label" for="sendForPackageModalLengthOak">Длина</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalLengthOak" required="required" autocomplete="off" placeholder="мм">
                            </div>
                        </div>

                        <hr>

                        <div class="form-group row d-flex" style="align-items: flex-end">
                            <div class="col-3">
                                <label class="col-form-label" for="sendForPackageModalWidthOak">Ширина</label>
                                <input type="number" min="0" step="10" class="form-control" id="sendForPackageModalWidthOak" required="required" autocomplete="off" placeholder="мм">
                            </div>

                            <div class="col-3">
                                <label class="control-label" for="sendForPackageModalCountOak" style="padding-top: 7px">Количество</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalCountOak" required="required" autocomplete="off" placeholder="шт">
                            </div>

                            <div class="col-2">
                                <label class="control-label" for="sendForPackageModalExtentOak" style="padding-top: 7px">Кубатура</label>
                                <input type="text" disabled="disabled" class="form-control" id="sendForPackageModalExtentOak"  autocomplete="off" placeholder="м3">
                            </div>

                            <div class="col-4" style="display: inline-flex">
                                <button id="buttonForAddingOakRow" type="button" class="btn btn-primary" style="margin-right: 5px">Добавить</button>
                                <button type="button" class="btn btn-primary" id="createPackageOak" onclick="sendRequestCreatePackageOak(this)">Сформировать</button>
                            </div>
                        </div>

                        <table class="table table-hover table-striped" id="tableForTransportationOak">
                            <thead>
                            <tr>
                                <th scope="col">Толщина, мм</th>
                                <th scope="col">Количество досок, шт</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="listOfPackageId">
                            <!-- <tr></tr> -->
                            </tbody>

                            <tfoot>
                                <th scope="col">Толщина, мм</th>
                                <th scope="col">Количество досок, шт</th>
                                <th></th>
                            </tfoot>

                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="clearTableButton" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Packing end-->


<!--Edit start-->
    <div class="modal fade" id="editDryStorageModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDryStorageModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editDryStorageRow-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <input type="text" class="form-control" id="editDryStorageModalId" hidden="hidden" autocomplete="off" name="id">

                        <label class="col-form-label" for="editDryStorageModalCode">Код</label>
                        <input type="text" class="form-control" id="editDryStorageModalCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="editDryStorageModalMaterial">Порода</label>
                                <input type="text" class="form-control" id="editDryStorageModalMaterial" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="editDryStorageModalMaterialDescr">Описание</label>
                                <input class="form-control" id="editDryStorageModalMaterialDescr" type="text" placeholder="Не заполнено" name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editDryStorageModalThickness">Толщина</label>
                                <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalThickness" required="required" autocomplete="off" placeholder="мм" name="sizeOfHeight">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editDryStorageModalVolume">Кубатура</label>
                                <input type="number" min="0" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryStorageModalVolume" required="required" autocomplete="off" placeholder="м3" name="extent">
                            </div>
                        </div>

                        <label class="col-form-label" for="editDryStorageModalDesc">Примечание</label>
                        <input type="text" class="form-control" id="editDryStorageModalDesc" autocomplete="off" placeholder="Не заполнено" name="description">

                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--  Edit end  -->

    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportDryStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->


    <script type="text/javascript" th:src="@{../js/fabric/dry/dry.storage.oak.js}"></script>


</th:block>