<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="deliveryInfo">

    <!-- Транспортировка -->
    <div class="tab-pane fade show active container-fluid" id="transportation">

        <table class="table table-hover table-striped" id="transportationtable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">№ выгрузки</th>
                <th scope="col">А/М</th>
                <th scope="col">П/П</th>
                <th scope="col">Дата выгрузки</th>
                <th scope="col">Время выгрузки</th>
                <th scope="col">Водитель</th>
                <th scope="col">Телефон</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                  <div th:each="dd, index : ${deliveryDocumentations}">
                          <tr>
                              <td  class="details-control" onclick="javascript:$('#parent'+this.id).toggle();" th:id="${dd.id}"></td>
                              <td th:text="${dd.driverInfo.getIdOfTruck()}"></td>
                              <td th:text="${dd.driverInfo.getNumberOfTruck()}"></td>
                              <td th:text="${dd.driverInfo.getNumberOfTrailer()}"></td>
                              <td th:text="${dd.getDateOfUnloading()}"></td>
                              <td th:text="${dd.getTimeOfUnloading()}"></td>
                              <td th:text="${dd.driverInfo.getFullName()}"></td>
                              <td th:text="${dd.driverInfo.getPhone()}"></td>
                              <td>
                                  <form th:action="@{'/fabric/exportDeliveryInfo-'+${dd.id}}" method="post">
                                      <button  type="submit" class="btn btn-primary btn-sm" onclick="exportDataByDriver(this)">
                                          <i class="far fa-file-excel" data-toggle="tooltip" title="Экспортировать"></i>
                                      </button>
                                  </form>
                              </td>
                          </tr>
                          <tr style="display:none" th:id="'parent'+${dd.id}">
                              <td colspan="13" class="child-table">
                                  <table class="table table-hover table-striped parent-table" id="packages">
                                      <thead>
                                      <tr>
                                          <th scope="col">№ пачки</th>
                                          <th scope="col">Порода</th>
                                          <th scope="col">Описание</th>
                                          <th scope="col">Толщина</th>
                                          <th scope="col">Ширина</th>
                                          <th scope="col">Длина</th>
                                          <th scope="col">Кол-во</th>
                                          <th scope="col">Кубатура</th>
                                          <th scope="col">Высота</th>
                                          <th scope="col">Ширина</th>
                                          <th scope="col">Длина-ФАКТ</th>
                                          <th scope="col">В/Ш</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr th:each="ps, index : ${dd.getProductList()}" th:id="${ps.id}">
                                          <th scope="row" th:text="${ps.codeOfPackage}">20-1С3-2605-1-2805</th>
                                          <td th:text="${ps.breedOfTree.breed}"></td>
                                          <td th:text="${ps.breedDescription}"></td>
                                          <td th:text="${ps.sizeOfHeight}"></td>
                                          <td th:text="${ps.sizeOfWidth}"></td>
                                          <td th:text="${ps.sizeOfLong}"></td>
                                          <td th:text="${ps.countOfDesk}"></td>
                                          <td th:text="${ps.extent}"></td>
                                          <td th:text="${ps.countDeskInHeight}"></td>
                                          <td th:text="${ps.countDeskInWidth}"></td>
                                          <td th:text="${ps.longFact}"></td>
                                          <td th:text="${ps.height_width}"></td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                          </tr>
                  </div>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th scope="col">№ выгрузки</th>
                <th scope="col">А/М</th>
                <th scope="col">П/П</th>
                <th scope="col">Дата выгрузки</th>
                <th scope="col">Время выгрузки</th>
                <th scope="col">Водитель</th>
                <th scope="col">Телефон</th>
                <th></th>
            </tr>
            </tfoot>
        </table>

    </div>
    <!-- Транспортировка -->

    <div th:replace="~{fragments/fabric/fragFabricScripts :: fabricScripts}"></div>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#transportationtable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                },
                "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
                // columns width
                "autoWidth": false,
                "bSort": false,
                "info": false,
                // id column visibility
                "columnDefs": [
                    {
                        "targets": [  ],
                        "visible": false,
                        "searchable": false
                    }
                ]

            });


        });

    </script>

</th:block>


<!--OAK DElivery info-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="deliveryInfoOak">


    <!--    &lt;!&ndash; Транспортировка OAK&ndash;&gt;-->
    <!--    <div class="tab-pane fade show active container-fluid" id="transportation">-->

    <!--        <table class="table table-hover table-striped" id="transportationTableOak">-->
    <!--            <br>-->
    <!--            <thead>-->
    <!--                <tr>-->
    <!--                    <th></th>-->
    <!--                    <th scope="col">№ выгрузки</th>-->
    <!--                    <th scope="col">А/М</th>-->
    <!--                    <th scope="col">П/П</th>-->
    <!--                    <th scope="col">Дата выгрузки</th>-->
    <!--                    <th scope="col">Время выгрузки</th>-->
    <!--                    <th scope="col">Водитель</th>-->
    <!--                    <th scope="col">Телефон</th>-->
    <!--                    <th></th>-->
    <!--                </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--                <div th:each="dd, index : ${deliveryDocumentations}">-->


    <!--                    <tr>-->
    <!--                        <td  class="details-control" onclick="javascript:$('#parent'+this.id).toggle();" th:id="${dd.id}"></td>-->
    <!--                        <td th:text="${dd.driverInfo.getIdOfTruck()}"></td>-->
    <!--                        <td th:text="${dd.driverInfo.getNumberOfTruck()}"></td>-->
    <!--                        <td th:text="${dd.driverInfo.getNumberOfTrailer()}"></td>-->
    <!--                        <td th:text="${dd.getDateOfUnloading()}"></td>-->
    <!--                        <td th:text="${dd.getTimeOfUnloading()}"></td>-->
    <!--                        <td th:text="${dd.driverInfo.getFullName()}"></td>-->
    <!--                        <td th:text="${dd.driverInfo.getPhone()}"></td>-->
    <!--                        <td>-->
    <!--                            <form th:action="@{'/fabric/exportDeliveryInfo-'+${dd.id}}" method="post">-->
    <!--                                <button  type="submit" class="btn btn-primary btn-sm" onclick="exportDataByDriver(this)">-->
    <!--                                    <i class="far fa-file-excel" data-toggle="tooltip" title="Экспортировать"></i>-->
    <!--                                </button>-->
    <!--                            </form>-->
    <!--                        </td>-->
    <!--                    </tr>-->

    <!--                    &lt;!&ndash;      LEVEL    2    START          &ndash;&gt;-->
    <!--                    <tr style="display:none" th:id="'parent'+${dd.id}">-->
    <!--                        <td colspan="13" class="child-table">-->
    <!--                            <table class="table table-hover table-striped parent-table" id="packages">-->
    <!--                                <thead>-->
    <!--                                    <tr>-->
    <!--                                        <th></th>-->
    <!--                                        <th scope="col">№ пачки</th>-->
    <!--                                        <th scope="col">Качество</th>-->
    <!--                                        <th scope="col">Размер</th>-->
    <!--                                        <th scope="col">Длина</th>-->
    <!--                                        <th scope="col">Сум. ширина</th>-->
    <!--                                        <th scope="col">Кол. досок</th>-->
    <!--                                        <th scope="col">Кубатура</th>-->
    <!--                                    </tr>-->
    <!--                                </thead>-->
    <!--                                <tbody>-->
    <!--                                    <div>-->
    <!--                                        <tr>-->
    <!--                                            <td  class="details-control" onclick="javascript:$('#parent-parent'+this.id).toggle();" th:id="${dd.id}"></td>-->
    <!--                                            <th scope="row">20-1С3-2605-1-2805</th>-->
    <!--                                            <td>Збс</td>-->
    <!--                                            <td>50</td>-->
    <!--                                            <td>3000</td>-->
    <!--                                            <td>1000</td>-->
    <!--                                            <td>100</td>-->
    <!--                                            <td>5</td>-->
    <!--                                        </tr>-->

    <!--                                        &lt;!&ndash;      LEVEL    3    START          &ndash;&gt;-->
    <!--                                        <tr style="display:none" th:id="'parent-parent'+${dd.id}">-->
    <!--                                            <td colspan="13" class="child-table">-->
    <!--                                                <table class="table table-hover table-striped parent-table" id="packages">-->
    <!--                                                    <thead>-->
    <!--                                                        <tr>-->
    <!--                                                            <th scope="col">Ширина, мм</th>-->
    <!--                                                            <th scope="col">Количество досок</th>-->
    <!--                                                        </tr>-->
    <!--                                                    </thead>-->
    <!--                                                    <tbody>-->

    <!--                                                        <div>-->
    <!--                                                            <tr>-->
    <!--                                                                <td>50</td>-->
    <!--                                                                <td>10</td>-->
    <!--                                                            </tr>-->
    <!--                                                        </div>-->

    <!--                                                    </tbody>-->
    <!--                                                </table>-->
    <!--                                            </td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                            <td style="display:none"></td>-->
    <!--                                        </tr>-->
    <!--                                        &lt;!&ndash;      LEVEL    3    END          &ndash;&gt;-->
    <!--                                    </div>-->

    <!--                                </tbody>-->
    <!--                            </table>-->
    <!--                        </td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                        <td style="display:none"></td>-->
    <!--                    </tr>-->
    <!--                    &lt;!&ndash;      LEVEL    2    END          &ndash;&gt;-->
    <!--                </div>-->
    <!--            </tbody>-->
    <!--            <tfoot>-->
    <!--            <tr>-->
    <!--                <th></th>-->
    <!--                <th scope="col">№ выгрузки</th>-->
    <!--                <th scope="col">А/М</th>-->
    <!--                <th scope="col">П/П</th>-->
    <!--                <th scope="col">Дата выгрузки</th>-->
    <!--                <th scope="col">Время выгрузки</th>-->
    <!--                <th scope="col">Водитель</th>-->
    <!--                <th scope="col">Телефон</th>-->
    <!--                <th></th>-->
    <!--            </tr>-->
    <!--            </tfoot>-->
    <!--        </table>-->

    <!--    </div>-->

    <div th:replace="~{fragments/fabric/fragFabricScripts :: fabricScripts}"></div>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#transportationTableOak').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                },
                "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
                // columns width
                "autoWidth": false,
                "bSort": false,
                "info": false,
                // id column visibility
                "columnDefs": [
                    {
                        "targets": [  ],
                        "visible": false,
                        "searchable": false
                    }
                ]

            });
        });

    </script>

    <!--    &lt;!&ndash; Транспортировка &ndash;&gt;-->
</th:block>