<!--//Package STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="packageStorage"><!-- Пачки -->
    <div class="tab-pane fade show active container-fluid" id="packagedproduct">
        <table class="table table-hover table-striped" id="packagedproducttable">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Высота, шт</th>
                <th scope="col">Ширина, шт</th>
                <th scope="col">Длина-ФАКТ</th>
                <th scope="col">Высота/Ширина</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ps, index : ${packagedProductsList}" th:id="${ps.id}">
                <td th:text="${ps.id}"></td>
                <th scope="row" th:text="${ps.codeOfPackage}">20-1С3-2605-1-2805</th>
                <td th:text="${ps.breedOfTree.breed}"></td>
                <td th:text="${ps.breedDescription}"></td>
                <td th:text="${ps.sizeOfHeight}"></td>
                <td th:text="${ps.sizeOfWidth}"></td>
                <td th:text="${ps.sizeOfLong}"></td>
                <td th:text="${ps.countOfDesk}"></td>
                <td th:text="${ps.extent}"></td>
                <td th:text="${ps.countDeskInHeight}"></td>
                <td th:text="${ps.countDeskInWidth}"></td>
                <td th:text="${ps.longFact}"></td>
                <td th:text="${ps.height_width}"></td>
                <td>
                    <button  type="button" class="btn btn-primary btn-sm" onclick="packageUnform(this)">
                        <i class="fa fa-times" data-toggle="tooltip" title="Расформировать пачку"></i>
                    </button>
                </td>

            </tr>
            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Высота, шт</th>
                <th scope="col">Ширина, шт</th>
                <th scope="col">Длина-ФАКТ</th>
                <th scope="col">Высота/Ширина</th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить к погрузке" data-placement="left" id ="buttonForTransportation">
                <i class="fas fa-truck-loading"></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>


    <!-- Send list for transportation modal begin -->
    <div class="modal fade" id="sendForTransportationModal">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Погрузить</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/createDeliveryDoc-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <!-- Selected row -->
                        <table class="table table-hover table-striped" id="tableForTransportation">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">№ пачки</th>
                                <th scope="col">Порода</th>
                                <th scope="col">Опис.</th>
                                <th scope="col">Толщ.</th>
                                <th scope="col">Шир.</th>
                                <th scope="col">Дл.</th>
                                <th scope="col">Кол-во</th>
                                <th scope="col">Куб.</th>
                                <th scope="col">В/Ш</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="listOfPackageId">
                            <!-- <tr></tr> -->
                            </tbody>
                        </table>
                        <!-- Selected row -->

                        <!-- Insert rows -->
                        <div class="form-group container">
                            <input type="text" class="form-control" id="addRawStorageId" hidden="hidden" autocomplete="off">

                            <label class="col-form-label" for="addIdOfTruck">№ выгрузки</label>
                            <input type="text" class="form-control" placeholder="" id="addIdOfTruck" pattern="[0-9]*\.?[0-9]*" autocomplete="off" required="required">
                            <input type="text" hidden="hidden" id="breedID">
                            <input type="text" hidden="hidden" id="userID">


                            <br>

                            <div class="form-group row">
                                <label for="driverCredentionals" class="col-6 col-form-label">Имя, Фамилия водителя</label>
                                <label for="driverPhone" class="col-6 col-form-label">Телефон</label>

                                <div class="col-6">
                                    <input type="text" class="form-control" id="driverCredentionals" required="required" autocomplete="off">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="driverPhone" required="required" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="numberOfTruck" class="col-6 col-form-label">Номер фуры</label>
                                <label for="numberOfTrailer" class="col-6 col-form-label">Номер прицепа</label>

                                <div class="col-6">
                                    <input type="text" class="form-control" id="numberOfTruck" required="required" autocomplete="off">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="numberOfTrailer" required="required" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="packDateInput" class="col-6 col-form-label">Дата выгрузки</label>
                                <label for="packTimeInput" class="col-6 col-form-label">Время выгрузки</label>

                                <div class="col-6">
                                    <input class="form-control" type="date" id="packDateInput" required="required" name="dateOfUnloading">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="packTimeInput" required="required" autocomplete="off" name="timeOfUnloading">
                                </div>
                            </div>

                        </div>
                        <script type="text/javascript">
                            document.querySelector("#packDateInput").valueAsDate = new Date();
                        </script>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="sendRequestToCreateDeleviry()">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Send list for transportation end -->

    <!--  Modal confirmation  -->
    <div class="modal fade" id="unformPackModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Расформирование пачек</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       TUT         -->
                <form th:action="@{'/fabric/unformPackagedProduct-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                <!--       TUT                 -->

                        <div class="form-group">
                            <input type="text" class="form-control" id="unformPackModalId" hidden="hidden" autocomplete="off" name="id">

                            <p id="unformPackModalConfirmation">
                                Вы уверены, что хотите расформировать пачку ?
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Расформировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function packageUnform(btnObj) {
            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#unformPackModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var codeOfPackage = $(trObj).find('th:eq(0)').text();

            $('#unformPackModalConfirmation').text("Вы уверены, что хотите расформировать пачку "+codeOfPackage+" ?");
            $('#unformPackModal').modal('show');
        }
    </script>
    <!--  Modal confirmation  -->

    <!-- Пачки -->

    <div th:replace="~{fragments/fabric/fragFabricScripts :: fabricScripts}"></div>

    <script type="text/javascript">
        $(document).ready( function () {
            var table = $('#packagedproducttable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                },
                "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
                "order": [ 0, "desc" ],
                // columns width
                "autoWidth": false,
                // 'select': true,
                // id column visibility
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": -1,
                        "orderable": false,
                        "width": "30px"
                    }
                ]

            });


            //            SELECT
            $('#packagedproducttable tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );
            //            SELECT


            $( "#buttonForTransportation" ).click(function() {

                modalPackagesTable.clear().draw();
                var newData = ( table.rows( '.selected' ).data() );
                var array = [];

                for (var i = newData.length - 1; i >= 0; i--) {

                    var id =			newData[i][0];
                    var code = 			newData[i][1];
                    var material = 		newData[i][2];
                    var description = 	newData[i][3];
                    var thickness = 	newData[i][4];
                    var width = 		newData[i][5];
                    var length = 		newData[i][6];
                    var count = 		newData[i][7];
                    var extent = 		newData[i][8];
                    var heightPc = 		newData[i][9];
                    var widthPc = 		newData[i][10];
                    var wh = heightPc.toString()+"/"+widthPc.toString();
                    var button =        "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";

                    var d=[id, code, material, description, thickness, width, length, count, extent, wh, button];

                    array[i] = id;

                    modalPackagesTable.row.add(d).draw( false );
                }
                console.log(array);
                $('#sendForTransportationModal').modal('show');
            });


            var modalPackagesTable = $('#tableForTransportation').DataTable({
                // columns width
                "autoWidth": false,
                "bSort" : false,
                "searching": false,
                "paging": false,
                "info": false,
                'select': false,
                // id column visibility
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": true,
                        "searchable": true
                    },
                ]

            });


            $('#tableForTransportation tbody').on( 'click', 'button', function () {
                modalPackagesTable.row( $(this).parents('tr') ).remove().draw();
            } );



        });
    </script>

    <!-- Transportation -->
    <script type="text/javascript">
        // listener for opening and closing
        $('#transportationtable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                // already open
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // open row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );

        function sendRequestToCreateDeleviry() {
            var arrOfTr = document.getElementById("listOfPackageId").getElementsByTagName("tr");
            console.log("arr length = "+arrOfTr.length);
            var idOfTruck1 = $("#addIdOfTruck").val();
            var name1 = $("#driverCredentionals").val();
            var phone1 = $("#driverPhone").val();
            var numberOfTruck1 = $("#numberOfTruck").val();
            var numberOfTrailer1 = $("#numberOfTrailer").val();
            var date1 = $("#packDateInput").val();
            var time1 = $("#packTimeInput").val();
            var breedID = $("#breedID").val();
            var userID = $("#userID").val();


            var arrayOfId = [];

            for (var i = 0; i<arrOfTr.length;i++){
                arrayOfId[i] = $(arrOfTr[i]).find('td:eq(0)').text();
            }

            if (arrayOfId[0]!="No data available in table" && idOfTruck1 != "" && name1 != "" && phone1 != "" && numberOfTruck1 != "" && numberOfTrailer1 != "" && date1 != "" && time1 != ""){

            $.ajax({
                method: "post",
                url: "/createDeliveryDoc-"+userID+"-"+breedID,
                contextType: "application/json",
                data: {
                    list: arrayOfId,
                    name: name1,
                    phone: phone1,
                    idOfTruck: idOfTruck1,
                    numberOfTruck: numberOfTruck1,
                    numberOfTrailer: numberOfTrailer1,
                    dateOfUnloading: date1,
                    timeOfUnloading: time1
                },
                traditional: true,
                success: function () {
                    location.reload();
                },
                error: function () {
                   alert("Error");
                }
            });}
            else {
                alert("Заполните все поля!");
            }

        }
    </script>


</th:block>






<!-- OAK Package Storage-->
<!-- OAK Package Storage-->
<!-- OAK Package Storage-->
<!-- OAK Package Storage-->

<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="packageStorageOak">

        <!-- Транспортировка -->
        <div class="tab-pane fade show active container-fluid" id="transportation">

            <table class="table table-hover table-striped" id="packageOakTableId">
                <br>
                <thead>
                <tr>
                    <th></th>
                    <th scope="col">№ пачки</th>
                    <th scope="col">Качество</th>
                    <th scope="col">Размер</th>
                    <th scope="col">Длина</th>
                    <th scope="col">Сум. ширина</th>
                    <th scope="col">Кол. досок</th>
                    <th scope="col">Кубатура</th>
                </tr>
                </thead>
                <tbody>
                      <div th:each="p, index : ${packageOakList}">
                              <tr>
                                  <td  class="details-control" onclick="javascript:$('#parent'+this.id).toggle();" th:id="${p.id}"></td>
                                  <td th:text="${p.codeOfPackage}"></td>
                                  <td th:text="${p.quality}"></td>
                                  <td th:text="${p.sizeOfHeight}"></td>
                                  <td th:text="${p.sizeOfLong}"></td>
                                  <td th:text="${p.sumWidthOfAllDesk}"></td>
                                  <td th:text="${p.countOfDesk}"></td>
                                  <td th:text="${p.extent}"></td>
                              </tr>
                              <tr style="display:none" th:id="'parent'+${p.id}">
                                  <td colspan="13" class="child-table">
                                      <table class="table table-hover table-striped parent-table" id="packages">
                                          <thead>
                                          <tr>
                                              <th scope="col">Ширина, мм</th>
                                              <th scope="col">Количество досок</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr th:each="l, index : ${p.deskOakList}" th:id="${l.id}">
                                              <td th:text="${l.sizeOfWidth}"></td>
                                              <td th:text="${l.countOfDesk}"></td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                                  <td style="display:none"></td>
                              </tr>
                      </div>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th scope="col">№ пачки</th>
                    <th scope="col">Качество</th>
                    <th scope="col">Размер</th>
                    <th scope="col">Длина</th>
                    <th scope="col">Сум. ширина</th>
                    <th scope="col">Кол. досок</th>
                    <th scope="col">Кубатура</th>
                </tr>
                </tfoot>
            </table>
        </div>


    <div th:replace="~{fragments/fabric/fragFabricScripts :: fabricScripts}"></div>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#packageOakTableId').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                },
                "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
                // columns width
                "autoWidth": false,
                "bSort":false,
                // 'select': true,
                // id column visibility
                "columnDefs": [
                    {
                        "targets": -1,
                        "orderable": false,
                        "width": "30px"
                    }
                ]

            });



            $('#packageOakTableId tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );



        });

    </script>


</th:block>
