<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="deliveryInfo">

    <!-- Транспортировка -->
    <div class="tab-pane fade show active container-fluid" id="transportation">

        <table class="table table-hover table-striped" id="transportationtable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">№ выгрузки</th>
                <th scope="col">А/М</th>
                <th scope="col">П/П</th>
                <th scope="col">Дата выгрузки</th>
                <th scope="col">Время выгрузки</th>
                <th scope="col">Водитель</th>
                <th scope="col">Телефон</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td  class="details-control" onclick="javascript:$('#parentId1').toggle();"></td>
                <td>220235345</td>
                <td>DC 3456 VC</td>
                <td>DF 3456 DR</td>
                <td>21.05.2020</td>
                <td>9:30-10:00</td>
                <td>Dominik Toretto</td>
                <td>88005553535</td>
            </tr>
            <tr style="display:none" id="parentId1">
                <td colspan="13" class="child-table">
                    <table class="table table-hover table-striped parent-table" id="packages">
                        <thead>
                        <tr>
                            <th scope="col">№ пачки</th>
                            <th scope="col">Порода</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Толщина</th>
                            <th scope="col">Ширина</th>
                            <th scope="col">Длина</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Кубатура</th>
                            <th scope="col">Высота</th>
                            <th scope="col">Ширина</th>
                            <th scope="col">Длина-ФАКТ</th>
                            <th scope="col">В/Ш</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">20-1С-0506-2</th>
                            <td>Сосна</td>
                            <td>df</td>
                            <td>38</td>
                            <td>90</td>
                            <td>3050</td>
                            <td>876</td>
                            <td>9,138</td>
                            <td>20</td>
                            <td>10</td>
                            <td>6000</td>
                            <td>10/12</td>
                        </tr>
                        <tr>
                            <th scope="row">20-1С-0506-1</th>
                            <td>Сосна</td>
                            <td>dhj</td>
                            <td>28</td>
                            <td>90</td>
                            <td>3050</td>
                            <td>86</td>
                            <td>9,138</td>
                            <td>20</td>
                            <td>10</td>
                            <td>6000</td>
                            <td>10/12</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
            </tr>





            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th scope="col">№ выгрузки</th>
                <th scope="col">А/М</th>
                <th scope="col">П/П</th>
                <th scope="col">Дата выгрузки</th>
                <th scope="col">Время выгрузки</th>
                <th scope="col">Водитель</th>
                <th scope="col">Телефон</th>
            </tr>
            </tfoot>
        </table>

    </div>
    <!-- Транспортировка -->

</th:block>