<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="deliveryInfo">

    <!-- Транспортировка -->
    <div class="tab-pane fade show active container-fluid" id="transportation">

        <table class="table table-hover table-striped" id="transportationtable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">№ выгрузки</th>
                <th scope="col">А/М</th>
                <th scope="col">П/П</th>
                <th scope="col">Дата выгрузки</th>
                <th scope="col">Время выгрузки</th>
                <th scope="col">Водитель</th>
                <th scope="col">Телефон</th>
                <th scope="col">№ контракта</th>
                <th scope="col">Назначение</th>
                <th scope="col">Примечание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                  <div th:each="dd, index : ${deliveryDocumentations}">
                          <tr >
                              <td  class="details-control" onclick="javascript:$('#parent'+this.id).toggle();" th:id="${dd.id}"></td>
                              <td th:text="${dd.driverInfo.getIdOfTruck()}"></td>
                              <td th:text="${dd.driverInfo.getNumberOfTruck()}"></td>
                              <td th:text="${dd.driverInfo.getNumberOfTrailer()}"></td>
                              <td th:text="${dd.getDateOfUnloading()}"></td>
                              <td th:text="${dd.getTimeOfUnloading()}"></td>
                              <td th:text="${dd.driverInfo.getFullName()}"></td>
                              <td th:text="${dd.driverInfo.getPhone()}"></td>
                              <td th:text="${dd.orderInfo?.codeOfOrder}"></td>
                              <td th:text="${dd.destinationType}"></td>
                              <td th:text="${dd.description}"></td>
                              <td>
                                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editDriverInfo(this)">
                                      <i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i>
                                  </button>
                                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="addDriverPackage(this)">
                                      <i class="fas fa-plus" data-toggle="tooltip" title="Добавить пачку"></i>
                                  </button>
                                  <form th:action="@{'/fabric/exportDeliveryInfo-'+${dd.id}}" method="post" style="display: contents;">
                                      <button  type="submit" class="btn btn-primary btn-sm" onclick="exportDataByDriver(this)">
                                          <i class="far fa-file-excel" data-toggle="tooltip" title="Экспортировать"></i>
                                      </button>
                                  </form>
                              </td>
                          </tr>
                          <tr style="display:none" th:id="'parent'+${dd.id}">
                              <td colspan="13" class="child-table">
                                  <table class="table table-hover table-striped parent-table" id="packages">
                                      <thead>
                                      <tr>
                                          <th scope="col">№ пачки</th>
                                          <th scope="col">Порода</th>
                                          <th scope="col">Описание</th>
                                          <th scope="col">Толщина</th>
                                          <th scope="col">Ширина</th>
                                          <th scope="col">Длина</th>
                                          <th scope="col">Кол-во</th>
                                          <th scope="col">Кубатура</th>
                                          <th scope="col">Высота</th>
                                          <th scope="col">Ширина</th>
                                          <th scope="col">Длина-ФАКТ</th>
                                          <th scope="col">В/Ш</th>
                                          <th></th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr th:each="ps, index : ${dd.getProductList()}" th:id="${ps.id}">
                                          <th scope="row" th:text="${ps.codeOfPackage}"></th>
                                          <td th:text="${ps.breedOfTree.breed}"></td>
                                          <td th:text="${ps.breedDescription}"></td>
                                          <td th:text="${ps.sizeOfHeight}"></td>
                                          <td th:text="${ps.sizeOfWidth}"></td>
                                          <td th:text="${ps.sizeOfLong}"></td>
                                          <td th:text="${ps.countOfDesk}"></td>
                                          <td th:text="${ps.extent}"></td>
                                          <td th:text="${ps.countDeskInHeight}"></td>
                                          <td th:text="${ps.countDeskInWidth}"></td>
                                          <td th:text="${ps.longFact}"></td>
                                          <td th:text="${ps.height_width}"></td>
                                          <td style="width: 70px">
                                              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editDriverPackage(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                                              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="deleteDriverPackage(this)"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Удалить"></i></button>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                              <td style="display:none"></td>
                          </tr>
                  </div>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th scope="col">№ выгрузки</th>
                <th scope="col">А/М</th>
                <th scope="col">П/П</th>
                <th scope="col">Дата выгрузки</th>
                <th scope="col">Время выгрузки</th>
                <th scope="col">Водитель</th>
                <th scope="col">Телефон</th>
                <th scope="col">№ контракта</th>
                <th scope="col">Назначение</th>
                <th scope="col">Примечание</th>
                <th></th>
            </tr>
            </tfoot>
        </table>

    </div>
    <!-- Транспортировка -->

<!--    Edit driver start-->
    <div class="modal fade" id="editDriverInfoModal">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  th:action="@{'/fabric/editDeliveryDocumentation-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <input type="number" id="driverId" hidden="" name="id">

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="editIdOfTruck">№ выгрузки</label>
                                <input type="text" class="form-control"  id="editIdOfTruck"  autocomplete="off" required="required" name="driverInfo.idOfTruck">
                            </div>
                            <div class="col-6">
                                <label for="editDriverCredentionals" class="col-form-label">Имя, Фамилия водителя</label>
                                <input type="text" class="form-control" id="editDriverCredentionals" required="required" autocomplete="off" name="driverInfo.fullName">
                            </div>
                            <div class="col-3">
                                <label for="editDriverPhone" class="col-form-label">Телефон</label>
                                <input type="text" class="form-control" id="editDriverPhone" required="required" autocomplete="off" name="driverInfo.phone">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-3">
                                <label for="editNumberOfTruck" class="col-form-label">Номер фуры</label>
                                <input type="text" class="form-control" id="editNumberOfTruck" required="required" autocomplete="off" name="driverInfo.numberOfTruck">
                            </div>
                            <div class="col-3">
                                <label for="editNumberOfTrailer" class="col-form-label">Номер прицепа</label>
                                <input type="text" class="form-control" id="editNumberOfTrailer" required="required" autocomplete="off" name="driverInfo.numberOfTrailer">
                            </div>
                            <div class="col-3">
                                <label for="editPackDateInput" class="col-form-label">Дата выгрузки</label>
                                <input class="form-control" type="date" id="editPackDateInput" required="required" name="dateOfUnloading">
                            </div>
                            <div class="col-3">
                                <label for="editPackTimeInput" class="col-form-label">Время выгрузки</label>
                                <input type="text" class="form-control" id="editPackTimeInput" required="required" autocomplete="off" name="timeOfUnloading">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-3">
                                <label for="editPackContractId" class="col-form-label">Код контракта</label>
                                <input type="text" class="form-control" list="contractList" id="editPackContractId" required="required" autocomplete="off" name="orderInfo.codeOfOrder">
                                <datalist id="contractList">
                                    <option th:each="b : ${contractList}"  th:value="${b.codeOfOrder}">
                                </datalist>
                            </div>
                            <div class="col-3">
                                <label for="editPackDeliveryDestination" class="col-form-label">Пункт назначения</label>
                                <input type="text" class="form-control" list="destinationType" id="editPackDeliveryDestination" required="required" autocomplete="off" name="destinationType">
                                <datalist id="destinationType">
                                    <option value="MULTIMODAL">
                                    <option value="PORT">
                                    <option value="COUNTRY">
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editDeliveryDescription">Примечания</label>
                                <input type="text" class="form-control" placeholder="" id="editDeliveryDescription"  autocomplete="off" name="description">
                            </div>
                        </div>

                    </div>

                    <!-- Insert rows -->
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Edit end-->

    <!--    Edit package start-->
    <div class="modal fade" id="editDriverPackagesModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать пачку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  th:action="@{'/fabric/editPackageProduct-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <input type="text" id="packageId" hidden="" name="id">

                        <label class="col-form-label" for="editIdOfPack">№ пачки</label>
                        <input type="text" class="form-control" placeholder="" id="editIdOfPack" autocomplete="off" required="required" name="codeOfPackage">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="editDeliveryBreedOfTree">Порода</label>
                                <input type="text" class="form-control" list="editBreedOfTreeList" id="editDeliveryBreedOfTree" required="required" autocomplete="off" name="breedOfTree.breed">
                                <datalist id="editBreedOfTreeList">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editBreedDescriptionDelivery">Описание</label>
                                <input type="text" class="form-control" id="editBreedDescriptionDelivery" autocomplete="off"  name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackThickness">Толщина</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackThickness" required="required" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackWidth">Ширина</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackWidth" required="required" autocomplete="off" name="sizeOfWidth">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackLength">Длина</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackLength" required="required" autocomplete="off" name="sizeOfLong">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackCount">Кол-во досок</label>
                                <input type="number" placeholder="шт" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackCount" required="required" autocomplete="off" name="countOfDesk">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackExtent">Кубатура</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*"  placeholder="м3" class="form-control" id="editDeliveryPackExtent" required="required" autocomplete="off" name="extent">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackHeightPc">Высота, шт.</label>
                                <input type="number" placeholder="шт" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackHeightPc" required="required" autocomplete="off" name="countDeskInHeight">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackWidthPc">Ширина, шт.</label>
                                <input type="number" placeholder="шт" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackWidthPc" required="required" autocomplete="off" name="countDeskInWidth">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackLengthFact">Длина - ФАКТ</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDeliveryPackLengthFact" required="required" autocomplete="off" name="longFact">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="editDeliveryPackWidthHeight">Высота/Ширина</label>
                                <input type="text" class="form-control" id="editDeliveryPackWidthHeight" placeholder="в/ш" autocomplete="off" name="height_width">
                            </div>
                        </div>

                    </div>

                    <!-- Insert rows -->
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Edit end-->

    <!--    Add package start-->
    <div class="modal fade" id="addDriverPackagesModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить пачку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  th:action="@{'/fabric/addPackageProduct-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <input type="number" id="driverDeliveryId" hidden="" name="docId">

                        <label class="col-form-label" for="addIdOfPack">№ пачки</label>
                        <input type="text" class="form-control" placeholder="" id="addIdOfPack" autocomplete="off" required="required" name="codeOfPackage">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="addDeliveryBreedOfTree">Порода</label>
                                <input type="text" class="form-control" list="addBreedOfTreeList" id="addDeliveryBreedOfTree" required="required" autocomplete="off" name="breedOfTree.breed">
                                <datalist id="addBreedOfTreeList">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addBreedDescriptionDelivery">Описание</label>
                                <input type="text" class="form-control" id="addBreedDescriptionDelivery" autocomplete="off"  name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackThickness">Толщина</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackThickness" required="required" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackWidth">Ширина</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackWidth" required="required" autocomplete="off" name="sizeOfWidth">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackLength">Длина</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackLength" required="required" autocomplete="off" name="sizeOfLong">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackCount">Кол-во досок</label>
                                <input type="number" placeholder="шт" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackCount" required="required" autocomplete="off" name="countOfDesk">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackExtent">Кубатура</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*"  placeholder="м3" class="form-control" id="addDeliveryPackExtent" required="required" autocomplete="off" name="extent">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackHeightPc">Высота, шт.</label>
                                <input type="number" placeholder="шт" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackHeightPc" required="required" autocomplete="off" name="countDeskInHeight">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackWidthPc">Ширина, шт.</label>
                                <input type="number" placeholder="шт" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackWidthPc" required="required" autocomplete="off" name="countDeskInWidth">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackLengthFact">Длина - ФАКТ</label>
                                <input type="number" placeholder="мм" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDeliveryPackLengthFact" required="required" autocomplete="off" name="longFact">
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="addDeliveryPackWidthHeight">Высота/Ширина</label>
                                <input type="text" class="form-control" id="addDeliveryPackWidthHeight" placeholder="в/ш" autocomplete="off" name="height_width">
                            </div>
                        </div>

                    </div>

                    <!-- Insert rows -->
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Add end-->

    <!--  Modal confirmation  -->
    <div class="modal fade" id="deletePackModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление пачек</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       TUT         -->
                <form  th:action="@{'/fabric/deletePackageProduct-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <input type="text" class="form-control" id="deleteDeliveryId" hidden="hidden" autocomplete="off" name="deliveryId">
                            <input type="text" class="form-control" id="deletePackModalId" hidden="hidden" autocomplete="off" name="id">

                            <p id="deletePackModalConfirmation">
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  Modal confirmation  -->

    <script type="text/javascript">
        function editDriverInfo(btnObj) {
            let trObj = btnObj.parentElement.parentElement;
            // let trId =  $(trObj).attr('id');


            var trId =              $(trObj).find('td:eq(0)').attr('id');
            var truck =             $(trObj).find('td:eq(1)').text();
            var truckNum =          $(trObj).find('td:eq(2)').text();
            var trailerNum  =       $(trObj).find('td:eq(3)').text();
            var packDate  =         $(trObj).find('td:eq(4)').text();
            var packTime  =         $(trObj).find('td:eq(5)').text();
            var driver =            $(trObj).find('td:eq(6)').text();
            var phone =             $(trObj).find('td:eq(7)').text();
            var contract =          $(trObj).find('td:eq(8)').text();
            var destination =       $(trObj).find('td:eq(9)').text();
            var delDescription =    $(trObj).find('td:eq(10)').text();


            $('#editIdOfTruck')                 .val(truck);
            $('#editDriverCredentionals')       .val(driver);
            $('#editDriverPhone')               .val(phone);
            $('#editNumberOfTruck')             .val(truckNum);
            $('#editNumberOfTrailer')           .val(trailerNum);
            $('#editPackDateInput')             .val(packDate);
            $('#editPackTimeInput')             .val(packTime);
            $('#editPackContractId')            .val(contract);
            $('#editPackDeliveryDestination')   .val(destination);
            $('#editDeliveryDescription')       .val(delDescription);

            $('#editDriverInfoModal').modal('show');
        }
    </script>

    <script type="text/javascript">
        function editDriverPackage(btnObj) {
            let trObj = btnObj.parentElement.parentElement;
            let trId =  $(trObj).attr('id');
            $('#packageId').val(trId);

            var pack =              $(trObj).find('th:eq(0)').text();
            var breedOfTree =       $(trObj).find('td:eq(0)').text();
            var breedDescription =  $(trObj).find('td:eq(1)').text();
            var thickness =         $(trObj).find('td:eq(2)').text();
            var width =             $(trObj).find('td:eq(3)').text();
            var length =            $(trObj).find('td:eq(4)').text();
            var packCount =         $(trObj).find('td:eq(5)').text();
            var extent =            $(trObj).find('td:eq(6)').text();
            var heightPc =          $(trObj).find('td:eq(7)').text();
            var widthPc =           $(trObj).find('td:eq(8)').text();
            var lengthFact =        $(trObj).find('td:eq(9)').text();
            var widthHeight =       $(trObj).find('td:eq(10)').text();

            $('#editIdOfPack')                  .val(pack);
            $('#editDeliveryBreedOfTree')       .val(breedOfTree);
            $('#editBreedDescriptionDelivery')  .val(breedDescription);
            $('#editDeliveryPackThickness')     .val(thickness);
            $('#editDeliveryPackWidth')         .val(width);
            $('#editDeliveryPackLength')        .val(length);
            $('#editDeliveryPackCount')         .val(packCount);
            $('#editDeliveryPackExtent')        .val(extent);
            $('#editDeliveryPackHeightPc')      .val(heightPc);
            $('#editDeliveryPackWidthPc')       .val(widthPc);
            $('#editDeliveryPackLengthFact')    .val(lengthFact);
            $('#editDeliveryPackWidthHeight')    .val(widthHeight);

            $('#editDriverPackagesModal').modal('show');
        }
    </script>

    <script type="text/javascript">
        function addDriverPackage(btnObj) {
            let trObj = btnObj.parentElement.parentElement;
            let trId =  $(trObj).attr('id');
            $('#driverDeliveryId').val(trId);

            $('#addDriverPackagesModal').modal('show');
        }
    </script>

    <script type="text/javascript">
        function deleteDriverPackage(btnObj) {
            let trObj = btnObj.parentElement.parentElement;
            let trId =  $(trObj).attr('id');
            $('#deletePackModalId').val(trId);
            console.log(  $(trObj).attr('id'));

            let expandedObj = trObj.parentElement.parentElement.parentElement.parentElement;
            let expandedId = $(expandedObj).attr('id');
            console.log("fullId: "+expandedId);
            let deliveryId = expandedId.replace(/\D+/g, "");
            console.log("Id: "+deliveryId);

            $('#deleteDeliveryId').val(deliveryId);

            var codeOfPackage = $(trObj).find('th:eq(0)').text();

            $('#deletePackModalConfirmation').text(" Вы уверены, что хотите окончательно удалить пачку "+codeOfPackage+" ?");
            $('#deletePackModal').modal('show');
        }
    </script>


</th:block>





















<!--OAK DElivery info-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="deliveryInfoOak">


        <!-- Транспортировка OAK-->
        <div class="tab-pane fade show active container-fluid" id="transportation">

            <table class="table table-hover table-striped" id="transportationTableOak">
                <br>
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">№ выгрузки</th>
                        <th scope="col">А/М</th>
                        <th scope="col">П/П</th>
                        <th scope="col">Дата выгрузки</th>
                        <th scope="col">Время выгрузки</th>
                        <th scope="col">Водитель</th>
                        <th scope="col">Телефон</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="dd, index : ${deliveryDocumentations}">


                        <tr>
                            <td  class="details-control" onclick="javascript:$('#parent'+this.id).toggle();" th:id="${dd.id}"></td>
                            <td th:text="${dd.driverInfo.getIdOfTruck()}"></td>
                            <td th:text="${dd.driverInfo.getNumberOfTruck()}"></td>
                            <td th:text="${dd.driverInfo.getNumberOfTrailer()}"></td>
                            <td th:text="${dd.getDateOfUnloading()}"></td>
                            <td th:text="${dd.getTimeOfUnloading()}"></td>
                            <td th:text="${dd.driverInfo.getFullName()}"></td>
                            <td th:text="${dd.driverInfo.getPhone()}"></td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editOakDriverInfo(this)">
                                    <i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="addOakDriverPackage(this)">
                                    <i class="fas fa-plus" data-toggle="tooltip" title="Добавить пачку"></i>
                                </button>
                                <form th:action="@{'/fabric/exportDeliveryInfo-'+${dd.id}}" method="post" style="display: contents;">
                                    <button  type="submit" class="btn btn-primary btn-sm" onclick="exportDataByDriver(this)">
                                        <i class="far fa-file-excel" data-toggle="tooltip" title="Экспортировать"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <!--      LEVEL    2    START          -->
                        <tr style="display:none" th:id="'parent'+${dd.id}">
                            <td colspan="13" class="child-table">
                                <table class="table table-hover table-striped parent-table" id="packages">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">№ пачки</th>
                                            <th scope="col">Качество</th>
                                            <th scope="col">Размер</th>
                                            <th scope="col">Длина</th>
                                            <th scope="col">Сум. ширина</th>
                                            <th scope="col">Кол. досок</th>
                                            <th scope="col">Кубатура</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div th:each="ps, index : ${dd.getProductList()}">
                                            <tr th:id="${ps.id}">
                                                <td  class="details-control" onclick="javascript:$('#parent-parent'+this.id).toggle();" th:id="${ps.id}"></td>
                                                <th scope="row" th:text="${ps.codeOfPackage}">20-1С3-2605-1-2805</th>
                                                <td th:text="${ps.quality}"></td>
                                                <td th:text="${ps.sizeOfHeight}"></td>
                                                <td th:text="${ps.longFact}"></td>
                                                <td th:text="${ps.sumWidthOfAllDesk}"></td>
                                                <td th:text="${ps.countOfDesk}"></td>
                                                <td th:text="${ps.extent}"></td>
                                            </tr>

                                            <!--      LEVEL    3    START          -->
                                            <tr style="display:none" th:id="'parent-parent'+${ps.id}">
                                                <td colspan="13" class="child-table">
                                                    <table class="table table-hover table-striped parent-table" id="packages">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Ширина, мм</th>
                                                                <th scope="col">Количество досок</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr th:each="desc, index : ${ps.deskOakList}">
                                                                <td th:text="${desc.sizeOfWidth}"></td>
                                                                <td th:text="${desc.countOfDesk}"></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="display:none"></td>
                                                <td style="display:none"></td>
                                                <td style="display:none"></td>
                                                <td style="display:none"></td>
                                                <td style="display:none"></td>
                                                <td style="display:none"></td>
                                                <td style="display:none"></td>
                                            </tr>
                                            <!--      LEVEL    3    END          -->
                                        </div>

                                    </tbody>
                                </table>
                            </td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                        </tr>
                        <!--      LEVEL    2    END          -->
                    </div>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th scope="col">№ выгрузки</th>
                    <th scope="col">А/М</th>
                    <th scope="col">П/П</th>
                    <th scope="col">Дата выгрузки</th>
                    <th scope="col">Время выгрузки</th>
                    <th scope="col">Водитель</th>
                    <th scope="col">Телефон</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>

        </div>


    <!--    &lt;!&ndash; Транспортировка &ndash;&gt;-->
</th:block>