<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="fabricScripts">

    <script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{../js/datatables.js}"></script>
    <script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>

    <script type="text/javascript" th:src="@{../js/date-uk.js}"></script>

</th:block>