<!--// TREE STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="treeStorage">
    <div class="tab-pane fade show active container-fluid" id="treestorage">
        <table class="table table-hover table-striped" id="treestoragetable">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Поставщик id</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Дата прихода</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
             <tr th:each="ts : ${treeStorageList}" th:id="${ts.id}">
                    <td th:text="${ts.id}"></td>
                    <th scope="row" th:text="${ts.codeOfProduct}"></th>
                    <td th:text="${ts.breedOfTree.breed}"></td>
                    <td th:text="${ts.breedDescription}"></td>
                    <td th:text="${ts.contrAgent.nameOfAgent}"></td>
                    <td th:text="${ts.contrAgent.id}"></td>
                    <td th:text="${ts.extent}"></td>
                    <td th:text="${ts.date}"></td>
                    <td>
                        <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" onclick="showCutModal(this)">
                            <i class="fas fa-th" data-toggle="tooltip" title="Распиловка"></i>
                        </button>
                        <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" onclick="showEditModal(this)">
                            <i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i>
                        </button>
                    </td>
                </tr>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Поставщик id</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Дата прихода</th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button" th:if="${btnConfig?.equals('btnON')}">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
            <button type="button" class="buttons btn btn-primary" title="Добавить пиломатериалы" data-toggle="modal" data-placement="left" data-target="#addIncomeToRawStorageModal">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить кругляк" data-toggle="modal" data-placement="left" data-target="#addIncomeModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>

    <div class="modal fade" id="addIncomeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить кругляк</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addTreeStorageRow-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <label class="col-form-label" for="addCode">Код партии</label>
                        <input type="text" class="form-control" id="addCode" required="required" autocomplete="off" name="codeOfProduct" placeholder="Не заполнено">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px;">
                            <div class="col-6">
                                <label class="control-label" for="addMaterial">Порода</label>
                                <input class="form-control" id="addMaterial" type="text" placeholder="Порода" th:value="${breedOfTreeList[breedId-1].breed}" name="" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="addBreedDescription">Описание</label>
                                <input class="form-control" id="addBreedDescription" type="text" placeholder="Не заполнено" name="breedDescription" required="required">
                            </div>
                        </div>
                        <div>
                            <label class="col-form-label" for="addSupplier">Поставщик</label>
                            <input type="text" class="form-control" list="suppliers1" id="addSupplier" autocomplete="off" name="nameOfAgent" onchange="setHiddenValue(this)" placeholder="Не заполнено" required="required">
                            <datalist id="suppliers1">
                                <option  th:each="c : ${contrAgentList}" th:data-value="${c.id}" th:text="${c.nameOfAgent}" th:label="${c.addressOfCompany}"></option>
                            </datalist>
                            <input type="number" hidden="hidden"  name="contrAgent.id" id="addSupplier-hidden">
                        </div>
                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="addVolume">Кубатура</label>
                                <input type="number" min="0" step="any" class="form-control" placeholder="м3" id="addVolume" pattern="[0-9]*\.?[0-9]*" autocomplete="off" name="extent" required="required">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addIncomeDate">Дата прихода</label>
                                <input type="date" class="form-control" id="addIncomeDate" autocomplete="off" name="date" required="required">
                            </div>
                            <script type="text/javascript">
                                document.querySelector("#addIncomeDate").valueAsDate = new Date();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  Add to raw storage  -->
    <div class="modal fade" id="addIncomeToRawStorageModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить пиломатериалы</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addDeskFromProvider-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <label class="col-form-label" for="addToRawStorageCode">Код партии</label>
                        <input type="text" class="form-control" id="addToRawStorageCode" required="required" autocomplete="off" placeholder="Не заполнено" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px;">
                            <div class="col-6">
                                <label class="control-label" for="addToRawStorageMaterial">Порода</label>
                                <input class="form-control" id="addToRawStorageMaterial" type="text" placeholder="Порода" th:value="${breedOfTreeList[breedId-1].breed}" name="" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="addToRawStorageBreedDescription">Описание породы</label>
                                <input class="form-control" id="addToRawStorageBreedDescription" type="text" placeholder="Не заполнено"  name="breedDescription" >
                            </div>
                        </div>

                        <label class="col-form-label" for="addToRawStorageSupplier">Контракт</label>
                        <input type="text" class="form-control" list="suppliers3" id="addToRawStorageSupplier" autocomplete="off" name="nameOfAgent" placeholder="Не заполнено" onchange="setHiddenValue(this)">
                        <datalist id="suppliers3">
                            <option  th:each="c, index : ${orderList}" th:text="${c.codeOfOrder}" th:label="${c?.contrAgent?.nameOfAgent}" th:data-value="${c.id}"></option>
                        </datalist>
                        <input type="number" hidden="hidden"  name="contractId" id="addToRawStorageSupplier-hidden">


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="addToRawStorageThickness">Толщина</label>
                                <input class="form-control" id="addToRawStorageThickness" type="number" placeholder="мм" min="1" required="required" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="addToRawStorageWidth">Ширина</label>
                                <input class="form-control" id="addToRawStorageWidth" type="number" placeholder="мм" min="1" required="required" autocomplete="off" name="sizeOfWidth">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="addToRawStorageLength">Длина</label>
                                <input class="form-control" id="addToRawStorageLength" type="number" placeholder="мм" min="1" required="required" autocomplete="off" name="sizeOfLong">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="addToRawStorageCount">Количество досок</label>
                                <input class="form-control" id="addToRawStorageCount" type="number" placeholder="шт" min="1" required="required" autocomplete="off" name="countOfDesk">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // Add to raw storage  -->

    <div class="modal fade" id="cutModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cutModalHeader">Отправить на распиловку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/cutOfTreeStorage-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <!-- Insert rows -->
                        <div class="form-group" id="formGroupCutOfTreeStorage">
                            <input type="text" id="idOfTreeStorageRow" hidden="" name="idOfTreeStorageRow">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="addTreeStorageLeft">Осталось на складе</label>
                                    <input type="number" min="0" step="any" class="form-control" placeholder="м3" id="addTreeStorageLeft" pattern="[0-9]*\.?[0-9]*" autocomplete="off" required="required" name="extentOfTreeStorage">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="extentOfWaste">Отходы</label>
                                    <input type="number" min="0" step="any" class="form-control" placeholder="м3" id="extentOfWaste" pattern="[0-9]*\.?[0-9]*" autocomplete="off" required="required" name="extentOfWaste">
                                </div>
                            </div>

                            <label class="col-form-label" for="addRawStorageCode">Код</label>
                            <input type="text" class="form-control" id="addRawStorageCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="addRawStorageThickness">Толщина</label>
                                    <input type="number" class="form-control" id="addRawStorageThickness" required="required" autocomplete="off" placeholder="мм" min="1" name="sizeOfHeight">                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="addRawStorageWidth">Ширина</label>
                                    <input type="number" class="form-control" id="addRawStorageWidth" required="required" autocomplete="off" placeholder="мм" min="1" name="sizeOfWidth">                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="addRawStorageLength">Длина</label>
                                    <input type="number" class="form-control" id="addRawStorageLength" required="required" autocomplete="off" placeholder="мм" min="1" name="sizeOfLong">                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="addRawStorageCount">Количество досок</label>
                                    <input type="number" class="form-control" id="addRawStorageCount" required="required" autocomplete="off" placeholder="шт" min="1" name="countOfDesk">                                </div>
                            </div>
                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit income -->
    <div class="modal fade" id="editIncome">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editTreeStorageRow-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <input type="text" id="incomeTreeStorageId" hidden="" name="id">
                        <label class="col-form-label" for="editIncomeCode">Код партии</label>
                        <input type="text" class="form-control" id="editIncomeCode" required="required" autocomplete="off" placeholder="Не заполнено" name="codeOfProduct">


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px;">
                            <div class="col-6">
                                <label class="control-label" for="editIncomeMaterial">Порода</label>
                                <input class="form-control" id="editIncomeMaterial" type="text" placeholder="Порода" name="breedOfTreeType" th:value="${breedOfTreeList[breedId-1].breed}" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="editIncomeMaterialDesc">Описание</label>
                                <input class="form-control" id="editIncomeMaterialDesc" type="text" placeholder="Не заполнено"  name="breedDescription" required="required">
                            </div>
                        </div>
                        <div>
                            <label class="col-form-label" for="editIncomeSupplier">Поставщик</label>
                            <input type="text" class="form-control" list="suppliers2" id="editIncomeSupplier" autocomplete="off" name="nameOfAgent" placeholder="Не заполнено" onchange="setHiddenValue(this)" required="required">
                            <datalist id="suppliers2">
                                <option  th:each="c, index : ${contrAgentList}" th:text="${c.nameOfAgent}" th:data-value="${c.id}"></option>
                            </datalist>
                            <input type="number" hidden="hidden"  name="contrAgent.id" id="editIncomeSupplier-hidden">
                        </div>
                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editIncomeVolume">Кубатура</label>
                                <input type="number" step="any" min="0" class="form-control" placeholder="м3" id="editIncomeVolume" pattern="[0-9]*\.?[0-9]*" autocomplete="off" name="extent" required="required">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editIncomeDate">Дата прихода</label>
                                <input type="date" class="form-control" id="editIncomeDate" autocomplete="off" name="date" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit income -->
    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportTreeStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->

    <script type="text/javascript" th:src="@{../js/fabric/income/tree.storage.pine.js}"></script>

</th:block>











<!--// OAK TREE STORAGE TAB-->


<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="treeStorageOAK">
    <div class="tab-pane fade show active container-fluid" id="treestorage">
        <table class="table table-hover table-striped" id="treestoragetable">
            <br>
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Код партии</th>
                        <th scope="col">Порода</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Поставщик</th>
                        <th scope="col">Поставщик id</th>
                        <th scope="col">Кубатура, м<sup>3</sup></th>
                        <th scope="col">Дата прихода</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                        <tr th:each="ts : ${treeStorageList}" th:id="${ts.id}">
                            <td th:text="${ts.id}"></td>
                            <th scope="row" th:text="${ts.codeOfProduct}"></th>
                            <td th:text="${ts.breedOfTree.breed}"></td>
                            <td th:text="${ts.breedDescription}"></td>
                            <td th:text="${ts.contrAgent.nameOfAgent}"></td>
                            <td th:text="${ts.contrAgent.id}"></td>
                            <td th:text="${ts.extent}"></td>
                            <td th:text="${ts.date}"></td>
                            <td>
                                <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" onclick="showCutOakModal(this)">
                                    <i class="fas fa-th" data-toggle="tooltip" title="Распиловка"></i>
                                </button>
                                <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" onclick="showEditOakModal(this)">
                                    <i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i>
                                </button>
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Код партии</th>
                        <th scope="col">Порода</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Поставщик</th>
                        <th scope="col">Поставщик id</th>
                        <th scope="col">Кубатура, м<sup>3</sup></th>
                        <th scope="col">Дата прихода</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        <!-- BUTTON -->
        <div class="float-action-button" th:if="${btnConfig?.equals('btnON')}">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportOakModal">
                <i class="far fa-file-excel"></i></i>
            </button>
            <button type="button" class="buttons btn btn-primary" title="Добавить пиломатериалы" data-toggle="modal" data-placement="left" data-target="#addOakIncomeToRawStorageModal">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить кругляк" data-toggle="modal" data-placement="left" data-target="#addOakIncomeModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>

    <div class="modal fade" id="addOakIncomeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить кругляк</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addTreeStorageRow-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <label class="col-form-label" for="addOakCode">Код партии</label>
                        <input type="text" class="form-control" id="addOakCode" required="required" autocomplete="off" name="codeOfProduct" placeholder="Не заполнено">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="addOakMaterial">Порода</label>
                                <input class="form-control" id="addOakMaterial" type="text" placeholder="Порода" th:value="${breedOfTreeList[breedId-1].breed}" name="" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="addOakBreedDescription">Описание</label>
                                <input class="form-control" id="addOakBreedDescription" type="text"  name="breedDescription" placeholder="Не заполнено">
                            </div>
                        </div>
                        <div>
                            <label class="col-form-label" for="addOakSupplier">Поставщик</label>
                            <input type="text" class="form-control" list="suppliers1oak" id="addOakSupplier" autocomplete="off" name="nameOfAgent" placeholder="Не заполнено" onchange="setHiddenValue(this)">
                            <datalist id="suppliers1oak">
                                <option  th:each="c : ${contrAgentList}" th:data-value="${c.id}" th:text="${c.nameOfAgent}" th:label="${c.addressOfCompany}"></option>
                            </datalist>
                            <input type="number" hidden="hidden"  name="contrAgent.id" id="addOakSupplier-hidden">
                        </div>
                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="addOakVolume">Кубатура</label>
                                <input type="number" step="any" min="0" class="form-control" placeholder="м3" id="addOakVolume" pattern="[0-9]*\.?[0-9]*" autocomplete="off" name="extent" required="required">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addOakIncomeDate">Дата прихода</label>
                                <input type="date" class="form-control" id="addOakIncomeDate" autocomplete="off" name="date" required="required">
                            </div>
                            <script type="text/javascript">
                                document.querySelector("#addOakIncomeDate").valueAsDate = new Date();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  Add to raw storage  -->
    <div class="modal fade" id="addOakIncomeToRawStorageModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить пиломатериалы</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addDeskFromProvider-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <label class="col-form-label" for="addOakToRawStorageCode">Код партии</label>
                        <input type="text" class="form-control" id="addOakToRawStorageCode" required="required" autocomplete="off" placeholder="Не заполнено" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="addOakToRawStorageMaterial">Порода</label>
                                <input class="form-control" id="addOakToRawStorageMaterial" type="text" placeholder="Порода" th:value="${breedOfTreeList[breedId-1].breed}" name="" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="addOakToRawStorageBreedDescription">Описание породы</label>
                                <input class="form-control" id="addOakToRawStorageBreedDescription" type="text" placeholder="Не заполнено" name="breedDescription" required="required">
                            </div>
                        </div>

                        <label class="col-form-label" for="addOakToRawStorageSupplier">Контракт</label>
                        <input type="text" class="form-control" list="suppliers3oak" id="addOakToRawStorageSupplier" autocomplete="off" name="nameOfAgent" placeholder="Не заполнено" onchange="setHiddenValue(this)">
                        <datalist id="suppliers3oak">
                            <option  th:each="c, index : ${orderList}" th:text="${c.codeOfOrder}" th:label="${c?.contrAgent?.nameOfAgent}" th:data-value="${c.id}"></option>
                        </datalist>
                        <input type="number" hidden="hidden"  name="contractId" id="addOakToRawStorageSupplier-hidden">


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="control-label" for="addOakToRawStorageThickness">Толщина</label>
                                <input class="form-control" id="addOakToRawStorageThickness" type="number" placeholder="мм" min="1" required="required" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addOakToRawStorageVolume">Кубатура</label>
                                <input type="number" step="any" min="0" class="form-control" placeholder="м3" id="addOakToRawStorageVolume" pattern="[0-9]*\.?[0-9]*" autocomplete="off" name="extent" required="required">
                            </div>
                        </div>

                        <label class="col-form-label" for="addOakToRawStorageDesc">Примечания</label>
                        <input type="text" class="form-control" id="addOakToRawStorageDesc"  autocomplete="off" name="description" placeholder="Не заполнено">
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- // Add to raw storage  -->

    <div class="modal fade" id="cutOakModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cutOakModalHeader">Отправить на распиловку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/cutOfTreeStorage-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <!-- Insert rows -->
                        <div class="form-group" id="formGroupCutOfOakTreeStorage">
                            <input type="text" id="idOfOakTreeStorageRow" hidden="" name="idOfTreeStorageRow">

                            <label class="col-form-label" for="cutOakRawStorageCode">Код</label>
                            <input type="text" class="form-control" id="cutOakRawStorageCode" required="required" autocomplete="off" placeholder="Не заполнено" name="codeOfProduct">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="addRawStorageBreed">Порода</label>
                                    <input type="text" class="form-control" id="addRawStorageBreed" required="required" disabled="disabled" autocomplete="off" th:value="${breedOfTreeList[breedId-1].breed}">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="cutOakRawStorageBreedDesc">Описание</label>
                                    <input type="text" class="form-control" id="cutOakRawStorageBreedDesc" autocomplete="off" placeholder="Не заполнено" name="breedDescription">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="cutOakRawStorageExtent">Кубатура после распиловки</label>
                                    <input type="number" min="0" step="any" class="form-control" id="cutOakRawStorageExtent" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" placeholder="м3" name="extent">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="cutOakRawStorageUsedExtent">Использовано кругляка</label>
                                    <input type="number" min="0" step="any" class="form-control" id="cutOakRawStorageUsedExtent" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" placeholder="м3" name="usedExtent">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="extentOfWasteOak">Отходы</label>
                                    <input type="number" min="0" step="any" class="form-control" placeholder="м3" id="extentOfWasteOak" pattern="[0-9]*\.?[0-9]*" autocomplete="off" required="required" name="extentOfWaste">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="cutOakRawStorageThickness">Толщина</label>
                                    <input type="number" class="form-control" id="cutOakRawStorageThickness" required="required" autocomplete="off" placeholder="мм" min="1" name="sizeOfHeight">
                                </div>
                            </div>

                            <label class="col-form-label" for="cutOakRawStorageDescription">Примечания</label>
                            <input type="text" class="form-control" id="cutOakRawStorageDescription" autocomplete="off" placeholder="Не заполнено" name="description">
                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit income -->
    <div class="modal fade" id="editOakIncome">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editTreeStorageRow-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <input type="text" id="incomeOakTreeStorageId" hidden="" name="id">

                        <label class="col-form-label" for="editOakIncomeCode">Код партии</label>
                        <input type="text" class="form-control" id="editOakIncomeCode" required="required" autocomplete="off" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px">
                            <div class="col-6">
                                <label class="control-label" for="editOakIncomeMaterial">Порода</label>
                                <input class="form-control" id="editOakIncomeMaterial" type="text" name="breedOfTreeType" th:value="${breedOfTreeList[breedId-1].breed}" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="editOakIncomeMaterialDesc">Описание</label>
                                <input class="form-control" id="editOakIncomeMaterialDesc" type="text" placeholder="Не заполнено" name="breedDescription" >
                            </div>
                        </div>
                        <div>
                            <label class="col-form-label" for="editOakIncomeSupplier">Поставщик</label>
                            <input type="text" class="form-control" list="suppliers2oak" id="editOakIncomeSupplier" placeholder="Не заполнено" required="required" autocomplete="off" name="nameOfAgent" onchange="setHiddenValue(this)">
                            <datalist id="suppliers2oak">
                                <option  th:each="c : ${contrAgentList}" th:data-value="${c.id}" th:text="${c.nameOfAgent}" th:label="${c.addressOfCompany}"></option>
                            </datalist>
                            <input type="number" hidden="hidden"  name="contrAgent.id" id="editOakIncomeSupplier-hidden">
                        </div>
                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editOakIncomeVolume">Кубатура</label>
                                <input type="number" min="0" step="any" class="form-control" placeholder="м3" id="editOakIncomeVolume" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" name="extent">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editOakIncomeDate">Дата прихода</label>
                                <input type="date" class="form-control" id="editOakIncomeDate" autocomplete="off" name="date" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit income -->
    <!-- Export start-->
    <div class="modal fade" id="exportOakModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportTreeStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->

    <script type="text/javascript" th:src="@{../js/fabric/income/tree.storage.oak.js}"></script>

</th:block>












