<!--//RAW STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="rawStorage">

    <div class="tab-pane fade show active container-fluid" id="rawstorage">
        <table class="table table-hover table-striped" id="rawstoragetable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rs, index : ${rawStorageList}" th:id="${rs.id}">
                <td th:text="${rs.id}"></td>
                <th scope="row" th:text="${rs.codeOfProduct}">20-1С3-2605-1-2805</th>
                <td th:text="${rs.breedOfTree.breed}"></td>
                <td th:text="${rs.breedDescription}"></td>
                <td th:text="${rs.sizeOfHeight}"></td>
                <td th:text="${rs.sizeOfWidth}"></td>
                <td th:text="${rs.sizeOfLong}"></td>
                <td th:text="${rs.countOfDesk}"></td>
                <td th:text="${rs.extent}"></td>
                <td>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForDrying(this)"><i class="fas fa-th" data-toggle="tooltip" title="В сушку"></i></button>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editRawStorage(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForPackagesStorage(this)"><i class="fas fa-cubes" data-toggle="tooltip" title="Формирование пачек"></i></button>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="returnToIncome(this)"><i class="fas fa-undo-alt" data-toggle="tooltip" title="Возвратить в приход"></i></button>
                </td>
            </tr>

            <tfoot>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button" th:if="${btnConfig?.equals('btnON')}">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>

    <div class="modal fade" id="sendForDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendForDryingModalHeader">Отправить в сушку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addDeskToDrying-'+${userId}+'-'+${breedId}}" method="post" id="sendForDryingModalFormPine">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="sendForDryingModalId" hidden="hidden" autocomplete="off" name="rawStorageId">

                            <label class="col-form-label" for="sendForDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="sendForDryingModalCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px">
                                <div class="col-6">
                                    <label class="control-label" for="sendForDryingModalMaterial">Порода</label>
                                    <input type="text" class="form-control" id="sendForDryingModalMaterial" disabled="disabled">
                                </div>
                                <div class="col-6">
                                    <label class="control-label" for="sendForDryingModalMaterialDescr">Описание</label>
                                    <input class="form-control" id="sendForDryingModalMaterialDescr" type="text" placeholder="Не заполнено"  name="breedDescription">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalThickness">Толщина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="sendForDryingModalThickness" disabled="disabled" required="required" placeholder="мм" name="sizeOfHeight">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalWidth">Ширина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" required="required" class="form-control" id="sendForDryingModalWidth" disabled="disabled" placeholder="мм" name="sizeOfWidth">
                                </div>

                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalLength">Длина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" required="required" class="form-control" id="sendForDryingModalLength" disabled="disabled" placeholder="мм" name="sizeOfLong">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalCount">Количество досок</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" required="required" class="form-control" id="sendForDryingModalCount" autocomplete="off" placeholder="шт" name="countOfDesk">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalVolume">Кубатура</label>
                                    <input type="number" min="0" step="any" pattern="[0-9]*\.?[0-9]*" placeholder="м3" class="form-control" id="sendForDryingModalVolume"  disabled="disabled" name="extent">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="addDryingDate">Дата выхода</label>
                                    <input class="form-control" type="date" id="addDryingDate"  name="date" required="required">
                                </div>
                                <script type="text/javascript">
                                    document.querySelector("#addDryingDate").valueAsDate = new Date();
                                </script>
                            </div>
                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Сушка edit-->
    <div class="modal fade" id="editDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDryingModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editRawStorageObj-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="editDryingModalId" hidden="hidden" autocomplete="off" name="id">

                            <label class="col-form-label" for="editDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="editDryingModalCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px">
                                <div class="col-6">
                                    <label class="control-label" for="editDryingModalMaterial">Порода</label>
                                    <input type="text" class="form-control" id="editDryingModalMaterial" disabled="disabled">
                                </div>
                                <div class="col-6">
                                    <label class="control-label" for="editDryingModalMaterialDescr">Описание</label>
                                    <input class="form-control" id="editDryingModalMaterialDescr" type="text" placeholder="Не заполнено" name="breedDescription">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-4">
                                    <label class="col-form-label" for="editDryingModalThickness">Толщина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalThickness" required="required" autocomplete="off" placeholder="мм" name="sizeOfHeight">
                                </div>
                                <div class="col-4">
                                    <label class="col-form-label" for="editDryingModalWidth">Ширина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalWidth" required="required" autocomplete="off" placeholder="мм" name="sizeOfWidth">
                                </div>
                                <div class="col-4">
                                    <label class="col-form-label" for="editDryingModalLength">Длина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalLength" required="required" autocomplete="off" placeholder="мм" name="sizeOfLong">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="editDryingModalCount">Количество досок</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalCount" required="required" autocomplete="off" placeholder="шт" name="countOfDesk">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="editDryingModalVolume">Кубатура</label>
                                    <input type="number" min="0" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalVolume" required="required" disabled="disabled" autocomplete="off" placeholder="мм">
                                </div>
                            </div>
                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportRawStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->

    <!-- Сырой склад -> Пачки -->
    <div class="modal fade" id="sendFromRawToPackageModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendForPackageModalHeader">Формирование пачек</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--     TUT         -->
                <form th:action="@{'/fabric/createRawPackages-'+${userId}+'-'+${breedId}}" method="post">
                <!--     TUT         -->
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <input type="text" class="form-control" id="sendForPackagesModalId" hidden="hidden" autocomplete="off" name="id">

                        <label class="col-form-label" for="sendForPackageModalCode">Код</label>
                        <input type="text" class="form-control" id="sendForPackageModalCode" required="required" autocomplete="off" name="codeOfProduct">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0; margin-top: 5px">
                            <div class="col-6">
                                <label class="control-label" for="sendForPackageModalMaterial">Порода</label>
                                <input type="text" class="form-control" id="sendForPackageModalMaterial" disabled="disabled">
                            </div>

                            <div class="col-6">
                                <label class="control-label" for="sendForPackageModalMaterialDescr">Описание</label>
                                <input class="form-control" id="sendForPackageModalMaterialDescr" type="text" name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalCount">Количество досок</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalCount" required="required" autocomplete="off" placeholder="шт" disabled="">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageHeightPc">Высота, шт.</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageHeightPc" required="required" autocomplete="off" placeholder="шт" name="height">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalWidthPc">Ширина, шт.</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalWidthPc" required="required" autocomplete="off" placeholder="шт" name="width">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalPacksCount">Количество пачек</label>
                                <input type="number" min="1" step="1" placeholder="шт" class="form-control" id="sendForPackageModalPacksCount" required="required" autocomplete="off" name="count">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end">
                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalLengthFact">Длина-ФАКТ</label>
                                <input type="number" min="1" class="form-control" id="sendForPackageModalLengthFact" required="required" autocomplete="off" placeholder="мм" name="longFact">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="sendForPackageModalHeightWidth">Высота/Ширина</label>
                                <input type="text" class="form-control" id="sendForPackageModalHeightWidth" required="required" autocomplete="off" placeholder="в/ш" name="heightWidth">
                            </div>
                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сформировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Сырой склад -> Пачки end-->

    <!--  Modal return confirmation start -->
    <div class="modal fade" id="returnToIncomeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Возвращение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       TUT         -->
                <form th:action="@{'/fabric/returnRawPackageToTree-'+${userId}+'-'+${breedId}}" method="post">
                <div class="modal-body">

                        <div class="form-group">
                            <input type="text" class="form-control" id="returnItemId" hidden="hidden" autocomplete="off" name="id">

                            <p id="returnItemModalConfirmation">
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Подтвердить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  Modal return confirmation end -->

    <script type="text/javascript" th:src="@{../js/fabric/raw/raw.storage.pine.js}"></script>

</th:block>












<!--OAK-->
<!--//RAW STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="rawStorageOAK">

    <div class="tab-pane fade show active container-fluid" id="rawstorage">
        <table class="table table-hover table-striped" id="rawstoragetable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Примечания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rs, index : ${rawStorageList}" th:id="${rs.id}">
                <td th:text="${rs.id}"></td>
                <th scope="row" th:text="${rs.codeOfProduct}">20-1С3-2605-1-2805</th>
                <td th:text="${rs.breedOfTree.breed}"></td>
                <td th:text="${rs.breedDescription}"></td>
                <td th:text="${rs.sizeOfHeight}"></td>
                <td th:text="${rs.extent}"></td>
                <td th:text="${rs.description}"></td>
                <td>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForDryingOak(this)"><i class="fas fa-th" data-toggle="tooltip" title="В сушку"></i></button>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editRawStorageOak(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForPackagesStorageOak(this)"><i class="fas fa-cubes" data-toggle="tooltip" title="Формирование пачек"></i></button>
                    <button th:if="${btnConfig?.equals('btnON')}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="returnToIncome(this)"><i class="fas fa-undo-alt" data-toggle="tooltip" title="Возвратить в приход"></i></button>

                </td>
            </tr>

            <tfoot>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Примечания</th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button" th:if="${btnConfig?.equals('btnON')}">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>


    <div class="modal fade" id="sendForDryingModalOak">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendForDryingModalHeader">Отправить в сушку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addDeskToDrying-'+${userId}+'-'+${breedId}}" method="post" id="sendForDryingModalFormOak">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="sendForDryingModalId" hidden="hidden" autocomplete="off" name="rawStorageId">

                            <label class="col-form-label" for="sendForDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="sendForDryingModalCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="control-label" for="sendForDryingModalMaterial">Порода</label>
                                    <input type="text" class="form-control" id="sendForDryingModalMaterial" disabled="disabled">
                                </div>
                                <div class="col-6">
                                    <label class="control-label" for="sendForDryingModalMaterialDescr">Описание</label>
                                    <input class="form-control" id="sendForDryingModalMaterialDescr" type="text" placeholder="Не заполнено"  name="breedDescription">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalThickness">Толщина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" required="required" class="form-control" id="sendForDryingModalThickness" disabled="disabled" name="sizeOfHeight">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalVolume">Кубатура</label>
                                    <input type="number" min="0" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" placeholder="м3" id="sendForDryingModalVolume"  name="extentOfDrying" required="required">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="addDryingDateOak">Дата выхода</label>
                                    <input class="form-control" type="date" id="addDryingDateOak"  name="date" required="required">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="sendForDryingModalDescription">Примечания</label>
                                    <input type="text" class="form-control" id="sendForDryingModalDescription" placeholder="Не заполнено" name="description">
                                </div>
                            </div>
                            <script type="text/javascript">
                                document.querySelector("#addDryingDateOak").valueAsDate = new Date();
                            </script>

                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary" id="sendForDryingModalSubmit">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Сушка edit-->
    <div class="modal fade" id="editDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDryingModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editRawStorageObj-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="editDryingModalId" hidden="hidden" autocomplete="off" name="id">

                            <label class="col-form-label" for="editDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="editDryingModalCode" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfProduct">

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="control-label" for="editDryingModalMaterial">Порода</label>
                                    <input type="text" class="form-control" id="editDryingModalMaterial" disabled="disabled">
                                </div>
                                <div class="col-6">
                                    <label class="control-label" for="editDryingModalMaterialDescr">Описание</label>
                                    <input class="form-control" id="editDryingModalMaterialDescr" placeholder="Не заполнено" type="text" name="breedDescription">
                                </div>
                            </div>

                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                                <div class="col-6">
                                    <label class="col-form-label" for="editDryingModalThickness">Толщина</label>
                                    <input type="number" min="1" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalThickness" required="required" autocomplete="off" placeholder="мм" name="sizeOfHeight">
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="editDryingModalVolume">Кубатура</label>
                                    <input type="number" min="0" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editDryingModalVolume" required="required"  autocomplete="off" placeholder="мм" name="extent">
                                </div>
                            </div>

                            <label class="col-form-label" for="editForDryingModalDescription">Примечания</label>
                            <input type="text" class="form-control" id="editForDryingModalDescription" placeholder="Не заполнено" name="description">

                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Сырой склад -> Пачки -->
    <div class="modal fade" id="sendFromRawToPackageOakModal">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title " id="sendForPackageModalOakHeader">Формирование пачки</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form >
                        <div class="modal-body">
                            <input type="text" id="sendForDryingModalIdOak" hidden="hidden" >
                            <input type="text" hidden="hidden" id="breedId" th:value="${breedId}">
                            <input type="text" hidden="hidden" id="userId" th:value="${userId}">

                            <div class="form-group row">
                                <div class="col-4">
                                    <label class="col-form-label" for="sendForPackageModalCodeOak">Код пачки</label>
                                    <input type="text" class="form-control" id="sendForPackageModalCodeOak" required="required" autocomplete="off" placeholder="Не заполнено">
                                </div>
                                <div class="col-4">
                                    <label class="control-label" for="sendForPackageModalQualityOak" style="padding-top: 7px">Качество</label>
                                    <input type="text" class="form-control" id="sendForPackageModalQualityOak" required="required" placeholder="Не заполнено">
                                </div>
                                <div class="col-2">
                                    <label class="control-label" for="sendForPackageModalSizeOak" style="padding-top: 7px">Размер</label>
                                    <input type="number" min="1" class="form-control" id="sendForPackageModalSizeOak" required="required" autocomplete="off" placeholder="мм">
                                </div>
                                <div class="col-2">
                                    <label class="col-form-label" for="sendForPackageModalLengthOak">Длина</label>
                                    <input type="number" min="1" class="form-control" id="sendForPackageModalLengthOak" required="required" autocomplete="off" placeholder="мм">
                                </div>
                            </div>

                            <hr>

                            <div class="form-group row d-flex" style="align-items: flex-end">
                                <div class="col-3">
                                    <label class="col-form-label" for="sendForPackageModalWidthOak">Ширина</label>
                                    <input type="number" min="0" step="10" class="form-control" id="sendForPackageModalWidthOak" required="required" autocomplete="off" placeholder="мм">
                                </div>
                                <div class="col-3">
                                    <label class="control-label" for="sendForPackageModalCountOak" style="padding-top: 7px">Количество</label>
                                    <input type="number" min="1" class="form-control" id="sendForPackageModalCountOak" required="required" autocomplete="off" placeholder="шт">
                                </div>
                                <div class="col-2">
                                    <label class="control-label" for="sendForPackageModalExtentOak" style="padding-top: 7px">Кубатура</label>
                                    <input type="text" disabled="disabled" class="form-control" id="sendForPackageModalExtentOak"  autocomplete="off" placeholder="м3">
                                </div>
                                <div class="col-4" style="display: inline-flex">
                                    <button id="buttonForAddingOakRow" type="button" class="btn btn-primary" style="margin-right: 5px">Добавить</button>
                                    <button type="button" class="btn btn-primary" id="createPackageOak" onclick="sendRequestCreatePackageOak(this)">Сформировать</button>
                                </div>
                            </div>

                            <table class="table table-hover table-striped" id="tableForTransportationOak">
                                <thead>
                                    <tr>
                                        <th scope="col">Толщина, мм</th>
                                        <th scope="col">Количество досок, шт</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="listOfPackageId">
                                <!-- <tr></tr> -->
                                </tbody>

                                <tfoot>
                                    <th scope="col">Толщина, мм</th>
                                    <th scope="col">Количество досок, шт</th>
                                    <th></th>
                                </tfoot>

                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="clearTableButton" data-dismiss="modal">Отмена</button>                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- Сырой склад -> Пачки end-->


    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  th:action="@{'/fabric/exportRawStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->

    <!--  Modal return confirmation start -->
    <div class="modal fade" id="returnToIncomeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Возвращение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       TUT         -->
                <form th:action="@{'/fabric/returnRawPackageToTree-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <input type="text" class="form-control" id="returnItemId" hidden="hidden" autocomplete="off" name="id">

                            <p id="returnItemModalConfirmation">
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Подтвердить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  Modal return confirmation end -->

    <script type="text/javascript" th:src="@{../js/fabric/raw/raw.storage.oak.js}"></script>
<!--    <script type="text/javascript" th:src="@{../js/fabric/dry/dry.storage.oak.js}"></script>-->

</th:block>