<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org"
          th:fragment="fabricNavigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand" href="#">SWIDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a class="nav-link" href="/admin/getListOfUserCompany">Админ панель</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Точки</a>
                </li>

                <!--Variant 1 - Dropdown  -->
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Материал</a>
                    <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                        <a class="dropdown-item" th:each="b : ${breedOfTreeList}" th:text="${b.breed}"  th:href="@{'/fabric/getListOfTreeStorage-'+${userId}+'-'+${b.id}}" >Сосна</a>
                    </div>
                </li>
                <!--Dropdown  -->

                <!-- Dropdown 1 start -->
                <li class="nav-item dropdown " th:classappend="${navTabName?.equals('delivery')} ? 'active':''" sec:authorize="hasRole('ROLE_SUPER_USER')">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Доставка</a>
                    <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                        <a class="dropdown-item" href="/multimodal/getMultimodalOrders">Мультимодал</a>
                        <a class="dropdown-item" href="/multimodal/getDeliveryInUkraine-1">Доставка по Украине</a>
                        <a class="dropdown-item" href="#">Порты</a>
                    </div>
                </li>


                <!-- Dropdown 2 start -->
                <li class="nav-item dropdown " sec:authorize="hasRole('ROLE_SUPER_USER')">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Вход от имени</a>
                    <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                        <a class="dropdown-item" th:each="u : ${userCompanyList}" th:text="${u.nameOfCompany}"  th:href="@{'/fabric/getListOfTreeStorage-'+${u.id}+'-1'}"></a>
                    </div>
                </li>
                <!--Dropdown 2 end -->

            </ul>
            <h5 style="color: white; margin: 0 10px 0 0" th:text="${(userCompanyName!=null)?userCompanyName.nameOfCompany:''}">User</h5>
            <img th:src="@{../img/users2_3.png}" width="50px" style="margin-right: 20px">
            <form class="form-inline my-2 my-lg-0" method="get" action="/logout">

                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Выйти <i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </nav>

    <script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{../js/datatables.js}"></script>
    <script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>
</th:block>