<!--//Drying STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="dryingStorage">

    <div class="tab-pane fade show active container-fluid" id="drying">
        <table class="table table-hover table-striped" id="dryingtable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ds, index : ${dryingStorageList}" th:id="${ds.id}">
                <td th:text="${ds.id}"></td>
                <th scope="row" th:text="${ds.codeOfProduct}">20-1С3-2605-1-2805</th>
                <td th:text="${ds.breedOfTree.breed}"></td>
                <td th:text="${ds.breedDescription}"></td>
                <td th:text="${ds.sizeOfHeight}"></td>
                <td th:text="${ds.sizeOfWidth}"></td>
                <td th:text="${ds.sizeOfLong}"></td>
                <td th:text="${ds.countOfDesk}"></td>
                <td th:text="${ds.extent}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForDrying(this)"><i class="fas fa-th" data-toggle="tooltip" title="На сухой склад"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editRawStorage(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                </td>
            </tr>



            <tfoot>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Кол-во досок, шт</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th></th>
            </tr>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>
    <div class="modal fade" id="sendForDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendForDryingModalHeader">Отправить в сушку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addDeskToDryStorage-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="sendForDryingModalId" hidden="hidden" autocomplete="off" name="dryingStorageId">

                            <label class="col-form-label" for="sendForDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="sendForDryingModalCode" required="required" autocomplete="off" name="codeOfProduct">

                            <label class="control-label" for="sendForDryingModalMaterial">Порода</label>
                            <input type="text" class="form-control" id="sendForDryingModalMaterial" disabled="disabled">

                            <label class="control-label" for="sendForDryingModalMaterialDescr">Описание</label>
                            <input class="form-control" id="sendForDryingModalMaterialDescr" type="text" disabled="disabled" name="breedDescription">

                            <label class="col-form-label" for="sendForDryingModalThickness">Толщина</label>
                            <input type="text" class="form-control" id="sendForDryingModalThickness" disabled="disabled" name="sizeOfHeight">

                            <label class="col-form-label" for="sendForDryingModalWidth">Шырина</label>
                            <input type="text" class="form-control" id="sendForDryingModalWidth" disabled="disabled" name="sizeOfWidth">

                            <label class="col-form-label" for="sendForDryingModalLength">Длина</label>
                            <input type="text" class="form-control" id="sendForDryingModalLength" disabled="disabled" name="sizeOfLong">

                            <label class="col-form-label" for="sendForDryingModalCount">Количество досок</label>
                            <input type="text" class="form-control" id="sendForDryingModalCount" required="required" disabled="disabled" autocomplete="off" placeholder="шт" name="countOfDesk">

                            <label class="col-form-label" for="sendForDryingModalVolume">Кубатура</label>
                            <input type="text" class="form-control" id="sendForDryingModalVolume" disabled="disabled" name="extent">

                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Сушка edit-->
    <div class="modal fade" id="editDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDryingModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editDryingStorageObj-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="editDryingModalId" hidden="hidden" autocomplete="off" name="id">

                            <label class="col-form-label" for="editDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="editDryingModalCode" required="required" autocomplete="off" name="codeOfProduct">

                            <label class="control-label" for="editDryingModalMaterial">Порода</label>
                            <input type="text" class="form-control" id="editDryingModalMaterial" disabled="disabled">

                            <label class="control-label" for="editDryingModalMaterialDescr">Описание</label>
                            <input class="form-control" id="editDryingModalMaterialDescr" type="text" disabled="disabled">

                            <label class="col-form-label" for="editDryingModalThickness">Толщина</label>
                            <input type="text" class="form-control" id="editDryingModalThickness" required="required" disabled="disabled" autocomplete="off" placeholder="мм" name="sizeOfHeight">

                            <label class="col-form-label" for="editDryingModalWidth">Шырина</label>
                            <input type="text" class="form-control" id="editDryingModalWidth" required="required" disabled="disabled" autocomplete="off" placeholder="мм" name="sizeOfWidth">

                            <label class="col-form-label" for="editDryingModalLength">Длина</label>
                            <input type="text" class="form-control" id="editDryingModalLength" required="required" disabled="disabled" autocomplete="off" placeholder="мм" name="sizeOfLong">

                            <label class="col-form-label" for="editDryingModalCount">Количество досок</label>
                            <input type="text" class="form-control" id="editDryingModalCount" required="required" autocomplete="off" placeholder="шт" name="countOfDesk">

                            <label class="col-form-label" for="editDryingModalVolume">Кубатура</label>
                            <input type="text" class="form-control" id="editDryingModalVolume" required="required" disabled="disabled" autocomplete="off" placeholder="мм">

                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportDryingStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->


    <script type="text/javascript">
        function sendForDrying(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#sendForDryingModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var codeOfRawStorage = $(trObj).find('th:eq(0)').text();
            $('#sendForDryingModalHeader').text("Отправить в сушку "+codeOfRawStorage);

            var code = $(trObj).find('th:eq(0)').text();
            var material = $(trObj).find('td:eq(0)').text();
            var description = $(trObj).find('td:eq(1)').text();
            var thickness = $(trObj).find('td:eq(2)').text();
            var width = $(trObj).find('td:eq(3)').text();
            var length = $(trObj).find('td:eq(4)').text();
            var count = $(trObj).find('td:eq(5)').text();
            var extent = $(trObj).find('td:eq(6)').text();

            $('#sendForDryingModalCode').val(code);
            $('#sendForDryingModalMaterial').val(material);
            $('#sendForDryingModalMaterialDescr').val(description);
            $('#sendForDryingModalThickness').val(thickness);
            $('#sendForDryingModalWidth').val(width);
            $('#sendForDryingModalLength').val(length);
            $('#sendForDryingModalCount').val(count);
            $('#sendForDryingModalVolume').val(extent);


            $('#sendForDryingModal').modal('show');
        }
        function editRawStorage(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#editDryingModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var codeOfRawStorage = $(trObj).find('th:eq(0)').text();
            $('#editDryingModalHeader').text("Редактировать "+codeOfRawStorage);

            var code = $(trObj).find('th:eq(0)').text();
            var material = $(trObj).find('td:eq(0)').text();
            var description = $(trObj).find('td:eq(1)').text();
            var thickness = $(trObj).find('td:eq(2)').text();
            var width = $(trObj).find('td:eq(3)').text();
            var length = $(trObj).find('td:eq(4)').text();
            var count = $(trObj).find('td:eq(5)').text();
            var extent = $(trObj).find('td:eq(6)').text();

            $('#editDryingModalCode').val(code);
            $('#editDryingModalMaterial').val(material);
            $('#editDryingModalMaterialDescr').val(description);
            $('#editDryingModalThickness').val(thickness);
            $('#editDryingModalWidth').val(width);
            $('#editDryingModalLength').val(length);
            $('#editDryingModalCount').val(count);
            $('#editDryingModalVolume').val(extent);


            $('#editDryingModal').modal('show');
        }
    </script>
</th:block>

<!--//    OAK   Drying STORAGE TAB-->
<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="dryingStorageOAK">

    <div class="tab-pane fade show active container-fluid" id="drying">
        <table class="table table-hover table-striped" id="dryingtable">
            <br>
            <thead>
            <tr>
                <th></th>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col">Кубатура, м<sup>3</sup></th>
                <th scope="col">Примечания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rs, index : ${dryingStorageList}" th:id="${rs.id}">
                <td th:text="${rs.id}"></td>
                <th scope="row" th:text="${rs.codeOfProduct}">20-1С3-2605-1-2805</th>
                <td th:text="${rs.breedOfTree.breed}"></td>
                <td th:text="${rs.breedDescription}"></td>
                <td th:text="${rs.sizeOfHeight}"></td>
                <td th:text="${rs.extent}"></td>
                <td th:text="${rs.description}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="sendForDrying(this)"><i class="fas fa-th" data-toggle="tooltip" title="В сушку"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="editRawStorage(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                </td>
            </tr>


            <tfoot>
                <tr>
                    <th></th>
                    <th scope="col">Код партии</th>
                    <th scope="col">Порода</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Толщина, мм</th>
                    <th scope="col">Кубатура, м<sup>3</sup></th>
                    <th scope="col">Примечания</th>
                    <th></th>
                </tr>
            </tfoot>
            </tbody>
        </table>
        <!-- BUTTON -->
        <div class="float-action-button">
            <button type="button" class="buttons btn btn-primary" title="Экспорт" data-toggle="modal" data-placement="left" data-target="#exportModal">
                <i class="far fa-file-excel"></i></i>
            </button>
        </div>
        <!-- BUTTON -->
    </div>
    <div class="modal fade" id="sendForDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendForDryingModalHeader">Отправить в сушку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/addDeskToDryStorage-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="sendForDryingModalId" hidden="hidden" autocomplete="off" name="dryingStorageId">

                            <label class="col-form-label" for="sendForDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="sendForDryingModalCode" required="required" autocomplete="off" name="codeOfProduct">

                            <label class="control-label" for="sendForDryingModalMaterial">Порода</label>
                            <input type="text" class="form-control" id="sendForDryingModalMaterial" disabled="disabled">

                            <label class="control-label" for="sendForDryingModalMaterialDescr">Описание</label>
                            <input class="form-control" id="sendForDryingModalMaterialDescr" type="text" disabled="disabled" name="breedDescription">

                            <label class="col-form-label" for="sendForDryingModalThickness">Толщина</label>
                            <input type="text" class="form-control" id="sendForDryingModalThickness" disabled="disabled" name="sizeOfHeight">

                            <label class="col-form-label" for="sendForDryingModalWidth">Шырина</label>
                            <input type="text" class="form-control" id="sendForDryingModalWidth" disabled="disabled" name="sizeOfWidth">

                            <label class="col-form-label" for="sendForDryingModalLength">Длина</label>
                            <input type="text" class="form-control" id="sendForDryingModalLength" disabled="disabled" name="sizeOfLong">

                            <label class="col-form-label" for="sendForDryingModalCount">Количество досок</label>
                            <input type="text" class="form-control" id="sendForDryingModalCount" required="required" disabled="disabled" autocomplete="off" placeholder="шт" name="countOfDesk">

                            <label class="col-form-label" for="sendForDryingModalVolume">Кубатура</label>
                            <input type="text" class="form-control" id="sendForDryingModalVolume" disabled="disabled" name="extent">

                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Отправить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Сушка edit-->
    <div class="modal fade" id="editDryingModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDryingModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/editDryingStorageObj-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">

                        <!-- Insert rows -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="editDryingModalId" hidden="hidden" autocomplete="off" name="id">

                            <label class="col-form-label" for="editDryingModalCode">Код</label>
                            <input type="text" class="form-control" id="editDryingModalCode" required="required" autocomplete="off" name="codeOfProduct">

                            <label class="control-label" for="editDryingModalMaterial">Порода</label>
                            <input type="text" class="form-control" id="editDryingModalMaterial" disabled="disabled">

                            <label class="control-label" for="editDryingModalMaterialDescr">Описание</label>
                            <input class="form-control" id="editDryingModalMaterialDescr" type="text" disabled="disabled">

                            <label class="col-form-label" for="editDryingModalThickness">Толщина</label>
                            <input type="text" class="form-control" id="editDryingModalThickness" required="required" disabled="disabled" autocomplete="off" placeholder="мм" name="sizeOfHeight">

                            <label class="col-form-label" for="editDryingModalWidth">Шырина</label>
                            <input type="text" class="form-control" id="editDryingModalWidth" required="required" disabled="disabled" autocomplete="off" placeholder="мм" name="sizeOfWidth">

                            <label class="col-form-label" for="editDryingModalLength">Длина</label>
                            <input type="text" class="form-control" id="editDryingModalLength" required="required" disabled="disabled" autocomplete="off" placeholder="мм" name="sizeOfLong">

                            <label class="col-form-label" for="editDryingModalCount">Количество досок</label>
                            <input type="text" class="form-control" id="editDryingModalCount" required="required" autocomplete="off" placeholder="шт" name="countOfDesk">

                            <label class="col-form-label" for="editDryingModalVolume">Кубатура</label>
                            <input type="text" class="form-control" id="editDryingModalVolume" required="required" disabled="disabled" autocomplete="off" placeholder="мм">

                        </div>
                        <!-- Insert rows -->
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Export start-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Экспортировать таблицу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/fabric/exportDryingStorageXLS-'+${userId}+'-'+${breedId}}" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="startDateInput" class="col-2 col-form-label">Начало</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2020-01-01" id="startDateInput" required="required" name="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDateInput" class="col-2 col-form-label">Конец</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="endDateInput" required="required" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Скачать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#endDateInput").valueAsDate = new Date();
    </script>
    <!-- Export end -->


    <script type="text/javascript">
        function sendForDrying(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#sendForDryingModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var codeOfRawStorage = $(trObj).find('th:eq(0)').text();
            $('#sendForDryingModalHeader').text("Отправить в сушку "+codeOfRawStorage);

            var code = $(trObj).find('th:eq(0)').text();
            var material = $(trObj).find('td:eq(0)').text();
            var description = $(trObj).find('td:eq(1)').text();
            var thickness = $(trObj).find('td:eq(2)').text();
            var width = $(trObj).find('td:eq(3)').text();
            var length = $(trObj).find('td:eq(4)').text();
            var count = $(trObj).find('td:eq(5)').text();
            var extent = $(trObj).find('td:eq(6)').text();

            $('#sendForDryingModalCode').val(code);
            $('#sendForDryingModalMaterial').val(material);
            $('#sendForDryingModalMaterialDescr').val(description);
            $('#sendForDryingModalThickness').val(thickness);
            $('#sendForDryingModalWidth').val(width);
            $('#sendForDryingModalLength').val(length);
            $('#sendForDryingModalCount').val(count);
            $('#sendForDryingModalVolume').val(extent);


            $('#sendForDryingModal').modal('show');
        }
        function editRawStorage(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#editDryingModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var codeOfRawStorage = $(trObj).find('th:eq(0)').text();
            $('#editDryingModalHeader').text("Редактировать "+codeOfRawStorage);

            var code = $(trObj).find('th:eq(0)').text();
            var material = $(trObj).find('td:eq(0)').text();
            var description = $(trObj).find('td:eq(1)').text();
            var thickness = $(trObj).find('td:eq(2)').text();
            var width = $(trObj).find('td:eq(3)').text();
            var length = $(trObj).find('td:eq(4)').text();
            var count = $(trObj).find('td:eq(5)').text();
            var extent = $(trObj).find('td:eq(6)').text();

            $('#editDryingModalCode').val(code);
            $('#editDryingModalMaterial').val(material);
            $('#editDryingModalMaterialDescr').val(description);
            $('#editDryingModalThickness').val(thickness);
            $('#editDryingModalWidth').val(width);
            $('#editDryingModalLength').val(length);
            $('#editDryingModalCount').val(count);
            $('#editDryingModalVolume').val(extent);


            $('#editDryingModal').modal('show');
        }
    </script>
</th:block>


