<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="statisticsPine">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div class="tab-pane fade show active container-fluid" id="pineStats">
        <br>
        <p class="text-muted" style="font-size: 14px; position: fixed; bottom: 0; left: 0; margin: 1em;"><i class="fas fa-info-circle"></i> Для множинного выбора зажмите <strong>Ctrl</strong>.</p>
        <table style="width: 100%;" >
            <tr>
                <th th:if="${breedId==2}"></th>
                <th scope="col">Описание</th>
                <th scope="col">Толщина, мм</th>
                <th scope="col" th:if="${breedId!=2}">Ширина, мм</th>
                <th scope="col">Длина, мм</th>
                <th scope="col">Производитель</th>
                <th scope="col">Стадия</th>
                <th th:if="${breedId==2}"></th>
            </tr>
            <tr style="vertical-align: top;">
                <td style="width: 7.5%" th:if="${breedId==2}"></td>
                <td style="width: 15%">
                    <select id="selectDescription" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option value="noDesc">без описания</option>
                        <option  th:each="obj : ${descList}" th:value="${obj}" th:text="${obj}"></option>
                    </select>
                </td>
                <td style="width: 15%">
                    <select id="selectSizeOfHeight" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  th:each="obj : ${sizeOfHeightList}" th:value="${obj}" th:text="${obj}"></option>
                    </select>
                </td>
                <td style="width: 15%" th:if="${breedId!=2}">
                    <select id="selectSizeOfWidth" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  th:each="obj : ${sizeOfWidthList}" th:value="${obj}" th:text="${obj}"></option>
                    </select>
                </td>
                <td style="width: 15%">
                    <select id="selectSizeOfLong" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  th:each="obj : ${sizeOfLongList}" th:value="${obj}" th:text="${obj}"></option>
                    </select>
                </td>
                <td style="width: 20%">
                    <select id="selectProvider" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  th:each="obj : ${providerList}" th:value="${obj.id}" th:text="${obj.nameOfAgent}"></option>
                    </select>
                </td>
                <td style="width: 20%">
                    <select id="selectStage" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  value="treeStorage">Кругляк</option>
                        <option  value="rawStorage">Сырой склад</option>
                        <option  value="dryingStorage">Сушка</option>
                        <option  value="dryStorage">Сухой склад</option>
                        <option  value="packagedProduct">Пачки</option>
                        <option  value="deliveryMultimodal">Доставка (Мультимодал)</option>
                        <option  value="deliveryPort">Доставка (Порты)</option>
                        <option  value="deliveryCountry">Доставка (Страна)</option>
                        <option  value="providerInWork">Материал (в работе)</option>
                        <option  value="recycleStorage">Переработка</option>
                    </select>
                </td>
                <td style="width: auto; align-items: end;">
                    <button class="btn btn-primary" onclick="sendRequestForStatistic(this.id)" th:id="${breedId}">
                        Поиск
                    </button>
                </td>
                <td style="width: 7.5%" th:if="${breedId==2}"></td>
            </tr>
        </table>
        <div style="display: flex; align-items: center; justify-content: center" id="chart">
            <div id="piechart" style="width: 900px; height: 500px; justify-content: center">
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function sendRequestForStatistic(breedId) {
            var descriptions =  $('#selectDescription').val();
            var sizeOfHeight =  $('#selectSizeOfHeight').val();
            var sizeOfWidth =   $('#selectSizeOfWidth').val();
            var sizeOfLong =    $('#selectSizeOfLong').val();
            var providers =     $('#selectProvider').val();
            var stages =        $('#selectStage').val();

            console.log(breedId);
            console.log(descriptions);
            console.log(sizeOfHeight);
            console.log(sizeOfWidth);
            console.log(sizeOfLong);
            console.log(providers);
            console.log(stages);

            if ((!Array.isArray(descriptions) || !descriptions.length)&&
                (!Array.isArray(sizeOfHeight) || !sizeOfHeight.length)&&
                (!Array.isArray(sizeOfWidth) || !sizeOfWidth.length)&&
                (!Array.isArray(sizeOfLong) || !sizeOfLong.length)&&
                (!Array.isArray(providers) || !providers.length)&&
                (!Array.isArray(stages) || !stages.length)){

                $("#selectDescription option").each(function()
                {
                    descriptions.push($(this).val());
                });

                $("#selectSizeOfHeight option").each(function()
                {
                    sizeOfHeight.push($(this).val());
                });

                $("#selectSizeOfWidth option").each(function()
                {
                    sizeOfWidth.push($(this).val());
                });

                $("#selectSizeOfLong  option").each(function()
                {
                    sizeOfLong.push($(this).val());
                });

                $("#selectProvider option").each(function()
                {
                    providers.push($(this).val());
                });

                $("#selectStage option").each(function()
                {
                    stages.push($(this).val());
                });
                ////////////////////////
                console.log("here")
                console.log(descriptions);
                console.log(sizeOfHeight);
                console.log(sizeOfWidth);
                console.log(sizeOfLong);
                console.log(providers);
                console.log(stages);
                ///////////////////////

                $.ajax({
                    method: "post",
                    url: "/admin/getStatisticInfo-"+breedId,
                    contextType: "application/json",
                    data: {
                        descriptions: descriptions,
                        sizeOfHeight: sizeOfHeight,
                        sizeOfWidth: sizeOfWidth,
                        sizeOfLong: sizeOfLong,
                        providers: providers,
                        stages: stages
                    },
                    traditional: true,
                    success: function (statisticInfo) {
                        console.log(statisticInfo);

                        summary = parseFloat(statisticInfo["mainExtent"]);

                        let  data = new google.visualization.DataTable();
                        data.addColumn('string', 'Place');
                        data.addColumn('number', 'Extent');

                        data.addRow(['Кругляк: '+                       statisticInfo["treeStorage"],           parseFloat(statisticInfo["treeStorage"])]);
                        data.addRow(['Сырой склад: '+                   statisticInfo["rawStorage"],            parseFloat(statisticInfo["rawStorage"])]);
                        data.addRow(['Сушка: '+                         statisticInfo["dryingStorage"],         parseFloat(statisticInfo["dryingStorage"])]);
                        data.addRow(['Сухой склад: '+                   statisticInfo["dryStorage"],            parseFloat(statisticInfo["dryStorage"])]);
                        data.addRow(['Пачки: '+                         statisticInfo["packagedProduct"],       parseFloat(statisticInfo["packagedProduct"])]);
                        data.addRow(['Переработка: '+                   statisticInfo["recycleStorage"],        parseFloat(statisticInfo["recycleStorage"])]);
                        data.addRow(['Доставка (Мультимодал): '+        statisticInfo["deliveryMultimodal"],    parseFloat(statisticInfo["deliveryMultimodal"])]);
                        data.addRow(['Доставка (Порты): '+              statisticInfo["deliveryPort"],          parseFloat(statisticInfo["deliveryPort"])]);
                        data.addRow(['Доставка (Страна): '+             statisticInfo["deliveryCountry"],       parseFloat(statisticInfo["deliveryCountry"])]);
                        data.addRow(['Материал (в работе): '+           statisticInfo["providerInWork"],        parseFloat(statisticInfo["providerInWork"])]);

                        let options = {
                            title: 'Суммарная кубатура: '+summary.toFixed(3)+" м3",
                            pieHole: 0.4,
                            sliceVisibilityThreshold: .00001,
                            // is3D: true,
                        };

                        let chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);
                        // drawChart();
                        // location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }else {
                $.ajax({
                    method: "post",
                    url: "/admin/getStatisticInfo-"+breedId,
                    contextType: "application/json",
                    data: {
                        descriptions: descriptions,
                        sizeOfHeight: sizeOfHeight,
                        sizeOfWidth: sizeOfWidth,
                        sizeOfLong: sizeOfLong,
                        providers: providers,
                        stages: stages
                    },
                    traditional: true,
                    success: function (statisticInfo) {
                        console.log(statisticInfo);

                        summary = parseFloat(statisticInfo["mainExtent"]);

                        let  data = new google.visualization.DataTable();
                        data.addColumn('string', 'Place');
                        data.addColumn('number', 'Extent');

                        data.addRow(['Кругляк: '+                       statisticInfo["treeStorage"],           parseFloat(statisticInfo["treeStorage"])]);
                        data.addRow(['Сырой склад: '+                   statisticInfo["rawStorage"],            parseFloat(statisticInfo["rawStorage"])]);
                        data.addRow(['Сушка: '+                         statisticInfo["dryingStorage"],         parseFloat(statisticInfo["dryingStorage"])]);
                        data.addRow(['Сухой склад: '+                   statisticInfo["dryStorage"],            parseFloat(statisticInfo["dryStorage"])]);
                        data.addRow(['Пачки: '+                         statisticInfo["packagedProduct"],       parseFloat(statisticInfo["packagedProduct"])]);
                        data.addRow(['Переработка: '+                   statisticInfo["recycleStorage"],        parseFloat(statisticInfo["recycleStorage"])]);
                        data.addRow(['Доставка (Мультимодал): '+        statisticInfo["deliveryMultimodal"],    parseFloat(statisticInfo["deliveryMultimodal"])]);
                        data.addRow(['Доставка (Порты): '+              statisticInfo["deliveryPort"],          parseFloat(statisticInfo["deliveryPort"])]);
                        data.addRow(['Доставка (Страна): '+             statisticInfo["deliveryCountry"],       parseFloat(statisticInfo["deliveryCountry"])]);
                        data.addRow(['Материал (в работе): '+           statisticInfo["providerInWork"],        parseFloat(statisticInfo["providerInWork"])]);

                        let options = {
                            title: 'Суммарная кубатура: '+summary.toFixed(3)+" м3",
                            pieHole: 0.4,
                            sliceVisibilityThreshold: .00001,
                            // is3D: true,
                        };

                        let chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);
                        // drawChart();
                        // location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });

            }
        }
    </script>
</th:block>






<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="statisticsOak">
    <div class="tab-pane fade show active container" id="oakStats">
        <h1>Oak</h1>
    </div>
</th:block>