<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="usersStatistics">
    <div class="tab-pane fade show active container-fluid" id="pineStats">
        <br>
        <p class="text-muted" style="font-size: 14px; position: fixed; z-index: 100; bottom: 0; left: 0; margin: 1em;"><i class="fas fa-info-circle"></i> Для множинного выбора зажмите <strong>Ctrl</strong>.</p>
        <table style="width: 100%;" >
            <tr>
                <th scope="col">Начальная дата</th>
                <th scope="col">Конечная дата</th>
                <th scope="col">Пользователи
                    <div>
                        <button class="btn btn-primary btn-sm" onclick="selectButton('selectUser')" data-toggle="tooltip" title="Выбрать все"><i class="fas fa-check-square"></i></button>
                        <button class="btn btn-primary btn-sm" onclick="deselectButton('selectUser')" data-toggle="tooltip" title="Удалить выбранные"><i class="fas fa-backspace"></i></button>
                    </div>
                </th>
                <th scope="col">Порода
                    <div>
                        <button class="btn btn-primary btn-sm"  onclick="selectButton('selectBreedType')" data-toggle="tooltip" title="Выбрать все"><i class="fas fa-check-square"></i></button>
                        <button class="btn btn-primary btn-sm"  onclick="deselectButton('selectBreedType')" data-toggle="tooltip" title="Удалить выбранные"><i class="fas fa-backspace"></i></button>
                    </div>
                </th>
            </tr>
            <tr style="vertical-align: top;">
                <td style="width: 15%">
                    <input class="form-control" type="date" name="startDate" id="startDate">
                </td>

                <td style="width: 15%">
                    <input class="form-control" type="date" name="endDate" id="endDate">
                </td>
                <td style="width: 35%">
                    <select id="selectUser" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  th:each="obj : ${sizeOfWidthList}" th:value="${obj}" th:text="${obj}"></option>
                    </select>
                </td>
                <td style="width: 35%">
                    <select id="selectBreedType" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple">
                        <option  th:each="obj : ${sizeOfLongList}" th:value="${obj}" th:text="${obj}"></option>
                    </select>
                </td>
                <td style="width: auto; align-items: end;">
                    <button class="btn btn-primary" onclick="sendRequestToGetUserStatistic(this.id)">
                        Поиск
                    </button>
                </td>
            </tr>
        </table>

        <table class="table userStatistic table-hover table-striped">
            <br>
            <thead>
            <tr>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Ср. диаметр</th>
                <th scope="col">Кол-во колод</th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Куб-ра (начальная), м<sup>3</sup></th>
                <th scope="col">Дата прихода</th>
                <th scope="col">Примечание</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <div th:each="ts, index : ${treeStorageList}">
                <tr th:id="${ts.id}">
                    <th scope="row" th:text="${ts.codeOfProduct}"></th>
                    <td th:text="${ts.breedOfTree.breed}"></td>
                    <td th:text="${ts.breedDescription}"></td>
                    <td th:text="${ts.contrAgent.nameOfAgent}"></td>
                    <td th:text="${ts?.averageDiameter}"></td>
                    <td th:text="${ts?.countOfDeck}"></td>
                    <td th:text="${ts.extent}"></td>
                    <td th:text="${ts.maxExtent}"></td>
                    <td th:text="${ts.date}"></td>
                    <td th:text="${ts.treeDescription}"></td>
                </tr>

                <tr>
                    <td colspan="13" class="child-table">
                        <table class="table table-hover table-striped parent-table">
                            <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Толщина, мм</th>
                                <th scope="col">Взято, м<sup>3</sup></th>
                                <th scope="col">Выход, м<sup>3</sup></th>
                                <th scope="col">Процент, %</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="list : ${ts?.statisticInfoList}" >
                                    <td th:text="${list?.date}"></td>
                                    <td th:text="${list?.height}"></td>
                                    <td th:text="${list?.firstExtent}"></td>
                                    <td th:text="${list?.extent}"></td>
                                    <td th:text="${list?.percent}"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2">ИТОГО :</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                </tr>
            </div>
            </tbody>
            <tfoot>
            <tr>
                <th scope="col">Код партии</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Ср. диаметр</th>
                <th scope="col">Кол-во колод</th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Куб-ра (начальная), м<sup>3</sup></th>
                <th scope="col">Дата прихода</th>
                <th scope="col">Примечание</th>
            </tr>
            </tfoot>
        </table>
    </div>


    <script type="text/javascript">
        document.querySelector("#startDate").valueAsDate = new Date();
        document.querySelector("#endDate").valueAsDate = new Date();
    </script>

    <script type="text/javascript">
        function selectButton(selectId){
            $('#'+selectId+' option').prop('selected', true);
            $('#'+selectId).trigger('chosen:updated');
        }

        function deselectButton(selectId){
            $('#'+selectId+' option:selected').prop("selected",false);
            $('#'+selectId).trigger('chosen:updated');
        }

        function selectAll() {
            console.log("click");
            // $('#selectDescription option').prop('selected', true); // Selects all options
            var options = document.getElementById('selectDescription_chosen').getElementsByTagName('li');
            for(var i = 0; i<options.length;i++){
                options[i].click();
                console.log(options[i]);
            }
        }
        function sendRequestForStatistic(breedId) {
            var descriptions =  $('#selectDescription').val();
            var sizeOfHeight =  $('#selectSizeOfHeight').val();
            var sizeOfWidth =   $('#selectSizeOfWidth').val();
            var sizeOfLong =    $('#selectSizeOfLong').val();
            var providers =     $('#selectProvider').val();
            var stages =        $('#selectStage').val();

            console.log(breedId);
            console.log(descriptions);
            console.log(sizeOfHeight);
            console.log(sizeOfWidth);
            console.log(sizeOfLong);
            console.log(providers);
            console.log(stages);

            if ((!Array.isArray(descriptions) || !descriptions.length)&&
                (!Array.isArray(sizeOfHeight) || !sizeOfHeight.length)&&
                (!Array.isArray(sizeOfWidth) || !sizeOfWidth.length)&&
                (!Array.isArray(sizeOfLong) || !sizeOfLong.length)&&
                (!Array.isArray(providers) || !providers.length)&&
                (!Array.isArray(stages) || !stages.length)){

                $("#selectDescription option").each(function()
                {
                    descriptions.push($(this).val());
                });

                $("#selectSizeOfHeight option").each(function()
                {
                    sizeOfHeight.push($(this).val());
                });

                $("#selectSizeOfWidth option").each(function()
                {
                    sizeOfWidth.push($(this).val());
                });

                $("#selectSizeOfLong  option").each(function()
                {
                    sizeOfLong.push($(this).val());
                });

                $("#selectProvider option").each(function()
                {
                    providers.push($(this).val());
                });

                $("#selectStage option").each(function()
                {
                    stages.push($(this).val());
                });
                ////////////////////////
                console.log("here")
                console.log(descriptions);
                console.log(sizeOfHeight);
                console.log(sizeOfWidth);
                console.log(sizeOfLong);
                console.log(providers);
                console.log(stages);
                ///////////////////////

                $.ajax({
                    method: "post",
                    url: "/admin/getStatisticInfo-"+breedId,
                    contextType: "application/json",
                    data: {
                        descriptions: descriptions,
                        sizeOfHeight: sizeOfHeight,
                        sizeOfWidth: sizeOfWidth,
                        sizeOfLong: sizeOfLong,
                        providers: providers,
                        stages: stages
                    },
                    traditional: true,
                    success: function (statisticInfo) {
                        console.log(statisticInfo);

                        summary = parseFloat(statisticInfo["storageExtent"]);
                        summary2 = parseFloat(statisticInfo["deliveredExtent"]);

                        let  data = new google.visualization.DataTable();
                        data.addColumn('string', 'Place');
                        data.addColumn('number', 'Extent');

                        let  data2 = new google.visualization.DataTable();
                        data2.addColumn('string', 'Place');
                        data2.addColumn('number', 'Extent');

                        data.addRow(['Кругляк: '+                       statisticInfo["treeStorage"],           parseFloat(statisticInfo["treeStorage"])]);
                        data.addRow(['Сырой склад: '+                   statisticInfo["rawStorage"],            parseFloat(statisticInfo["rawStorage"])]);
                        data.addRow(['Сушка: '+                         statisticInfo["dryingStorage"],         parseFloat(statisticInfo["dryingStorage"])]);
                        data.addRow(['Сухой склад: '+                   statisticInfo["dryStorage"],            parseFloat(statisticInfo["dryStorage"])]);
                        data.addRow(['Пачки: '+                         statisticInfo["packagedProduct"],       parseFloat(statisticInfo["packagedProduct"])]);
                        data.addRow(['Переработка: '+                   statisticInfo["recycleStorage"],        parseFloat(statisticInfo["recycleStorage"])]);

                        data2.addRow(['Доставка (Мультимодал): '+        statisticInfo["deliveryMultimodal"],    parseFloat(statisticInfo["deliveryMultimodal"])]);
                        data2.addRow(['Доставка (Порты): '+              statisticInfo["deliveryPort"],          parseFloat(statisticInfo["deliveryPort"])]);
                        data2.addRow(['Доставка (Страна): '+             statisticInfo["deliveryCountry"],       parseFloat(statisticInfo["deliveryCountry"])]);
                        data2.addRow(['Заказы (в работе): '+             statisticInfo["providerInWork"],        parseFloat(statisticInfo["providerInWork"])]);

                        let options = {
                            title: 'Суммарная кубатура: '+summary.toFixed(3)+" м3",
                            pieHole: 0.4,
                            sliceVisibilityThreshold: .00001,
                            // is3D: true,
                        };

                        let options2 = {
                            title: 'Суммарная кубатура: '+summary2.toFixed(3)+" м3",
                            pieHole: 0.4,
                            sliceVisibilityThreshold: .00001,
                            // is3D: true,
                        };

                        let chart = new google.visualization.PieChart(document.getElementById('piechart'));
                        let chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

                        chart.draw(data, options);
                        chart2.draw(data2, options2);
                        // drawChart();
                        // location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }else {
                $.ajax({
                    method: "post",
                    url: "/admin/getStatisticInfo-"+breedId,
                    contextType: "application/json",
                    data: {
                        descriptions: descriptions,
                        sizeOfHeight: sizeOfHeight,
                        sizeOfWidth: sizeOfWidth,
                        sizeOfLong: sizeOfLong,
                        providers: providers,
                        stages: stages
                    },
                    traditional: true,
                    success: function (statisticInfo) {
                        console.log(statisticInfo);

                        summary = parseFloat(statisticInfo["storageExtent"]);
                        summary2 = parseFloat(statisticInfo["deliveredExtent"]);

                        let  data = new google.visualization.DataTable();
                        data.addColumn('string', 'Place');
                        data.addColumn('number', 'Extent');

                        let  data2 = new google.visualization.DataTable();
                        data2.addColumn('string', 'Place');
                        data2.addColumn('number', 'Extent');

                        data.addRow(['Кругляк: '+                       statisticInfo["treeStorage"],           parseFloat(statisticInfo["treeStorage"])]);
                        data.addRow(['Сырой склад: '+                   statisticInfo["rawStorage"],            parseFloat(statisticInfo["rawStorage"])]);
                        data.addRow(['Сушка: '+                         statisticInfo["dryingStorage"],         parseFloat(statisticInfo["dryingStorage"])]);
                        data.addRow(['Сухой склад: '+                   statisticInfo["dryStorage"],            parseFloat(statisticInfo["dryStorage"])]);
                        data.addRow(['Пачки: '+                         statisticInfo["packagedProduct"],       parseFloat(statisticInfo["packagedProduct"])]);
                        data.addRow(['Переработка: '+                   statisticInfo["recycleStorage"],        parseFloat(statisticInfo["recycleStorage"])]);

                        data2.addRow(['Доставка (Мультимодал): '+        statisticInfo["deliveryMultimodal"],    parseFloat(statisticInfo["deliveryMultimodal"])]);
                        data2.addRow(['Доставка (Порты): '+              statisticInfo["deliveryPort"],          parseFloat(statisticInfo["deliveryPort"])]);
                        data2.addRow(['Доставка (Страна): '+             statisticInfo["deliveryCountry"],       parseFloat(statisticInfo["deliveryCountry"])]);
                        data2.addRow(['Заказы (в работе): '+             statisticInfo["providerInWork"],        parseFloat(statisticInfo["providerInWork"])]);

                        let options = {
                            title: 'Суммарная кубатура: '+summary.toFixed(3)+" м3",
                            pieHole: 0.4,
                            sliceVisibilityThreshold: .00001,
                            // is3D: true,
                        };

                        let options2 = {
                            title: 'Суммарная кубатура: '+summary2.toFixed(3)+" м3",
                            pieHole: 0.4,
                            sliceVisibilityThreshold: .00001,
                            // is3D: true,
                        };

                        let chart = new google.visualization.PieChart(document.getElementById('piechart'));
                        let chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

                        chart.draw(data, options);
                        chart2.draw(data2, options2);
                        // drawChart();
                        // location.reload();
                    },
                    error: function () {
                        alert("Error");
                    }
                });

            }
        }
    </script>
</th:block>