<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="usersActivity">
    <div class="tab-pane fade show active container-fluid" id="pineStats">
        <br>
<!--        <p class="text-muted" style="font-size: 14px; position: fixed; z-index: 100; bottom: 0; left: 0; margin: 1em;"><i class="fas fa-info-circle"></i> Для множинного выбора зажмите <strong>Ctrl</strong>.</p>-->
        <form action="XXX" method="post">
            <table style="width: 100%;" >
                <tr>
                    <th scope="col">Начальная дата</th>
                    <th scope="col">Конечная дата</th>
                    <th scope="col">Пользователи
                        <div>
                            <button class="btn btn-primary btn-sm" type="button" onclick="selectButton('selectUser')" data-toggle="tooltip" title="Выбрать все"><i class="fas fa-check-square"></i></button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="deselectButton('selectUser')" data-toggle="tooltip" title="Удалить выбранные"><i class="fas fa-backspace"></i></button>
                        </div>
                    </th>
                    <th scope="col">Событие
                        <div>
                            <button class="btn btn-primary btn-sm" type="button" onclick="selectButton('selectAction')" data-toggle="tooltip" title="Выбрать все"><i class="fas fa-check-square"></i></button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="deselectButton('selectAction')" data-toggle="tooltip" title="Удалить выбранные"><i class="fas fa-backspace"></i></button>
                        </div>
                    </th>
                    <th scope="col">Порода
                        <div>
                            <button class="btn btn-primary btn-sm" type="button" onclick="selectButton('selectBreedType')" data-toggle="tooltip" title="Выбрать все"><i class="fas fa-check-square"></i></button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="deselectButton('selectBreedType')" data-toggle="tooltip" title="Удалить выбранные"><i class="fas fa-backspace"></i></button>
                        </div>
                    </th>
                </tr>
                <tr style="vertical-align: top;">
                    <td style="width: 15%">
                        <input class="form-control" type="date" name="dayFrom" id="startDate" onchange="checkFirstDate()" th:value="${#dates.format(dateFrom, 'yyyy-MM-dd')}" required="required">
                    </td>
                    <td style="width: 15%">
                        <input class="form-control" type="date" name="dayTo" id="endDate" onchange="checkLastDate()" th:value="${#dates.format(dateTo, 'yyyy-MM-dd')}" required="required">
                    </td>
                    <td style="width: 25%">
                        <select id="selectUser" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple" name="users" >
                            <option  th:each="obj : ${userCompanyList}" th:value="${obj.id}"  th:text="${obj.nameOfCompany}" th:selected="${checkedUsers?.contains(obj.id)}"></option>
                        </select>
                    </td>
                    <td style="width: 25%">
                        <select id="selectAction" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple" name="actions" >
                            <option  th:each="obj : ${userCompanyList}" th:value="${obj.id}"  th:text="${obj.nameOfCompany}" th:selected="${checkedUsers?.contains(obj.id)}"></option>
                        </select>
                    </td>
                    <td style="width: 15%">
                        <select id="selectBreedType" class="form-control form-control-chosen" data-placeholder="Выберите нужные..." multiple="multiple" name="breedId" >
                            <option  th:each="obj : ${breedOfTreeList}" th:value="${obj.id}"  th:text="${obj.breed}" th:selected="${checkedBreed?.contains(obj.id)}"></option>
                        </select>
                    </td>
                    <td style="width: auto; align-items: end;">
                        <button class="btn btn-primary" type="submit">
                            Поиск
                        </button>
                    </td>
                </tr>
            </table>
        </form>

        <div>
             <table class="table userActivity table-hover table-striped">
                <br>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Время</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Склад</th>
                        <th scope="col">Событие</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="act, index : ${activityList}">
                        <tr style="background-color: lightgrey;">
                            <td style="width: 30px;" class="details-control" onclick="javascript:$('#parent'+this.id).toggle();" th:id="${act.id}"><span></span></td>
                            <td th:text="${act?.date}">date</td>
                            <td th:text="${act?.user?.getNameOfCompany()}">user</td>
                            <td th:text="${act?.storageType?.getMeaning()}">storage</td>
                            <td th:text="${act?.operationType?.getMeaning()}">action</td>
                        </tr>
                        <tr style="display:none" th:id="'parent'+${act.id}">
                            <td style="display:none; width: 30px"></td>
                            <td colspan="5" class="child-table">

                            <!--Tree Storage Start-->
                                <table class="table table-hover table-striped parent-table" th:if="${act.storageType.equals(T(com.swida.documetation.data.enums.StorageType).TREE) && act.operationType.equals(T(com.swida.documetation.data.enums.LoggerOperationType).UPDATING)}">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Дата прихода</th>
                                            <th scope="col">Код партии</th>
                                            <th scope="col">Порода</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Поставщик</th>
                                            <th scope="col">Ср. диаметр</th>
                                            <th scope="col">Кол-во колод</th>
                                            <th scope="col">Остаток, м<sup>3</sup></th>
                                            <th scope="col">Куб-ра (начальная), м<sup>3</sup></th>
                                            <th scope="col">Примечание</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>До:</th>
                                            <td th:text="${act.objectBeforeChanging.getDate()}">2</td>
                                            <td th:text="${act.objectBeforeChanging.getCodeOfProduct()}">3</td>
                                            <td th:text="${act.objectBeforeChanging?.getBreedOfTree()?.getBreed()}">4</td>
                                            <td th:text="${act.objectBeforeChanging.getBreedDescription()}">5</td>
                                            <td th:text="${act.objectBeforeChanging.getContrAgent().getNameOfAgent()}">6</td>
                                            <td th:text="${act.objectBeforeChanging.getAverageDiameter()}">7</td>
                                            <td th:text="${act.objectBeforeChanging.getCountOfDeck()}">8</td>
                                            <td th:text="${act.objectBeforeChanging.getExtent()}">9</td>
                                            <td th:text="${act.objectBeforeChanging.getMaxExtent()}">10</td>
                                            <td th:text="${act.objectBeforeChanging.getTreeDescription()}">11</td>
                                        </tr>
                                        <tr>
                                            <th>После:</th>
                                            <td th:text="${act.objectAfterChanging.getDate()}">2</td>
                                            <td th:text="${act.objectAfterChanging.getCodeOfProduct()}">3</td>
                                            <td th:text="${act.objectAfterChanging?.getBreedOfTree()?.getBreed()}">4</td>
                                            <td th:text="${act.objectAfterChanging.getBreedDescription()}">5</td>
                                            <td th:text="${act.objectAfterChanging.getContrAgent().getNameOfAgent()}">6</td>
                                            <td th:text="${act.objectAfterChanging.getAverageDiameter()}">7</td>
                                            <td th:text="${act.objectAfterChanging.getCountOfDeck()}">8</td>
                                            <td th:text="${act.objectAfterChanging.getExtent()}">9</td>
                                            <td th:text="${act.objectAfterChanging.getMaxExtent()}">10</td>
                                            <td th:text="${act.objectAfterChanging.getTreeDescription()}">11</td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--Tree Storage End-->

<!--                            &lt;!&ndash;Raw Storage Pine Start&ndash;&gt;-->
<!--                                <table class="table table-hover table-striped parent-table" th:if="${act.storageType.equals(T(com.swida.documetation.data.enums.StorageType).RAW) && act.operationType.equals(T(com.swida.documetation.data.enums.LoggerOperationType).UPDATING)}">-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th scope="col"></th>-->
<!--                                            <th scope="col">Дата распил./прихода</th>-->
<!--                                            <th scope="col">Код партии</th>-->
<!--                                            <th scope="col">Порода</th>-->
<!--                                            <th scope="col">Описание</th>-->
<!--                                            <th scope="col">Толщина, мм</th>-->
<!--                                            <th scope="col">Ширина, мм</th>-->
<!--                                            <th scope="col">Длина, мм</th>-->
<!--                                            <th scope="col">Кол-во досок, шт</th>-->
<!--                                            <th scope="col">Кубатура, м<sup>3</sup></th>-->
<!--                                            <th>Поставщик</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <th>До:</th>-->
<!--                                            <td>2</td>-->
<!--                                            <td>3</td>-->
<!--                                            <td>4</td>-->
<!--                                            <td>5</td>-->
<!--                                            <td>6</td>-->
<!--                                            <td>7</td>-->
<!--                                            <td>8</td>-->
<!--                                            <td>9</td>-->
<!--                                            <td>10</td>-->
<!--                                            <td>11</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>После:</th>-->
<!--                                            <td>2</td>-->
<!--                                            <td>3</td>-->
<!--                                            <td>4</td>-->
<!--                                            <td>5</td>-->
<!--                                            <td>6</td>-->
<!--                                            <td>7</td>-->
<!--                                            <td>8</td>-->
<!--                                            <td>9</td>-->
<!--                                            <td>10</td>-->
<!--                                            <td>11</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            &lt;!&ndash;Raw Storage Pine End&ndash;&gt;-->

                            <!--Raw Storage Oak Start CREATING-->
                                <table class="table table-hover table-striped parent-table" th:if="${act.storageType.equals(T(com.swida.documetation.data.enums.StorageType).RAW) && act.operationType.equals(T(com.swida.documetation.data.enums.LoggerOperationType).CREATING)}">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th></th>
                                            <th scope="col">Дата распил./прихода</th>
                                            <th scope="col">Код партии</th>
                                            <th scope="col">Порода</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Толщина, мм</th>
                                            <th scope="col">Длина, мм</th>
                                            <th scope="col">Кубатура, м<sup>3</sup></th>
                                            <th scope="col">Примечание</th>
                                            <th scope="col">Поставщик</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Создано:</th>
                                            <td class="details-control" onclick="javascript:$('#parent_raw_oak'+this.id).toggle();" th:id="${act.objectAfterChanging.getId()}"><span></span></td>
                                            <td th:text="${act.objectAfterChanging.getDate()}">3</td>
                                            <td th:text="${act.objectAfterChanging.getCodeOfProduct()}">4</td>
                                            <td th:text="${act.objectAfterChanging.getBreedOfTree().getBreed()}">5</td>
                                            <td th:text="${act.objectAfterChanging.getBreedDescription()}">6</td>
                                            <td th:text="${act.objectAfterChanging.getSizeOfHeight()}">7</td>
                                            <td th:text="${act.objectAfterChanging.getSizeOfLong()}">8</td>
                                            <td th:text="${act.objectAfterChanging.getExtent()}">9</td>
                                            <td th:text="${act.objectAfterChanging.getDescription()}">10</td>
                                            <td th:text="${act.objectAfterChanging.getTreeStorage().getContrAgent().getNameOfAgent()}">11</td>
                                        </tr>
                                        <tr style="display:none" th:if="${act?.objectAfterChanging?.getDeskOakList()!=null}" th:id="'parent_raw_oak'+${act.objectAfterChanging.getId()}">
                                            <td style="display:none; width: 30px"></td>
                                            <td colspan="11" class="child-table">
                                                <table class="table table-hover table-striped parent-table" >
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Ширина, мм</th>
                                                        <th scope="col">Количество досок</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="desc : ${act.objectAfterChanging.getDeskOakList()}">
                                                        <td th:text="${desc.getSizeOfWidth()}">1</td>
                                                        <td th:text="${desc.getCountOfDesk()}">2</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                            <td style="display:none"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--Raw Storage Oak End CREATING-->
                            <!--Raw Storage Oak Start DELETING-->
                                <table class="table table-hover table-striped parent-table" th:if="${act.storageType.equals(T(com.swida.documetation.data.enums.StorageType).RAW) && (act.operationType.equals(T(com.swida.documetation.data.enums.LoggerOperationType).RETURN_TO_ZERO) || act.operationType.equals(T(com.swida.documetation.data.enums.LoggerOperationType).RETURNING))}">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th></th>
                                    <th scope="col">Дата распил./прихода</th>
                                    <th scope="col">Код партии</th>
                                    <th scope="col">Порода</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Толщина, мм</th>
                                    <th scope="col">Длина, мм</th>
                                    <th scope="col">Кубатура, м<sup>3</sup></th>
                                    <th scope="col">Примечание</th>
                                    <th scope="col">Поставщик</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>До:</th>
                                    <td class="details-control" onclick="javascript:$('#parent_raw_oak'+this.id).toggle();" th:id="${act.objectBeforeChanging.getId()}"><span></span></td>
                                    <td th:text="${act.objectBeforeChanging.getDate()}">3</td>
                                    <td th:text="${act.objectBeforeChanging.getCodeOfProduct()}">4</td>
                                    <td th:text="${act.objectBeforeChanging.getBreedOfTree().getBreed()}">5</td>
                                    <td th:text="${act.objectBeforeChanging.getBreedDescription()}">6</td>
                                    <td th:text="${act.objectBeforeChanging.getSizeOfHeight()}">7</td>
                                    <td th:text="${act.objectBeforeChanging.getSizeOfLong()}">8</td>
                                    <td th:text="${act.objectBeforeChanging.getExtent()}">9</td>
                                    <td th:text="${act.objectBeforeChanging.getDescription()}">10</td>
                                    <td th:text="${act.objectBeforeChanging.getTreeStorage().getContrAgent().getNameOfAgent()}">11</td>
                                </tr>
                                <tr style="display:none" th:if="${act?.objectBeforeChanging?.getDeskOakList()!=null}" th:id="'parent_raw_oak'+${act.objectBeforeChanging.getId()}">
                                    <td style="display:none; width: 30px"></td>
                                    <td colspan="11" class="child-table">
                                        <table class="table table-hover table-striped parent-table" >
                                            <thead>
                                            <tr>
                                                <th scope="col">Ширина, мм</th>
                                                <th scope="col">Количество досок</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="desc : ${act.objectBeforeChanging.getDeskOakList()}">
                                                <td th:text="${desc.getSizeOfWidth()}">1</td>
                                                <td th:text="${desc.getCountOfDesk()}">2</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--Raw Storage Oak End DELETING-->

                            <!--Raw Storage Oak Start-->
                              <table class="table table-hover table-striped parent-table" th:if="${act.storageType.equals(T(com.swida.documetation.data.enums.StorageType).RAW) && act.operationType.equals(T(com.swida.documetation.data.enums.LoggerOperationType).UPDATING)}">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th></th>
                                    <th scope="col">Дата распил./прихода</th>
                                    <th scope="col">Код партии</th>
                                    <th scope="col">Порода</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Толщина, мм</th>
                                    <th scope="col">Длина, мм</th>
                                    <th scope="col">Кубатура, м<sup>3</sup></th>
                                    <th scope="col">Примечание</th>
                                    <th scope="col">Поставщик</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>До:</th>
                                    <td class="details-control" onclick="javascript:$('#parent_raw_oak_before'+this.id).toggle();" th:id="${act.objectBeforeChanging.getId()}"><span></span></td>
                                    <td th:text="${act.objectBeforeChanging.getDate()}">3</td>
                                    <td th:text="${act.objectBeforeChanging.getCodeOfProduct()}">4</td>
                                    <td th:text="${act.objectBeforeChanging.getBreedOfTree().getBreed()}">5</td>
                                    <td th:text="${act.objectBeforeChanging.getBreedDescription()}">6</td>
                                    <td th:text="${act.objectBeforeChanging.getSizeOfHeight()}">7</td>
                                    <td th:text="${act.objectBeforeChanging.getSizeOfLong()}">8</td>
                                    <td th:text="${act.objectBeforeChanging.getExtent()}">9</td>
                                    <td th:text="${act.objectBeforeChanging.getDescription()}">10</td>
                                    <td th:text="${act.objectBeforeChanging.getTreeStorage().getContrAgent().getNameOfAgent()}">11</td>
                                </tr>
                                <tr style="display:none" th:if="${act?.objectBeforeChanging?.getDeskOakList()!=null}" th:id="'parent_raw_oak_before'+${act.objectBeforeChanging.getId()}">
                                    <td style="display:none; width: 30px"></td>
                                    <td colspan="11" class="child-table">
                                        <table class="table table-hover table-striped parent-table" >
                                            <thead>
                                            <tr>
                                                <th scope="col">Ширина, мм</th>
                                                <th scope="col">Количество досок</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="desc : ${act.objectBeforeChanging.getDeskOakList()}">
                                                <td th:text="${desc.getSizeOfWidth()}">1</td>
                                                <td th:text="${desc.getCountOfDesk()}">2</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                </tr>
                                <tr>
                                    <th>После:</th>
                                    <td class="details-control" onclick="javascript:$('#parent_raw_oak_after'+this.id).toggle();" th:id="${act.objectAfterChanging.getId()}"><span></span></td>
                                    <td th:text="${act.objectAfterChanging.getDate()}">3</td>
                                    <td th:text="${act.objectAfterChanging.getCodeOfProduct()}">4</td>
                                    <td th:text="${act.objectAfterChanging.getBreedOfTree().getBreed()}">5</td>
                                    <td th:text="${act.objectAfterChanging.getBreedDescription()}">6</td>
                                    <td th:text="${act.objectAfterChanging.getSizeOfHeight()}">7</td>
                                    <td th:text="${act.objectAfterChanging.getSizeOfLong()}">8</td>
                                    <td th:text="${act.objectAfterChanging.getExtent()}">9</td>
                                    <td th:text="${act.objectAfterChanging.getDescription()}">10</td>
                                    <td th:text="${act.objectAfterChanging.getTreeStorage().getContrAgent().getNameOfAgent()}">11</td>
                                </tr>
                                <tr style="display:none" th:if="${act?.objectAfterChanging?.getDeskOakList()!=null}" th:id="'parent_raw_oak_after'+${act.objectAfterChanging.getId()}">
                                    <td style="display:none; width: 30px"></td>
                                    <td colspan="11" class="child-table">
                                        <table class="table table-hover table-striped parent-table" >
                                            <thead>
                                            <tr>
                                                <th scope="col">Ширина, мм</th>
                                                <th scope="col">Количество досок</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="desc : ${act.objectAfterChanging.getDeskOakList()}">
                                                <td th:text="${desc.getSizeOfWidth()}">1</td>
                                                <td th:text="${desc.getCountOfDesk()}">2</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                    <td style="display:none"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--Raw Storage Oak End-->

                            <!--Drying Storage Pine Start-->
                            <!--Drying Storage Pine End-->

                            <!--Drying Storage Oak Start-->
                            <!--Drying Storage Oak End-->

                            <!--Dry Storage Pine Start-->
                            <!--Dry Storage Pine End-->

                            <!--Dry Storage Oak Start-->
                            <!--Dry Storage Oak End-->

                            <!--Packages Storage Pine Start-->
                            <!--Packages Storage Pine End-->

                            <!--Packages Storage Oak Start-->
                            <!--Packages Storage Oak End-->

                            <!--Transportation Storage Pine Start-->
                            <!--Transportation Storage Pine End-->

                            <!--Transportation Storage Oak Start-->
                            <!--Transportation Storage Oak End-->
                            </td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                            <td style="display:none"></td>
                        </tr>
                    </div>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Время</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Склад</th>
                        <th scope="col">Событие</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <script type="text/javascript">
        // document.querySelector("#startDate").valueAsDate = new Date(new Date().setDate(new Date().getDate() - 1));
        // document.querySelector("#endDate").valueAsDate = new Date();



        function checkFirstDate() {
            let firstDate = new Date(document.getElementById('startDate').value);
            let lastDate = new Date(document.getElementById('endDate').value);

            if (firstDate.getTime() > lastDate.getTime()) {
                alert("Начальная дата больше конечной!");
                document.querySelector("#startDate").valueAsDate = new Date(new Date().setDate(new Date().getDate() - 1));
                document.querySelector("#endDate").valueAsDate = new Date();
            }
        }

        function checkLastDate() {
            let firstDate = new Date(document.getElementById('startDate').value);
            let lastDate = new Date(document.getElementById('endDate').value);

            if (firstDate.getTime() > lastDate.getTime()) {
                alert("Начальная дата больше конечной!");
                document.querySelector("#startDate").valueAsDate = new Date(new Date().setDate(new Date().getDate() - 1));
                document.querySelector("#endDate").valueAsDate = new Date();
            }
        }
    </script>

    <script>
        let rowTables = document.getElementsByClassName('userStatistic');
        for (let i=0;i<rowTables.length;i++){
            let rowsList = rowTables[i].rows;
            let last = rowsList.length-1;

            let takenSum = 0.0;
            let outputSum = 0.0;
            let percentageSum = 0.0;

            for (let j = 2; j<rowsList.length-1; j++){
                takenSum+= parseFloat(rowsList[j].cells[5].innerHTML);
                outputSum+= parseFloat(rowsList[j].cells[6].innerHTML);
                percentageSum = outputSum/takenSum*100;

                console.log("row: "+takenSum+"; "+outputSum+";"+percentageSum+"%");
            }
            rowsList[last].cells[1].innerHTML=(takenSum.toFixed(3)+" м<sup>3</sup>");
            rowsList[last].cells[2].innerHTML=(outputSum.toFixed(3)+" м<sup>3</sup>");
            rowsList[last].cells[3].innerHTML=(percentageSum.toFixed(3)+" %");
        }
    </script>

    <script type="text/javascript">
        function selectButton(selectId){
            $('#'+selectId+' option').prop('selected', true);
            $('#'+selectId).trigger('chosen:updated');
        }

        function deselectButton(selectId){
            $('#'+selectId+' option:selected').prop("selected",false);
            $('#'+selectId).trigger('chosen:updated');
        }

        function selectAll() {
            console.log("click");
            // $('#selectDescription option').prop('selected', true); // Selects all options
            var options = document.getElementById('selectDescription_chosen').getElementsByTagName('li');
            for(var i = 0; i<options.length;i++){
                options[i].click();
                console.log(options[i]);
            }
        }
    </script>
</th:block>