<th:block xmlns:th="http://www.w3.org/1999/xhtml"  th:fragment="contracts">
    <!-- Контракты  START-->
    <div class="tab-pane fade show active container-fluid" id="contracts-tab">
        <table class="table table-hover table-striped" id="contracts-tab-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Покупатель</th>
                <th scope="col">Заказ, м<sup>3</sup></th>
                <th scope="col">Отгружено, м<sup>3</sup></th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Назначение</th>
                <th scope="col">Срок выполнения</th>
                <th></th>
                <th scope="col">extentForDistribution</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${orderInfoList}" th:id="${b.id}">
                <td th:text="${b.id}"></td>
                <th scope="row" th:text="${b.codeOfOrder}"></th>
                <td th:text="${b.breedOfTree.breed}"></td>
                <td th:text="${b.breedDescription}"></td>
                <td th:text="${(b.contrAgent!=null)?b.contrAgent.nameOfAgent:''}"></td>
                <td th:text="${b.extentOfOrder}"></td>
                <td th:text="${b.doneExtendOfOrder}"></td>
                <td th:text="${b.toDoExtentOfOrder}"></td>
                <td th:text="${b.destinationType}"></td>
                <td th:text="${b.date}" class="change-color"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="distributeContract(this)"><i class="fas fa-th" data-toggle="tooltip" title="Распределение"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="editContract(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                </td>
                <td th:text="${b.extentForDistribution}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Покупатель</th>
                <th scope="col">Заказ, м<sup>3</sup></th>
                <th scope="col">Отгружено, м<sup>3</sup></th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Назначение</th>
                <th scope="col">Срок выполнения</th>
                <th ></th>
                <th scope="col">extentForDistribution</th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button" >
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить" data-toggle="modal" data-placement="left" data-target="#addContractModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>

    <!-- Контракты END -->
    <!-- EDIT CONTRACT MODAL START -->
    <div class="modal fade" id="editContractModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editContractModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/editContarct" method="post">
                    <div class="modal-body">
                        <input type="text" id="editContractId" hidden="" name="id">

                        <label class="col-form-label" for="editContractCode">Код</label>
                        <input type="text" class="form-control" id="editContractCode" required="required" autocomplete="off" name="codeOfOrder">

                        <label class="col-form-label" for="editContractBuyer">Покупатель</label>
                        <input type="text" class="form-control" list="editContractBuyerList" id="editContractBuyer" required="required" autocomplete="off" name="contrAgent.nameOfAgent">
                        <datalist id="editContractBuyerList">
                            <option th:each="b : ${contrAgentList}"  th:value="${b.nameOfAgent}" >
                        </datalist>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="editContractBreedOfTree">Порода</label>
                                <input type="text" class="form-control" list="editBreedOfTreeList" id="editContractBreedOfTree" required="required" autocomplete="off" name="breedOfTree.breed">
                                <datalist id="editBreedOfTreeList">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editBreedDescriptionContract">Описание</label>
                                <input type="text" class="form-control" id="editBreedDescriptionContract" autocomplete="off"  name="breedDescription">
                            </div>
                        </div>


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editContractOrder">Заказ</label>
                                <input type="number" step="any" class="form-control" id="editContractOrder" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" placeholder="м3" name="extentOfOrder">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editContractDone">Отгружено</label>
                                <input type="number" step="any" class="form-control" id="editContractDone" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" placeholder="м3" name="doneExtendOfOrder">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editContractLeft">Остаток</label>
                                <input type="number" step="any" class="form-control" id="editContractLeft" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" disabled="disabled" placeholder="м3">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editContractDate">Срок выполнения</label>
                                <input class="form-control" type="date" id="editContractDate" required="required" name="date">
                            </div>
                            <div class="col-12">
                                <label for="editOrderDeliveryDestination" class="col-form-label">Пункт назначения</label>
                                <input type="text" class="form-control" list="editDestinationType" id="editOrderDeliveryDestination" required="required" autocomplete="off" name="destinationType">
                                <datalist id="editDestinationType">
                                    <option value="MULTIMODAL">
                                    <option value="PORT">
                                    <option value="COUNTRY">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function editContract(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#editContractId').val(trId);
            console.log(  $(trObj).attr('id'));
            var contractCode = $(trObj).find('th:eq(0)').text();
            $('#editContractModalHeader').text("Редактировать контракт №"+contractCode);

            var breedOfTree =       $(trObj).find('td:eq(0)').text();
            var breedDescription =  $(trObj).find('td:eq(1)').text();
            var buyer =             $(trObj).find('td:eq(2)').text();
            var amount =            $(trObj).find('td:eq(3)').text();
            var done =              $(trObj).find('td:eq(4)').text();
            var left =              $(trObj).find('td:eq(5)').text();
            var destination =       $(trObj).find('td:eq(6)').text();
            let deadline =          $(trObj).find('td:eq(7)').text();

            console.log("date on modal " + deadline);

            $('#editContractCode').val(contractCode);
            $('#editContractBreedOfTree').val(breedOfTree);
            $('#editBreedDescriptionContract').val(breedDescription);
            $('#editContractBuyer').val(buyer);
            $('#editContractOrder').val(amount);
            $('#editContractDone').val(done);
            $('#editContractLeft').val(left);
            $('#editOrderDeliveryDestination').val(destination);
            $('#editContractDate').val(deadline);

            $('#editContractModal').modal('show');
        }
    </script>
    <!-- EDIT CONTRACT MODAL END -->

    <!-- ADD CONTRACT MODAL START -->
    <div class="modal fade" id="addContractModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить контракт</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/addContract" method="post">
                    <div class="modal-body">

                        <label class="col-form-label" for="addContractCode">Код</label>
                        <input type="text" class="form-control" id="addContractCode" required="required" autocomplete="off" name="codeOfOrder">

                        <label class="col-form-label" for="addContractBuyer">Покупатель</label>
                        <input type="text" class="form-control" list="contrAgentList" id="addContractBuyer" required="required" autocomplete="off" name="contrAgent.nameOfAgent">
                        <datalist id="contrAgentList">
                            <option th:each="b : ${contrAgentList}"  th:value="${b.nameOfAgent}">
                        </datalist>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="addContractBreedOfTree">Порода</label>
                                <input type="text" class="form-control" list="addBreedOfTreeList" id="addContractBreedOfTree" required="required" autocomplete="off" name="breedOfTree.breed">
                                <datalist id="addBreedOfTreeList">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addBreedDescriptionContract">Описание</label>
                                <input type="text" class="form-control" id="addBreedDescriptionContract" autocomplete="off"  name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addContractOrder">Заказ</label>
                                <input type="number" step="any" class="form-control" id="addContractOrder" required="required" pattern="[0-9]*\.?[0-9]*" autocomplete="off" placeholder="м3" name="extentOfOrder">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addContractDate">Срок выполнения</label>
                                <input class="form-control" type="date" id="addContractDate" required="required" name="date">
                            </div>
                            <div class="col-12">
                                <label for="addOrderDeliveryDestination" class="col-form-label">Пункт назначения</label>
                                <input type="text" class="form-control" list="destinationType" id="addOrderDeliveryDestination" required="required" autocomplete="off" name="destinationType">
                                <datalist id="destinationType">
                                    <option value="MULTIMODAL">
                                    <option value="PORT">
                                    <option value="COUNTRY">
                                </datalist>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#addContractDate").valueAsDate = new Date();
    </script>
    <!-- ADD CONTRACT MODAL END -->

    <!-- CREATE DISTRIBUTION START -->
    <div class="modal fade" id="createDistributionModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="distributionModalHeader">Распределение заказа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">

                        <div class="form-group row d-flex" style="align-items: flex-end">
                            <input type="text" id="sendDistributionModalId" hidden="" name="id">

                            <div class="col-7">
                                <label class="control-label" for="addDistributionCompanyInner">Поставщик</label>
                                <input type="text" class="form-control" list="suppliersList" id="addDistributionCompanyInner" required="required" autocomplete="off" name="nameOfAgent">
                                <datalist id="suppliersList">
                                    <option th:each="b : ${contrAgentProviderList}"  th:value="${b.nameOfAgent}">
                                </datalist>
                            </div>

                            <div class="col-3">
                                <label class="control-label" for="addDistributionAmountInner" style="padding-top: 7px">Заказ</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addDistributionAmountInner" required="required" autocomplete="off" placeholder="м3" name="extent">
                            </div>

                            <div class="col-2">
                                <button id="buttonForAddingDistributionRow" type="button" class="btn btn-primary" style="width: 100%">Добавить</button>
                            </div>
                        </div>

                        <table class="table table-hover table-striped" id="tableOfDistribution">
                            <thead>
                            <tr>
                                <th scope="col">Поставщик</th>
                                <th scope="col">Заказ, м<sup>3</sup></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="listOfDistributionsId">
                            <!-- <tr></tr> -->
                            </tbody>

                            <tfoot>
                            <tr>
                                <th scope="col">Поставщик</th>
                                <th scope="col">Заказ, м<sup>3</sup></th>
                                <th></th>
                            </tr>
                            </tfoot>

                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="createDistributionButton" onclick="sendRequestForDistribution(this)">Распределить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // SHOW MODAL START
        function distributeContract(btnObj) {
            // tableOfDistribution.clear().draw();
            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#sendDistributionModalId').val(trId);
            // console.log($(trObj).attr('id'));
            var codeOfOrder =           $(trObj).find('th:eq(0)').text();

            $('#distributionModalHeader').text("Распределение заказа №"+codeOfOrder);

            $('#createDistributionModal').modal('show');
        }
        // SHOW MODAL END

        // CHECK IF 0 OR LESS THAN 0
        $('#addDistributionAmountInner').change(function(){
            if ((parseFloat($('#addDistributionAmountInner').toFixed(2).val()))<=0.0) {
                alert("Введите правильное значение");
                $('#addDistributionAmountInner').val("1.0");
            }else{

            }
        });
        // END CHECK

        // AJAX REQUEST START
        function sendRequestForDistribution(btnObj) {
            var idOfMainOrder = $('#sendDistributionModalId').val();
            console.log("id of main  "+idOfMainOrder);
            var arrOfTr = document.getElementById("listOfDistributionsId").getElementsByTagName("tr");
            // console.log("arr length = "+arrOfTr.length);

            var arrayOfSuppliers = [];
            var arrayOfOrderings = [];

            for (var i = 0; i<arrOfTr.length;i++){
                arrayOfSuppliers[i] =      $(arrOfTr[i]).find('td:eq(0)').text();
                arrayOfOrderings[i] =      $(arrOfTr[i]).find('td:eq(1)').text();
            }

            // console.log("s:"+ arrayOfSuppliers+"\n o:"+arrayOfOrderings);

            if (arrayOfSuppliers[0]!="No data available in table"){
                $.ajax({
                    method: "post",
                    url: "/createDistribution",
                    contextType: "application/json",
                    data: {
                        id:idOfMainOrder,
                        suppliersList: arrayOfSuppliers,
                        orderingsList: arrayOfOrderings
                    },
                    traditional: true,
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                    alert("Error");
                    }
                });

            }else {
                alert("Внесите записи!");
            }

        }
        // AJAX REQUEST END
    </script>
    <!-- CREATE DISTRIBUTION END -->
</th:block>


<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="orders" xmlns:sec="http://www.thymeleaf.org">
    <!-- Распределение  START-->
    <div class="tab-pane fade show active container-fluid" id="distribution-tab">
        <table class="table table-hover table-striped" id="distribution-tab-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Заказ, м<sup>3</sup></th>
                <th scope="col">Отгружено, м<sup>3</sup></th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Срок выполнения</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                <th scope="col">extentForDistribution main order</th>
                <th scope="col">date main order</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${orderInfoList}" th:id="${b.id}">
                <td th:text="${b.id}"></td>
                <th scope="row" th:text="${b.codeOfOrder}"></th>
                <td th:text="${b.breedOfTree.breed}"></td>
                <td th:text="${b.breedDescription}"></td>
                <td th:text="${(b.contrAgent!=null)?b.contrAgent.nameOfAgent:''}"></td>
                <td th:text="${b.extentOfOrder}"></td>
                <td th:text="${b.doneExtendOfOrder}"></td>
                <td th:text="${b.toDoExtentOfOrder}"></td>
                <td th:text="${b.date}" class="change-color"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="button" class="btn btn-primary btn-sm" onclick="editDistribution(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                </td>
                <td th:text="${(b.mainOrder!=null)? b.mainOrder.extentForDistribution:''}"></td>
                <td th:text="${(b.mainOrder!=null)? b.mainOrder.date:''}"></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Заказ, м<sup>3</sup></th>
                <th scope="col">Отгружено, м<sup>3</sup></th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Срок выполнения</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                <th scope="col">extentForDistribution main order</th>
                <th scope="col">date main order</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- Распределение END -->

    <!-- EDIT DISTRIBUTION MODAL START -->
    <div class="modal fade" id="editDistributionModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDistributionModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/editOrder" method="post">
                    <div class="modal-body">
                        <input type="text" id="editDistributionId" hidden="" name="id">

                        <label class="col-form-label" for="editDistributionCode">Код</label>
                        <input type="text" class="form-control" id="editDistributionCode" required="required" autocomplete="off" name="codeOfOrder">

                        <label class="col-form-label" for="editDistributionCompany">Поставщик</label>
                        <input type="text" class="form-control" list="contrAgentProviderList" id="editDistributionCompany" required="required" autocomplete="off" name="contrAgent.nameOfAgent">
                        <datalist id="contrAgentProviderList">
                            <option th:each="b : ${contrAgentProviderList}"  th:value="${b.nameOfAgent}">
                        </datalist>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="editDistributionBreedOfTree">Порода</label>
                                <input type="text" class="form-control" list="breedOfTreeList1" id="editDistributionBreedOfTree" required="required" autocomplete="off" name="breedOfTree.breed">
                                <datalist id="breedOfTreeList1">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editBreedDescription">Описание</label>
                                <input type="text" class="form-control" id="editBreedDescription" autocomplete="off"  name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editDistributionOrder">Заказ</label>
                                <input type="number" step="any" class="form-control" id="editDistributionOrder" pattern="[0-9]*\.?[0-9]*" required="required" autocomplete="off" placeholder="м3" name="extentOfOrder">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editDistributionDone">Отгружено</label>
                                <input type="number" step="any" class="form-control" id="editDistributionDone" pattern="[0-9]*\.?[0-9]*" required="required" autocomplete="off" placeholder="м3" name="doneExtendOfOrder">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editDistributionLeft">Остаток</label>
                                <input type="number" step="any" class="form-control" id="editDistributionLeft" pattern="[0-9]*\.?[0-9]*" required="required" autocomplete="off" disabled="disabled" placeholder="м3" name="toDoExtentOfOrder">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editOrderContractDate">Срок выполнения</label>
                                <input class="form-control" type="date" id="editOrderContractDate" required="required" name="date">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function editDistribution(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#editDistributionId').val(trId);
            console.log(  $(trObj).attr('id'));
            var contractCode = $(trObj).find('th:eq(0)').text();
            $('#editDistributionModalHeader').text("Редактировать заказ №"+contractCode);

            var breedOfTree = $(trObj).find('td:eq(0)').text();
            var breedDescription = $(trObj).find('td:eq(1)').text();
            var company = $(trObj).find('td:eq(2)').text();
            var amount = $(trObj).find('td:eq(3)').text();
            var done = $(trObj).find('td:eq(4)').text();
            var left = $(trObj).find('td:eq(5)').text();
            var deadline = $(trObj).find('td:eq(6)').text();


            $('#editDistributionCode').val(contractCode);
            $('#editDistributionBreedOfTree').val(breedOfTree);
            $('#editBreedDescription').val(breedDescription);
            $('#editDistributionCompany').val(company);
            $('#editDistributionOrder').val(amount);
            $('#editDistributionDone').val(done);
            $('#editDistributionLeft').val(left);
            $('#editOrderContractDate').val(deadline);

            $('#editDistributionModal').modal('show');
        }
    </script>
    <!-- EDIT DISTRIBUTION MODAL END -->

    <!-- ADD DISTRIBUTION MODAL START -->
    <div class="modal fade" id="addDistributionModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить заказ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/addDistribution">
                    <div class="modal-body">

                        <label class="col-form-label" for="addDistributionCode">Код</label>
                        <input type="text" class="form-control" id="addDistributionCode" required="required" autocomplete="off">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="addDistributionBreedOfTree">Порода</label>
                                <input type="text" class="form-control" list="breedOfTreeList" id="addDistributionBreedOfTree" required="required" autocomplete="off">
                                <datalist id="breedOfTreeList">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addBreedDescription">Описание</label>
                                <input type="text" class="form-control" id="addBreedDescription" autocomplete="off"  name="breedDescription">
                            </div>
                        </div>

                        <label class="col-form-label" for="addDistributionCompany">Поставщик</label>
                        <input type="text" class="form-control" id="addDistributionCompany" required="required" autocomplete="off">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addDistributionOrder">Заказ</label>
                                <input type="number" step="any" class="form-control" id="addDistributionOrder" pattern="[0-9]*\.?[0-9]*" required="required" autocomplete="off" placeholder="м3">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addOrderContractDate">Срок выполнения</label>
                                <input class="form-control" type="date" id="addOrderContractDate" required="required" name="date">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ADD DISTRIBUTION MODAL END -->
    <!-- MODALS END-->

</th:block>





<!--Delivery order page-->

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="ordersForDelivery" xmlns:sec="http://www.thymeleaf.org">
    <!-- Распределение  START-->
    <div class="tab-pane fade show active container-fluid" id="distribution-tab">
        <table class="table table-hover table-striped" id="distribution-tab-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Заказ, м<sup>3</sup></th>
                <th scope="col">Отгружено, м<sup>3</sup></th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Срок выполнения</th>
                <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${orderInfoList}" th:id="${b.id}">
                <td th:text="${b.id}"></td>
                <th scope="row" th:text="${b.codeOfOrder}"></th>
                <td th:text="${b.breedOfTree.breed}"></td>
                <td th:text="${b.breedDescription}"></td>
                <td th:text="${(b.contrAgent!=null)?b.contrAgent.nameOfAgent:''}"></td>
                <td th:text="${b.extentOfOrder}"></td>
                <td th:text="${b.doneExtendOfOrder}"></td>
                <td th:text="${b.toDoExtentOfOrder}"></td>
                <td th:text="${b.date}" class="change-color"></td>
                <td >
                    <a class="btn btn-primary btn-sm" th:href="@{'/multimodal/getDeliveryTrucksByContract-'+${b.id}}"><i class="fas fa-info-circle" data-toggle="tooltip" title="Подробно"></i></a>
                    <button type="button" class="btn btn-primary btn-sm" onclick="sendToArchive(this)"><i class="far fa-folder-open" data-toggle="tooltip" title="В архив"></i></button>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Код</th>
                <th scope="col">Порода</th>
                <th scope="col">Описание</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Заказ, м<sup>3</sup></th>
                <th scope="col">Отгружено, м<sup>3</sup></th>
                <th scope="col">Остаток, м<sup>3</sup></th>
                <th scope="col">Срок выполнения</th>
                <th ></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Импорт" data-placement="left" onclick="importData()">
                <i class="fas fa-file-import">&nbsp;</i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Распределение END -->
    <!-- IMPORT MODAL START -->
    <div class="modal fade" id="importModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Импорт из Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       HERE         -->
                <form th:action="@{/multimodal/importOakXLS}" method="post" id="importForm" enctype="multipart/form-data">
                    <!--       HERE                 -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputFile">Выберите файл</label>
                            <input type="file" required="required" class="form-control-file" id="inputFile" aria-describedby="fileHelp" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="fileXLS">
                            <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
                            <label class="col-form-label" for="importSetContract">Привязать контракт</label>
                            <input type="text" class="form-control" list="contractsList" id="importSetContract" required="required" autocomplete="off">
                            <datalist id="contractsList">
                                <option  th:each="c : ${distributeOrderList}" th:data-value="${c.id}" th:text="${c.codeOfOrder}" th:label="${c.contrAgent.nameOfAgent}">
                                </option>
                            </datalist>
                            <input type="number" hidden="hidden"  name="contractId" id="importSetContract-hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" id="importButton" class="btn btn-primary">Импорт</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function importData() {
            $('#importModal').modal('show');
        }
    </script>
    <!-- IMPORT MODAL END -->

</th:block>