<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="userCompany">
    <!-- Пользователи  START-->
    <div class="tab-pane fade show active container-fluid" id="admin-users">
        <table class="table table-hover table-striped" id="admin-users-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название компании</th>
                <th scope="col">Местонахождение</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col">Контрагент</th>
                <th scope="col">Роль</th>
                <th scope="col">Agent id</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="uc : ${allUserCompanyList}" th:id="${uc.id}">
                    <td th:text="${uc.id}"></td>
                    <th scope="row" th:text="${uc.nameOfCompany}"></th>
                    <td th:text="${uc.location}"></td>
                    <td th:text="${uc.username}"></td>
                    <td th:text="${uc.password}"></td>
                    <td th:text="${(uc.contrAgent!=null)?uc.contrAgent.nameOfAgent:''}"></td>
                    <td th:text="${uc.role}"></td>
                    <td th:text="${uc?.contrAgent?.id}"></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" onclick="editUserCompany(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название компании</th>
                <th scope="col">Местонахождение</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col">Контрагент</th>
                <th scope="col">Роль</th>
                <th scope="col">Agent id</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить" data-toggle="modal" data-placement="left" data-target="#addUserModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Пользователи END -->

    <!-- ADD USER MODAL START -->
    <div class="modal fade" id="addUserModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/addUser" method="post">
                    <div class="modal-body">

                        <label class="col-form-label" for="addUserCompanyName">Название компании</label>
                        <input type="text" class="form-control" id="addUserCompanyName" required="required" autocomplete="off" name="nameOfCompany">

                        <label class="control-label" for="addUserLocation">Местонахождение</label>
                        <input type="text" class="form-control" id="addUserLocation" autocomplete="off" name="location">

                        <label class="col-form-label" for="addUserCompanyLogin">Логин</label>
                        <input type="text" class="form-control" id="addUserCompanyLogin" required="required" autocomplete="off" name="username">

                        <label class="col-form-label" for="addUserCompanyPassword">Пароль</label>
                        <input type="text" class="form-control" id="addUserCompanyPassword" required="required" autocomplete="off" name="password">

                        <div class="form-group row d-flex" style="align-items: flex-end">
                            <div class="col-6">
                                <label class="col-form-label" for="addContractBuyer">Соединить с контрагентом</label>
                                <input type="text" class="form-control" list="contrAgentList" id="addContractBuyer" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="contrAgentList">
                                    <option th:each="b : ${contrAgentProviderList}"  th:data-value="${b.id}"  th:text="${b.nameOfAgent}"></option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="contrAgent.id" id="addContractBuyer-hidden">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addUserCompanyRole">Роль</label>
                                <input type="text" class="form-control" list="rolesList" id="addUserCompanyRole" required="required" autocomplete="off" name="role">
                                <datalist id="rolesList">
                                    <option value="ROLE_ADMIN">
                                    <option value="ROLE_SUPER_USER">
                                    <option value="ROLE_USER">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ADD USERS MODAL END -->

    <!-- EDIT USERS MODAL START -->
    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserCompanyModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/editUser" method="post">
                    <div class="modal-body">
                        <input type="text" id="editUserId" hidden="" name="id">

                        <label class="col-form-label" for="editUserCompanyName">Название компании</label>
                        <input type="text" class="form-control" id="editUserCompanyName" required="required" autocomplete="off" name="nameOfCompany">

                        <label class="control-label" for="editUserLocation">Местонахождение</label>
                        <input type="text" class="form-control" id="editUserLocation" autocomplete="off" name="location">


                        <label class="col-form-label" for="editUserCompanyLogin">Логин</label>
                        <input type="text" class="form-control" id="editUserCompanyLogin" required="required" autocomplete="off" name="username">

                        <label class="col-form-label" for="editUserCompanyPassword">Пароль</label>
                        <input type="text" class="form-control" id="editUserCompanyPassword" required="required" autocomplete="off" name="password">

                        <div class="form-group row d-flex" style="align-items: flex-end">
                            <div class="col-6">
                                <label class="col-form-label" for="addContrAgent">Соединить с контрагентом</label>
                                <input type="text" class="form-control" list="contrAgentList1" id="addContrAgent" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="contrAgentList1">
                                    <option th:each="b : ${contrAgentProviderList}"  th:data-value="${b.id}"  th:text="${b.nameOfAgent}"></option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="contrAgent.id" id="addContrAgent-hidden">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editUserCompanyRole">Роль</label>
                                <input type="text" class="form-control" list="editRolesList" id="editUserCompanyRole" required="required" autocomplete="off" name="role">
                                <datalist id="editRolesList">
                                    <option value="ROLE_ADMIN">
                                    <option value="ROLE_SUPER_USER">
                                    <option value="ROLE_USER">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function editUserCompany(btnObj) {

            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#editUserId').val(trId);
            console.log(  $(trObj).attr('id'));
            var userName = $(trObj).find('th:eq(0)').text();
            $('#editUserCompanyModalHeader').text("Редактировать "+userName);

            var name = $(trObj).find('th:eq(0)').text();
            var location = $(trObj).find('td:eq(0)').text();
            var login = $(trObj).find('td:eq(1)').text();
            var password = $(trObj).find('td:eq(2)').text();
            var contrAgent = $(trObj).find('td:eq(3)').text();
            var role = $(trObj).find('td:eq(4)').text();
            var agentId = $(trObj).find('td:eq(5)').text();

            $('#editUserCompanyName').val(name);
            $('#editUserLocation').val(location);
            $('#editUserCompanyLogin').val(login);
            $('#editUserCompanyPassword').val(password);
            $('#addContrAgent').val(contrAgent);
            $('#editUserCompanyRole').val(role);
            $('#addContrAgent-hidden').val(agentId);

            $('#editUserModal').modal('show');
        }
    </script>
    <!-- EDIT USERS MODAL END -->



</th:block>