<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="statisticTab">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/getDailyFactoryPowerStatistic'}"
                   th:classappend="${tabName=='dailyStatistic'} ? 'active':''" >История</a>
            </li>
            <li class="nav-item" th:each="breed : ${breedOfTreeList}">
                <a class="nav-link" th:href="@{'/admin/getStatistics-'+${breed.id}}"
                   th:classappend="${tabName==breed.id} ? 'active':''" th:text="${breed.breed}">Сосна</a>
            </li>
        </ul>
    </div>
</th:block>


<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="statisticUsersTab">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/getDailyFactoryPowerStatistic'}"
                   th:classappend="${tabName=='dailyStatistic'} ? 'active':''" >История</a>
            </li>
            <li class="nav-item" th:each="breed : ${breedOfTreeList}">
                <a class="nav-link" th:href="@{'/admin/getUserStatistics-'+${breed.id}+'-'+${userId}}"
                   th:classappend="${tabName==breed.id} ? 'active':''" th:text="${breed.breed}">Сосна</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="adminDashboard">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListOfUserCompany"
                   th:classappend="${tabName.equals('userCompany')} ? 'active':''">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListBreedOfTree"
                   th:classappend="${tabName.equals('breedOfTree')} ? 'active':''">Материалы</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="contrAgent">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListOfContrAgents-1"
                   th:classappend="${tabName.equals('1')} ? 'active':''">Покупатели (внутренний рынок)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListOfContrAgents-2"
                   th:classappend="${tabName.equals('2')} ? 'active':''">Покупатели (внешний рынок)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListOfContrAgents-3"
                   th:classappend="${tabName.equals('3')} ? 'active':''">Поставщики</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="orders">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListOfContract"
                   th:classappend="${tabName.equals('contract')} ? 'active':''">Контракты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/getListOfOrders"
                   th:classappend="${tabName.equals('orders')} ? 'active':''">Заказы</a>
            </li>
        </ul>
    </div>
</th:block>


<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="multimodalMain">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/multimodal/getMultimodalOrders"
                   th:classappend="${tabName.equals('contracts')} ? 'active':''">Контракты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/multimodal/getListOfALLContainers"
                   th:classappend="${tabName.equals('containers')} ? 'active':''">Контейнеры</a>
            </li>
            <li class="nav-item" style="position: absolute; right: 10%;">
                <a class="nav-link" href="/multimodal/getLeftOverInfo"
                   th:classappend="${tabName.equals('leftOver')} ? 'active':''">Остаток</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="multimodalDetails">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/multimodal/getTrucksByContract-'+${contractId}}"
                   th:classappend="${tabName.equals('trucks')} ? 'active':''">Машины</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="multimodalFullDetails">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{'/multimodal/getTrucksByContract-'+${contractId}}">Подробно</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="transportationTab">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item" th:each="breed : ${breedOfTreeList}">
                <a class="nav-link" th:href="@{'/multimodal/getDeliveryInUkraine-'+${breed.id}}"
                   th:classappend="${tabName==breed.id} ? 'active':''" th:text="${breed.breed}">Сосна</a>
            </li>
        </ul>
    </div>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="deliveryUA">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:href="${urlContractPage}"
                   th:classappend="${tabName.equals('contracts')} ? 'active':''">Контракты</a>
            </li>
            <li class="nav-item" th:if="${tabName.equals('details')}">
                <a class="nav-link" href="#"
                   th:classappend="${tabName.equals('details')} ? 'active':''">Подробно</a>
            </li>
        </ul>
    </div>
</th:block>


