<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="statisticsPine">
    <div class="tab-pane fade show active container-fluid" id="pineStats">
        <h1>Pine</h1>
        <div class="ui form">

            <h3>Dropdown with Topic Display</h3>

            <div class="inline field">
                <label>Select Topics</label>

                <select class="ui fluid search dropdown" multiple="">
                    <option value="">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                </select>
            </div>

        </div>

        <br><br>

        <div class="ui button">
            Clear Filters
        </div>


    </div>
</th:block>






<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="statisticsOak">
    <div class="tab-pane fade show active container-fluid" id="oakStats">
        <h1>Oak</h1>
    </div>
</th:block>