<th:block xmlns:th="http://www.w3.org/1999/xhtml"  th:fragment="multimodalContracts">

    <!-- Контракты  START-->
    <div class="tab-pane fade show active container-fluid" id="contracts">
        <table class="table table-hover table-striped" id="contracts-table">
            <br>
            <thead>
            <tr>
                <th>id</th>
                <th scope="col">№ контракта</th>
                <th scope="col">Покупатель</th>
                <th scope="col">Материал</th>
                <th scope="col">Описание</th>
                <th scope="col">Кубатура</th>
                <th scope="col">Отгрузка (выехало в порт)</th>
                <th scope="col">Ожидаемый объем</th>
                <th scope="col">Срок выполнения</th>
                <th scope="col" th:if="${buttonConfig!=null && buttonConfig.equals('multimodalMain')}">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${multimodalOrderList}" th:id="${order.id}">
                <td th:text="${order.id}"></td>
                <th scope="row" th:text="${order.codeOfOrder}"></th>
                <td th:text="${(order.contrAgent!=null)?order.contrAgent.nameOfAgent:''}"></td>
                <td th:text="${order.breedOfTree.breed}"></td>
                <td th:text="${order.breedDescription}"></td>
                <td th:text="${order.extentOfOrder}"></td>
                <td th:text="${order.doneExtendOfOrder}"></td>
                <td th:text="${order.toDoExtentOfOrder}"></td>
                <td th:text="${order.date}"  class="change-color"></td>
                <td th:text="${order.statusOfEntity}" th:if="${buttonConfig!=null && buttonConfig.equals('multimodalMain')}"></td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{'/multimodal/getTrucksByContract-'+${order.id}}"><i class="fas fa-info-circle" data-toggle="tooltip" title="Подробно"></i></a>
                    <button th:if="${buttonConfig!=null && buttonConfig.equals('multimodalMain')}" type="button" class="btn btn-primary btn-sm" onclick="editContract(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    <a class="btn btn-primary btn-sm" th:href="@{'/multimodal/exportAllPackagesByContract-'+${order.id}}"><i class="far fa-file-excel" data-toggle="tooltip" title="Экспорт"></i></a>
                    <button th:if="${buttonConfig!=null && buttonConfig.equals('multimodalMain')}" type="button" class="btn btn-primary btn-sm" onclick="sendToArchive(this)"><i class="far fa-folder-open" data-toggle="tooltip" title="В архив"></i></button>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th>id</th>
                <th scope="col">№ контракта</th>
                <th scope="col">Покупатель</th>
                <th scope="col">Материал</th>
                <th scope="col">Описание</th>
                <th scope="col">Кубатура</th>
                <th scope="col">Отгрузка (выехало в порт)</th>
                <th scope="col">Ожидаемый объем</th>
                <th scope="col">Срок выполнения</th>
                <th scope="col" th:if="${buttonConfig!=null && buttonConfig.equals('multimodalMain')}" >Status</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Импорт" data-placement="left" onclick="importData()">
                <i class="fas fa-file-import">&nbsp;</i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Контракты END -->

    <!-- MODALS START-->
    <!-- EDIT CONTRACTS MODAL START -->
    <div class="modal fade" id="editContractModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editContractModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/editMultimodalContarct" method="post">
                    <div class="modal-body">
                        <input type="text" id="editContractId" hidden="" name="id">

                        <label class="col-form-label" for="editContractNumber">№ контракта</label>
                        <input type="text" class="form-control" id="editContractNumber" required="required" autocomplete="off" name="codeOfOrder">

                        <label class="col-form-label" for="editContractBuyers">Покупатель</label>
                        <input type="text" class="form-control" list="companiesList" id="editContractBuyers" required="required" autocomplete="off" name="contrAgent.nameOfAgent">
                        <datalist id="companiesList">
                            <option th:each="b : ${contrAgentProviderList}"  th:value="${b.nameOfAgent}">
                        </datalist>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-6">
                                <label class="control-label" for="editContractMaterial">Материал</label>
                                <input type="text" class="form-control" list="breedOfTreeList" disabled="disabled" id="editContractMaterial" required="required" autocomplete="off" name="breedOfTree.breed">
                                <datalist id="breedOfTreeList">
                                    <option th:each="b : ${breedOfTreeList}"  th:value="${b.breed}">
                                </datalist>
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editContractMaterialDescription">Описание</label>
                                <input type="text" class="form-control" id="editContractMaterialDescription" disabled="disabled" required="required" autocomplete="off" name="breedDescription">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editContractExtent">Кубатура</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editContractExtent" required="required" autocomplete="off" name="extentOfOrder">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editContractTarnsported">Отгрузка (выехало в порт)</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" disabled="disabled" id="editContractTarnsported" required="required" autocomplete="off" name="doneExtendOfOrder">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end;margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editContractExpectedExtent">Ожидаемый объем</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editContractExpectedExtent" required="required" autocomplete="off" name="toDoExtentOfOrder">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="editContractTerms">Срок выполнения</label>
                                <input type="date" class="form-control" id="editContractTerms" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function editContract(btnObj) {
            var trObj =             btnObj.parentElement.parentElement;
            var trId =              $(trObj).attr('id');
            $('#editContractId').val(trId);
            console.log(  $(trObj).attr('id'));
            var contractNumber =    $(trObj).find('th:eq(0)').text();
            $('#editContractModalHeader').text("Редактировать контракт №"+contractNumber);

            var buyer =             $(trObj).find('td:eq(0)').text();
            var material =          $(trObj).find('td:eq(1)').text();
            var description =       $(trObj).find('td:eq(2)').text();
            var extent =            $(trObj).find('td:eq(3)').text();
            var sent =              $(trObj).find('td:eq(4)').text();
            var expected =          $(trObj).find('td:eq(5)').text();
            var terms =             $(trObj).find('td:eq(6)').text();

            $('#editContractNumber').val(contractNumber);
            $('#editContractBuyers').val(buyer);
            $('#editContractMaterial').val(material);
            $('#editContractMaterialDescription').val(description);
            $('#editContractExtent').val(extent);
            $('#editContractTarnsported').val(sent);
            $('#editContractExpectedExtent').val(expected);
            $('#editContractTerms').val(terms);

            $('#editContractModal').modal('show');
        }
    </script>
    <!-- EDIT CONTRACTS MODAL END -->

    <!-- CONFIRMATION MODAL START -->
    <div class="modal fade" id="archiveConfirmationModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Архив</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       HERE         -->
                <form action="/multimodal/sendToArchive" method="post">
                    <!--       HERE                 -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="archiveRecordModalId" hidden="hidden" autocomplete="off" name="id">

                            <p id="archiveModalConfirmation">

                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">В архив</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function sendToArchive(btnObj) {
            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#archiveRecordModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var codeOfContract = $(trObj).find('th:eq(0)').text();

            $('#archiveModalConfirmation').text("Вы уверены, что хотите отправить в архив контракт №"+codeOfContract+" ?");
            $('#archiveConfirmationModal').modal('show');
        }
    </script>
    <!-- CONFIRMATION MODAL END -->

    <!-- IMPORT MODAL START -->
    <div class="modal fade" id="importModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Импорт из Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/multimodal/importXLS}" method="post" id="importForm" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputFile">Выберите файл</label>
                            <input type="file" required="required" class="form-control-file" id="inputFile" aria-describedby="fileHelp" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="fileXLS">
                             <small id="fileHelp" class="form-text text-muted">Чтобы избежать ошибок со считованием данных, ознакомтесь с требованиями к импортируему файлу <a href="#">здесь</a></small>
                            <label class="col-form-label" for="importSetContract">Привязать контракт</label>
                            <input type="text" class="form-control" list="contractsList" id="importSetContract" required="required" autocomplete="off">
                            <datalist id="contractsList">
                                <option  th:each="c : ${distributeOrderList}" th:data-value="${c.id}" th:text="${c.codeOfOrder}" th:label="${c.contrAgent.nameOfAgent}">
                                </option>
                            </datalist>
                            <input type="number" hidden="hidden"  name="contractId" id="importSetContract-hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" id="importButton" class="btn btn-primary">Импорт</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function importData() {
            $('#importModal').modal('show');
        }
    </script>
    <!-- IMPORT MODAL END -->

    <!-- MODALS END-->


</th:block>