<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="multimodalTrucks">
    <!-- Подробно машины  START-->
    <div class="tab-pane fade show active container-fluid" id="multimodal-truck">
        <table class="table table-hover table-striped" id="multimodal-truck-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Дата загрузки</th>
                <th scope="col">№ машины</th>
                <th scope="col">Место отгрузки</th>
                <th scope="col">Экспортный объем, привоз, м<sup>3</sup></th>
                <th scope="col">Контракт</th>
                <th scope="col">Контракт id</th>
                <th scope="col">Агент id</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doc : ${deliveryDocumentationList}" th:id="${doc.id}">
                <td th:text="${doc.id}"></td>
                <td scope="row" th:text="${doc.dateOfUnloading}"></td>
                <td th:text="${doc.driverInfo.idOfTruck}"></td>
                <td th:text="${(doc.contrAgent!=null)?doc.contrAgent.addressOfCompany:''}"></td>
                <td th:text="${doc.packagesExtent}"></td>
                <td th:text="${doc.orderInfo.codeOfOrder}"></td>
                <td th:text="${doc.orderInfo.id}"></td>
                <td th:text="${(doc.contrAgent!=null)?doc.contrAgent.id:''}"></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="editTruck(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Дата загрузки</th>
                <th scope="col">№ машины</th>
                <th scope="col">Место отгрузки</th>
                <th scope="col">Экспортный объем, привоз, м<sup>3</sup></th>
                <th scope="col">Контракт</th>
                <th scope="col">Контракт id</th>
                <th scope="col">Агент id</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
<!--            <button type="button" class="buttons btn btn-primary" title="Добавить" data-toggle="modal" data-placement="left" data-target="#addTruckModal">-->
<!--                <i class="fa fa-plus"></i>-->
<!--            </button>-->

            <button type="button" class="buttons main-button btn btn-primary" title="Назад"  data-placement="left" onclick="location.href='/multimodal/getMultimodalOrders';">
                <i class="fas fa-chevron-left">&nbsp;</i>
            </button>
        </div>
        <div class="float-action-button-right">
            <button type="button" class="buttons main-button btn btn-primary" title="Подробнее" data-placement="left" onclick="location.href='/multimodal/getFullDetailsOfContract-'+this.name" th:name="${contractId}">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Подробно машины END -->

    <!-- ADD TRUCK MODAL START -->
    <div class="modal fade" id="addTruckModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/multimodal/addTrucksByContract-'+${contractId}}" method="post">
                    <div class="modal-body">

                        <label class="col-form-label" for="addTruckDateOfUploading">Дата загрузки</label>
                        <input type="date" class="form-control" id="addTruckDateOfUploading" required="required" name="dateOfUnloading">

                        <label class="col-form-label" for="addTruckNumber">№ машины</label>
                        <input type="text" class="form-control" id="addTruckNumber" required="required" autocomplete="off" name="driverInfo.idOfTruck">

<!--                        <label class="col-form-label" for="addTruckPlace">Место отгрузки</label>-->
<!--                        <input type="text" class="form-control" list="addTruckList" id="addTruckPlace" required="required" autocomplete="off" name="contrAgent.id">-->
<!--                        <datalist id="addTruckList">-->
<!--                            <option th:each="agent : ${providerList}"  th:value="${agent.id}" th:label="${agent.addressOfCompany}">-->
<!--                        </datalist>-->

<!--                        <label class="col-form-label" for="addTruckPlace">Место отгрузки</label>-->
<!--                        <input type="text" class="form-control" id="addTruckPlace" required="required" autocomplete="off">-->

                        <label class="col-form-label" for="answer">Место отгрузки</label>
                        <input type="text" class="form-control" list="places" id="answer" required="required" autocomplete="off">
                        <datalist id="places">
                            <option data-value="1">Company 1</option>
                            <option data-value="2">Company 2</option>
                        </datalist>
                        <input type="hidden" name="answer" id="answer-hidden">

                        <label class="col-form-label" for="addTruckExpotrExtent">Экспортный объем, привоз</label>
                        <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addTruckExpotrExtent" required="required" autocomplete="off" name="packagesExtent">
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.querySelector("#addTruckDateOfUploading").valueAsDate = new Date();
    </script>
    <!-- ADD TRUCK MODAL END -->

    <!-- EDIT TRUCK MODAL START -->
    <div class="modal fade" id="editTruckModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTruckModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/multimodal/editTrucksByContract-'+${contractId}}" method="post">
                    <div class="modal-body">
                        <input type="text" id="editTruckId" hidden="" name="id">

                        <label class="col-form-label" for="editTruckDateOfUploading">Дата загрузки</label>
                        <input type="date" class="form-control" id="editTruckDateOfUploading" required="required" name="dateOfUnloading">

                        <label class="col-form-label" for="editTruckNumber">№ машины</label>
                        <input type="text" class="form-control" id="editTruckNumber" required="required" autocomplete="off" name="driverInfo.idOfTruck">

                        <label class="col-form-label" for="editTruckPlace">Место отгрузки</label>
                        <input type="text" class="form-control" list="editTruckList" id="editTruckPlace" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                        <datalist id="editTruckList">
                            <option th:each="agent : ${providerList}"  th:data-value="${agent.id}" th:text="${agent.addressOfCompany}" th:label="${agent.nameOfAgent}">
                        </datalist>
                        <input type="hidden" name="contrAgent.id" id="editTruckPlace-hidden">

                        <label class="col-form-label" for="editTruckExpotrExtent">Экспортный объем, привоз, м<sup>3</sup></label>
                        <input type="text" class="form-control" id="editTruckExpotrExtent" required="required" autocomplete="off" name="packagesExtent">

                        <label class="col-form-label" for="editContractCode" >Контракт</label>
                        <input type="text" class="form-control" list="editContractsList" id="editContractCode" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                        <datalist id="editContractsList">
                            <option th:each="contract : ${contractDistributionList}"  th:data-value="${contract.id}" th:text="${contract.codeOfOrder}" th:label="${contract.date}"></option>
                        </datalist>
                        <input type="hidden" name="orderInfo.id" id="editContractCode-hidden">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function editTruck(btnObj) {

            let trObj =             btnObj.parentElement.parentElement;
            let trId =              $(trObj).attr('id');
            $('#editTruckId').val(trId);
            console.log("truck id: "+  $(trObj).attr('id'));
            let truckNumber =    $(trObj).find('td:eq(1)').text();
            $('#editTruckModalHeader').text("Редактировать "+ truckNumber);

            let date =              $(trObj).find('td:eq(0)').text();
            let place =             $(trObj).find('td:eq(2)').text();
            let extent =            $(trObj).find('td:eq(3)').text();
            let contract =          $(trObj).find('td:eq(4)').text();

            let hiddenContract=     $(trObj).find('td:eq(5)').text();
            let hiddenPlace=        $(trObj).find('td:eq(6)').text();

            $('#editTruckDateOfUploading')             .val(date);
            $('#editTruckPlace')                       .val(place);
            $('#editTruckNumber')                      .val(truckNumber);
            $('#editTruckExpotrExtent')                .val(extent);
            $('#editContractCode')                     .val(contract);

            $('#editContractCode-hidden')              .val(hiddenContract);
            $('#editTruckPlace-hidden')                .val(hiddenPlace);

            $('#editTruckModal').modal('show');
        }
    </script>
<!--    <script type="text/javascript">-->
<!--        function setHiddenValue(input) {-->
<!--            let list = input.getAttribute('list');-->
<!--            let options = document.querySelectorAll('#' + list + ' option');-->
<!--            let hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden');-->
<!--            let label = input.value;-->

<!--            hiddenInput.value = label;-->

<!--            for(let i = 0; i < options.length; i++) {-->
<!--                let option = options[i];-->

<!--                if(option.innerText === label) {-->
<!--                    hiddenInput.value = option.getAttribute('data-value');-->
<!--                    break;-->
<!--                }-->
<!--            }-->
<!--            console.log("Hidden input value:"+hiddenInput.value);-->
<!--        }-->
<!--    </script>-->
    <!-- EDIT TRUCK MODAL END -->
</th:block>