<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="multimodalFullDetails">

    <!-- Подробно  START-->
    <div class="tab-pane fade show active container-fluid" id="info-detailed">
        <table class="table table-hover table-striped" id="info-detailed-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ маш.</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Толщина</th>
                <th scope="col">Ширина</th>
                <th scope="col">Длина</th>
                <th scope="col">Штук</th>
                <th scope="col">Кубатура</th>
                <th scope="col">Выс.</th>
                <th scope="col">Шир.</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Дл.-ФАКТ</th>
                <th scope="col">Выс/Шир</th>
                <th scope="col">Контракт</th>
                <th scope="col">№ контейн.</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="doc : ${contractPackagesList}">
                <tr th:each="pack : ${doc.productList}" th:id="${pack.id}">
                    <td th:text="${pack.id}"></td>
                    <td th:text="${doc.driverInfo?.idOfTruck}"></td>
                    <td th:text="${pack.codeOfPackage}"></td>
                    <td th:text="${pack.sizeOfHeight}"></td>
                    <td th:text="${pack.sizeOfWidth}"></td>
                    <td th:text="${pack.sizeOfLong}"></td>
                    <td th:text="${pack.countOfDesk}"></td>
                    <td th:text="${pack.extent}"></td>
                    <td th:text="${pack.countDeskInHeight}"></td>
                    <td th:text="${pack.countDeskInWidth}"></td>
                    <td th:text="${pack.codeOfDeliveryCompany}"></td>
                    <td th:text="${pack.longFact}"></td>
                    <td th:text="${pack.height_width}"></td>
                    <td th:text="${pack.orderInfo?.codeOfOrder}"></td>
                    <td th:text="${pack?.container?.code}"></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" onclick="editRecord(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                        <!-- <button type="button" class="btn btn-primary btn-sm" onclick="exportData(this)"><i class="far fa-file-excel" data-toggle="tooltip" title="Экспорт"></i></button> -->
                        <button type="button" class="btn btn-primary btn-sm" onclick="deleteRecord(this)"><i class="far fa-trash-alt" data-toggle="tooltip" title="Удалить"></i></button>
                    </td>
                </tr>
            </th:block>

            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ маш.</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Толщина</th>
                <th scope="col">Ширина</th>
                <th scope="col">Длина</th>
                <th scope="col">Штук</th>
                <th scope="col">Кубатура</th>
                <th scope="col">Выс.</th>
                <th scope="col">Шир.</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Дл.-ФАКТ</th>
                <th scope="col">Выс/Шир</th>
                <th scope="col">Контракт</th>
                <th scope="col">№ контейн.</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Назад"  data-placement="left" onclick="location.href='/multimodal/getTrucksByContract-'+this.name" th:name="${contractId}">
                <i class="fas fa-chevron-left">&nbsp;</i>
            </button>
        </div>

        <div class="float-action-button" style="right: 0; left: auto;">
           <button type="button" class="buttons btn btn-primary" title="Экспорт" data-placement="left" onclick="location.href='/multimodal/exportAllPackagesByContract-'+this.name" th:name="${contractId}">
               <i class="far fa-file-excel"></i>
           </button>
            <button type="button" class="buttons btn btn-primary" title="Присвоить контейнер выделенным"  data-toggle="modal" data-placement="left" data-target="#setContainer">
                <i class="far fa-list-alt"></i>
            </button>
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить" data-toggle="modal" data-placement="left" data-target="#addRecordModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Подробно END -->



    <!-- MODALS START-->
    <!-- EDIT CONTRACTS MODAL START -->
    <div class="modal fade" id="editDetailsModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editContractModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/multimodal/editPackageToDeliveryDoc-'+${contractId}}" method="post">
                    <div class="modal-body">
                        <input type="text" id="editRecordtId" hidden="" name="id">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordCarNumber">№ машыны</label>
                                <input type="text" class="form-control" list="editIdList" id="editRecordCarNumber" required="required" autocomplete="off" name="driverIdOfTruck">
                                <datalist id="editIdList">
                                    <option th:each="idValue : ${idOfTruckList}"  th:value="${idValue}">
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordPackNumber">№ пачки</label>
                                <input type="text" class="form-control" id="editRecordPackNumber" required="required" autocomplete="off" name="codeOfPackage">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordThickness">Толщина</label>
                                <input type="number" class="form-control" id="editRecordThickness" required="required" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordWidth">Ширина</label>
                                <input type="number" class="form-control" id="editRecordWidth" required="required" autocomplete="off" name="sizeOfWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordLength">Длина</label>
                                <input type="number" class="form-control" id="editRecordLength" required="required" autocomplete="off" name="sizeOfLong">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordCount">Штук</label>
                                <input type="number" class="form-control" id="editRecordCount" required="required" autocomplete="off" name="countOfDesk">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordExtent">Кубатура</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editRecordExtent" required="required" autocomplete="off" name="extent">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordHeightPc">Высота, шт.</label>
                                <input type="number" class="form-control" id="editRecordHeightPc" required="required" autocomplete="off" name="countDeskInHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordWidthPc">Ширина, шт.</label>
                                <input type="number" class="form-control" id="editRecordWidthPc" required="required" autocomplete="off" name="countDeskInWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordLengthFact">Длина - ФАКТ</label>
                                <input type="number" class="form-control" id="editRecordLengthFact" required="required" autocomplete="off" name="longFact">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordPackNumberMultiModal">№ пачки (Мультимодал)</label>
                                <input type="text" class="form-control" id="editRecordPackNumberMultiModal" required="required" autocomplete="off" name="codeOfDeliveryCompany">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordWidthHeight">Высота/Ширина</label>
                                <input type="text" class="form-control" id="editRecordWidthHeight" required="required" autocomplete="off" name="height_width">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordContractNumber">Контракт</label>
                                <input type="text" class="form-control" list="editContractssList" id="editRecordContractNumber"  autocomplete="off" name="contractName">
                                <datalist id="editContractssList">
                                    <option  th:each="c : ${distributeOrderList}" th:value="${c.codeOfOrder}">
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordContainerNumber">№ контейнера</label>
                                <input type="text" class="form-control" id="editRecordContainerNumber" required="required" autocomplete="off" name="containerName">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- SCRIPTS START-->
    <!-- SCRIPTS  END-->

    <script type="text/javascript">
        function editRecord(btnObj) {

            var trObj =             btnObj.parentElement.parentElement;
            var trId =              $(trObj).attr('id');
            $('#editRecordtId').val(trId);
            console.log(  $(trObj).attr('id'));
            var contractNumber =    $(trObj).find('th:eq(0)').text();
            // $('#editContractModalHeader').text("Редактировать контракт №"+contractNumber);

            var carNumber =         $(trObj).find('td:eq(0)').text();
            var pack =              $(trObj).find('td:eq(1)').text();
            var thickness =         $(trObj).find('td:eq(2)').text();
            var width =             $(trObj).find('td:eq(3)').text();
            var length =            $(trObj).find('td:eq(4)').text();
            var count =             $(trObj).find('td:eq(5)').text();
            var extent =            $(trObj).find('td:eq(6)').text();
            var heightPc =          $(trObj).find('td:eq(7)').text();
            var widthPc =           $(trObj).find('td:eq(8)').text();
            var packMM =            $(trObj).find('td:eq(9)').text();
            var fact =              $(trObj).find('td:eq(10)').text();
            var wh =                $(trObj).find('td:eq(11)').text();
            var contract =          $(trObj).find('td:eq(12)').text();
            var container =         $(trObj).find('td:eq(13)').text();

            $('#editRecordCarNumber')           .val(carNumber);
            $('#editRecordPackNumber')          .val(pack);
            $('#editRecordThickness')           .val(thickness);
            $('#editRecordWidth')               .val(width);
            $('#editRecordLength')              .val(length);
            $('#editRecordCount')               .val(count);
            $('#editRecordExtent')              .val(extent);
            $('#editRecordHeightPc')            .val(heightPc);
            $('#editRecordWidthPc')             .val(widthPc);
            $('#editRecordPackNumberMultiModal').val(packMM);
            $('#editRecordLengthFact')          .val(fact);
            $('#editRecordWidthHeight')         .val(wh);
            $('#editRecordContractNumber')      .val(contract);
            $('#editRecordContainerNumber')     .val(container);


            $('#editDetailsModal').modal('show');
        }
    </script>
    <!-- EDIT CONTRACTS MODAL END -->

    <!-- ADD CONTRACTS MODAL START -->
    <div class="modal fade" id="addRecordModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить запись</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/multimodal/addPackageToDeliveryDoc-'+${contractId}}" method="post">
                    <div class="modal-body">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordCarNumber">№ машыны</label>
                                <input type="text" class="form-control" list="idList" id="addRecordCarNumber" required="required" autocomplete="off" name="driverIdOfTruck">
                                <datalist id="idList">
                                    <option th:each="idValue : ${idOfTruckList}"  th:value="${idValue}">
                                </datalist>
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addRecordPackNumber">№ пачки</label>
                                <input type="text" class="form-control" id="addRecordPackNumber" required="required" autocomplete="off" name="codeOfPackage">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordThickness">Толщина</label>
                                <input type="number" class="form-control" id="addRecordThickness" required="required" placeholder="мм" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordWidth">Ширина</label>
                                <input type="number" class="form-control" id="addRecordWidth" required="required" placeholder="мм" autocomplete="off" name="sizeOfWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordLength">Длина</label>
                                <input type="number" class="form-control" id="addRecordLength" required="required" placeholder="мм" autocomplete="off" name="sizeOfLong">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordCount">Штук</label>
                                <input type="number" class="form-control" id="addRecordCount" required="required" placeholder="шт" autocomplete="off" name="countOfDesk">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordExtent">Кубатура</label>
                                <input type="number" step="any" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addRecordExtent" required="required" placeholder="м3" autocomplete="off" name="extent">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordHeightPc">Высота</label>
                                <input type="number" class="form-control" id="addRecordHeightPc" required="required" placeholder="шт" autocomplete="off" name="countDeskInHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordWidthPc">Ширина</label>
                                <input type="number" class="form-control" id="addRecordWidthPc" required="required" placeholder="шт" autocomplete="off" name="countDeskInWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordLengthFact">Длина - ФАКТ</label>
                                <input type="number" class="form-control" id="addRecordLengthFact" required="required" placeholder="мм" autocomplete="off" name="longFact">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordPackNumberMultiModal">№ пачки (Мультимодал)</label>
                                <input type="text" class="form-control" id="addRecordPackNumberMultiModal"  autocomplete="off" name="codeOfDeliveryCompany">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordWidthHeight">Высота/Ширина</label>
                                <input type="text" class="form-control" id="addRecordWidthHeight" placeholder="в/ш" autocomplete="off" name="height_width">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordContractNumber">Контракт</label>
                                <input type="text" class="form-control" list="contractssList" id="addRecordContractNumber"  autocomplete="off" name="contractName">
                                <datalist id="contractssList">
                                    <option  th:each="c : ${distributeOrderList}" th:value="${c.codeOfOrder}">
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordContainerNumber">№ контейнера</label>
                                <input type="text" class="form-control" id="addRecordContainerNumber"  autocomplete="off" name="containerName">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ADD CONTRACTS MODAL END -->


<!--    &lt;!&ndash; IMPORT MODAL START &ndash;&gt;-->
<!--    <div class="modal fade" id="importModal">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Импорт из Excel</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                &lt;!&ndash;       HERE         &ndash;&gt;-->
<!--                <form th:action="" method="post" id="importForm">-->
<!--                    &lt;!&ndash;       HERE                 &ndash;&gt;-->
<!--                    <div class="modal-body">-->
<!--                        <div class="form-group">-->
<!--                            <label for="inputFile">Выберите файл</label>-->
<!--                            <input type="file" required="required" class="form-control-file" id="inputFile" aria-describedby="fileHelp" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">-->
<!--                            &lt;!&ndash; <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button submit" id="importButton" class="btn btn-primary">Импорт</button>-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <script type="text/javascript">-->
<!--        function importData() {-->
<!--            $('#importModal').modal('show');-->
<!--        }-->
<!--    </script>-->
<!--    &lt;!&ndash; IMPORT MODAL END &ndash;&gt;-->

    <!-- CONFIRMATION MODAL START -->
    <div class="modal fade" id="deleteConfirmationModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       HERE         -->
                <form th:action="@{'/multimodal/deletePackage-'+${contractId}}" method="post">
                    <!--       HERE                 -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="deleteRecordModalId" hidden="hidden" autocomplete="off" name="id">

                            <p id="deleteModalConfirmation">

                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function deleteRecord(btnObj) {
            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#deleteRecordModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var carNumber = $(trObj).find('th:eq(0)').text();

            $('#deleteModalConfirmation').text("Вы уверены, что хотите удалить выбраную строку?");
            $('#deleteConfirmationModal').modal('show');
        }
    </script>
    <!-- CONFIRMATION MODAL END -->

    <!-- SET CONTAINER MODAL START -->
    <div class="modal fade" id="setContainer">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Присвоить контейнер</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       HERE         -->
                <form>
                    <!--       HERE                 -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label" for="selectContainer">Контейнер</label>
                            <input type="text" class="form-control" list="selectContainersList" id="selectContainer" required="required" autocomplete="off">
                            <datalist id="selectContainersList">
<!--                                <option th:each="container : ${containersList}"  th:data-value="${container.id}" th:label="${container.code}">-->
                                <option data-value="value 1" label="label 1"></option>
                                <option data-value="value 2" label="label 2"></option>
                            </datalist>
                            <input type="hidden" name="container.id" id="selectContainer-hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="setContainerRequest">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- SET CONTAINER MODAL END -->
    <!-- MODALS END-->

</th:block>
