<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
          th:fragment="multimodalContainers">
    <!-- Подробно контейнеры  START-->
    <div class="tab-pane fade show active container-fluid" id="multimodal-container">
        <table class="table table-hover table-striped" id="multimodal-container-table">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ контейн.</th>
                <th scope="col">№ контрак.</th>
                <th scope="col">Покупатель</th>
                <th scope="col">Экспорт м<sup>3</sup></th>
                <th scope="col">Цена за м<sup>3</sup></th>
                <th scope="col">Загрузка $</th>
                <th scope="col">Вывоз в порт, $</th>
                <th scope="col">Взвешивание, грн</th>
                <th scope="col">Курс, $</th>
                <th scope="col">Эквивалент &#8372;</th>
                <th scope="col">Дата вывоза в порт</th>
                <th scope="col">Состояние</th>
                <th scope="col">Статус</th>
                <th scope="col">Agent id</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="container : ${containerList}" th:id="${container.id}">
                <td th:text="${container.id}"></td>
                <td scope="row" th:text="${container.code}"></td>
                <td th:text="${container?.codeOfOrderInfo}"></td>
                <td th:text="${container?.contrAgent?.nameOfAgent}"></td>
                <td th:text="${container.extent}"></td>
                <td th:text="${container?.coefUploading}"></td>
                <td th:text="${container.costOfUploading}"></td>
                <td th:text="${container.costOfDeliveryToPort}"></td>
                <td th:text="${container.costOfWeighing}"></td>
                <td th:text="${container.exchangeRate}"></td>
                <td th:text="${container.equalsToUAH}"></td>
                <td th:text="${container.date}"></td>
                <td th:text="${container.destinationType}"></td>
                <td th:text="${container.statusOfEntity}"></td>
                <td th:text="${container?.contrAgent?.id}"></td>
                <td style="width: 70px; text-align: right" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="button" class="btn btn-primary btn-sm" onclick="editContainer(this)"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="sendToArchive(this)"><i class="far fa-folder-open" data-toggle="tooltip" title="В архив"></i></button>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ контейн.</th>
                <th scope="col">№ контрак.</th>
                <th scope="col">Покупатель</th>
                <th scope="col">Экспорт м<sup>3</sup></th>
                <th scope="col">Цена за м<sup>3</sup></th>
                <th scope="col">Загрузка $</th>
                <th scope="col">Вывоз в порт, $</th>
                <th scope="col">Взвешивание, &#8372;</th>
                <th scope="col">Курс, $</th>
                <th scope="col">Эквивалент &#8372;</th>
                <th scope="col">Дата вывоза в порт</th>
                <th scope="col">Состояние</th>
                <th scope="col">Статус</th>
                <th scope="col">Agent id</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить контейнер" data-toggle="modal" data-placement="left" data-target="#addContainerModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Подробно контейнеры END -->

    <!-- ADD CONTAINER MODAL START -->
    <div class="modal fade" id="addContainerModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить контейнер</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/multimodal/addContainerMultimodal" method="post">
                    <div class="modal-body">
                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerNumber">№ контейнера</label>
                                <input type="text" class="form-control" id="addContainerNumber" required="required" placeholder="Не заполнено" autocomplete="off" name="code">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addContractNumber" >№ контракта</label>
                                <input type="text" class="form-control"  id="addContractNumber" placeholder="Не заполнено" autocomplete="off" name="codeOfOrderInfo">

                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerBuyer">Покупатель</label>
                                <input type="text" class="form-control" list="addContainerBuyersList" id="addContainerBuyer" placeholder="Не заполнено" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="addContainerBuyersList">
                                    <option th:each="b : ${contrAgentList}" th:data-value="${b.id}"  th:text="${b.nameOfAgent}"></option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="contrAgent.id" id="addContainerBuyer-hidden">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerExpotrExtent">Экспортный объем, загрузка</label>
                                <input type="number" step="any" min="0" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addContainerExpotrExtent" placeholder="m3" required="required" autocomplete="off" value="0.000" name="extent" oninput="countCostOfUploading()">
                            </div>
                        </div>


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerUnloadingPrice">Цена за м<sup>3</sup> ($)</label>
                                <input type="number" step="0.10" min="0" class="form-control" id="addContainerUnloadingPrice" pattern="[0-9]*\.?[0-9]*" placeholder="usd" required="required" autocomplete="off" name="coefUploading" value="0.00" oninput="countCostOfUploading()" >
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerUnloading">Загрузка контейнера ($)</label>
                                <input type="number" step="0.10" min="0" class="form-control" id="addContainerUnloading" pattern="[0-9]*\.?[0-9]*" value="0.00" disabled="disabled" placeholder="usd"  required="required" autocomplete="off" name="costOfUploading" oninput="countCostOfUploading()">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerDelivery">Вывоз контейнера в порт ($)</label>
                                <input type="number" step="0.10" min="0" class="form-control" id="addContainerDelivery" pattern="[0-9]*\.?[0-9]*" placeholder="usd" required="required" autocomplete="off" name="costOfDeliveryToPort" value="80.00" oninput="countCostOfUploading()">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerMeasurement">Взвешивание (&#8372;)</label>
                                <input type="number"step="0.10" min="0" class="form-control" id="addContainerMeasurement"pattern="[0-9]*\.?[0-9]*"  placeholder="uah" required="required" autocomplete="off" name="costOfWeighing" value="100.00" oninput="countCostOfUploading()">
                            </div>
                        </div>


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerCurrency">Курс ($)</label>
                                <input type="number" step="0.10" min="0" class="form-control" id="addContainerCurrency" pattern="[0-9]*\.?[0-9]*" placeholder="uah" required="required" value="0.00" autocomplete="off" name="exchangeRate" oninput="countCostOfUploading()">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerUahCurrency">Эквивалент (&#8372;)</label>
                                <input type="number"  min="0" class="form-control" id="addContainerUahCurrency" placeholder="uah" required="required" disabled="disabled" value="0.00" autocomplete="off" name="equalsToUAH">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerDate">Дата вывоза в порт</label>
                                <input class="form-control" type="date" id="addContainerDate"  name="date">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addContainerState">Состояние</label>
                                <input type="text" list="containerStateList" class="form-control" id="addContainerState"  placeholder="Не заполнено" required="required" autocomplete="off" name="destinationType">
                                <datalist id="containerStateList">
                                    <option value="MULTIMODAL">
                                    <option value="PORT">
                                </datalist>
                            </div>
                            <script type="text/javascript">
                                document.querySelector("#addContainerDate").valueAsDate = new Date();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ADD CONTAINER MODAL END -->

    <!-- EDIT CONTAINER MODAL START -->
    <div class="modal fade" id="editContainerModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editContainerModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/multimodal/editContainerMultimodal" method="post">
                    <div class="modal-body">
                        <input type="text" id="editContainerId" hidden="" name="id">
                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerNumber">№ контейнера</label>
                                <input type="text" class="form-control" id="editContainerNumber" required="required" placeholder="Не заполнено" autocomplete="off" name="code">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editContractNumber" >№ контракта</label>
                                <input type="text" class="form-control"  id="editContractNumber" placeholder="Не заполнено" autocomplete="off" name="codeOfOrderInfo">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerBuyer">Покупатель</label>
                                <input type="text" class="form-control" list="editContainerBuyersList" id="editContainerBuyer" placeholder="Не заполнено" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="editContainerBuyersList">
                                    <option th:each="b : ${contrAgentList}" th:data-value="${b.id}"  th:text="${b.nameOfAgent}"></option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="contrAgent.id" id="editContainerBuyer-hidden">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerExpotrExtent">Эксп. объем, загрузка, м<sup>3</sup></label>
                                <input type="number" step="any" min="0.00" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editContainerExpotrExtent" placeholder="m3" required="required" autocomplete="off" name="extent" oninput="countCostOfUploadingEdit()">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerUnloadingPrice">Цена за м<sup>3</sup> ($)</label>
                                <input type="number" step="0.10" min="0.00" class="form-control" id="editContainerUnloadingPrice" pattern="[0-9]*\.?[0-9]*" placeholder="usd" required="required" autocomplete="off" name="coefUploading" oninput="countCostOfUploadingEdit()">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerUnloading">Загрузка контейнера ($)</label>
                                <input type="number" step="0.10" min="0.00" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editContainerUnloading" placeholder="usd" required="required" autocomplete="off" name="costOfUploading" disabled="disabled" oninput="countCostOfUploadingEdit()">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0;">
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerDelivery">Вывоз контейнера в порт ($)</label>
                                <input type="number" step="0.10" min="0.00" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editContainerDelivery" placeholder="usd" required="required" autocomplete="off" name="costOfDeliveryToPort" oninput="countCostOfUploadingEdit()">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerMeasurement">Взвешивание (&#8372;)</label>
                                <input type="number" step="0.10" min="0.00" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editContainerMeasurement" placeholder="uah" required="required" autocomplete="off" name="costOfWeighing" oninput="countCostOfUploadingEdit()">
                            </div>
                        </div>


                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerCurrency">Курс ($)</label>
                                <input type="number" step="0.10" min="0.00" class="form-control" id="editContainerCurrency" pattern="[0-9]*\.?[0-9]*" placeholder="uah" required="required" autocomplete="off" name="exchangeRate" oninput="countCostOfUploadingEdit()">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editUah">Эквивалент (&#8372;)</label>
                                <input type="number" class="form-control" min="0.00" id="editUah" disabled="disabled" placeholder="uah" required="required" autocomplete="off" name="equalsToUAH">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerDate">Дата вывоза в порт</label>
                                <input class="form-control" type="date" id="editContainerDate"  name="date">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editContainerState">Состояние</label>
                                <input type="text" list="containerStateList2" class="form-control" id="editContainerState"  placeholder="Не заполнено" required="required" autocomplete="off" name="destinationType">
                                <datalist id="containerStateList2">
                                    <option value="MULTIMODAL">
                                    <option value="PORT">
                                </datalist>
                            </div>
                            <script type="text/javascript">
                                document.querySelector("#addContainerDate").valueAsDate = new Date();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- EDIT CONTAINER MODAL END -->

    <!-- CONFIRMATION MODAL START -->
    <div class="modal fade" id="archiveConfirmationModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Архив</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       HERE         -->
                <form action="/multimodal/archiveContainer" method="post">
                    <!--       HERE                 -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="archiveRecordModalId" hidden="hidden" autocomplete="off" name="id">

                            <p id="archiveModalConfirmation">

                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">В архив</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- CONFIRMATION MODAL END -->

    <script type="text/javascript" th:src="@{../js/multimodal/multimodal.containers.js}"></script>

</th:block>