<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
          th:fragment="multimodalFullDetails">

    <!-- Подробно  START-->
    <div class="tab-pane fade show active container-fluid" id="info-detailed">
        <table class="table table-hover table-striped" id="info-detailed-table" style="font-size: 0.8em;">
            <br>
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ маш.</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщ.</th>
                <th scope="col">Шир.</th>
                <th scope="col">Длина</th>
                <th scope="col">Шт. в пачке</th>
                <th scope="col">Кубатура</th>
                <th scope="col">Выс.шт</th>
                <th scope="col">Шир.шт</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Дл.-ФАКТ</th>
                <th scope="col">Выс/Шир</th>
                <th scope="col">Контракт</th>
                <th scope="col">№ контейн.</th>
                <th scope="col">ContainerID</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="doc : ${contractPackagesList}">
                <tr th:each="pack : ${doc.productList}" th:id="${pack.id}">
                    <td th:text="${pack.id}"></td>
                    <td th:text="${doc.driverInfo?.idOfTruck}"></td>
                    <td th:text="${pack.codeOfPackage}"></td>
                    <td th:text="${pack.breedDescription}"></td>
                    <td th:text="${pack.sizeOfHeight}"></td>
                    <td th:text="${pack.sizeOfWidth}"></td>
                    <td th:text="${pack.sizeOfLong}"></td>
                    <td th:text="${pack.countOfDesk}"></td>
                    <td th:text="${pack.extent}"></td>
                    <td th:text="${pack.countDeskInHeight}"></td>
                    <td th:text="${pack.countDeskInWidth}"></td>
                    <td th:text="${pack.codeOfDeliveryCompany}"></td>
                    <td th:text="${pack.longFact}"></td>
                    <td th:text="${pack.height_width}"></td>
                    <td th:text="${pack.orderInfo?.codeOfOrder}"></td>
                    <td th:text="${pack?.container?.code}"></td>
                    <td th:text="${pack?.container?.id}"></td>
                    <td>
                        <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-primary btn-sm" onclick="editRecord(this.parentElement.parentElement.getAttribute('id'))"><i class="fas fa-pen" data-toggle="tooltip" title="Редактировать"></i></button>
                        <!-- <button type="button" class="btn btn-primary btn-sm" onclick="exportData(this)"><i class="far fa-file-excel" data-toggle="tooltip" title="Экспорт"></i></button> -->
                        <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-primary btn-sm" onclick="deleteRecord(this)"><i class="far fa-trash-alt" data-toggle="tooltip" title="Удалить"></i></button>
                    </td>
                </tr>
            </th:block>

            </tbody>

            <tfoot>
            <tr>
                <th scope="col">id</th>
                <th scope="col">№ маш.</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Описание</th>
                <th scope="col">Толщ.</th>
                <th scope="col">Шир.</th>
                <th scope="col">Длина</th>
                <th scope="col">Шт. в пачке</th>
                <th scope="col">Кубатура</th>
                <th scope="col">Выс.шт</th>
                <th scope="col">Шир.шт</th>
                <th scope="col">№ пачки</th>
                <th scope="col">Дл.-ФАКТ</th>
                <th scope="col">Выс/Шир</th>
                <th scope="col">Контракт</th>
                <th scope="col">№ контейн.</th>
                <th scope="col">ContainerID</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <!-- BUTTON START-->
        <div class="float-action-button">
            <button type="button" class="buttons main-button btn btn-primary" title="Назад"  data-placement="left" onclick="location.href='/multimodal/getTrucksByContract-'+this.name" th:name="${contractId}">
                <i class="fas fa-chevron-left">&nbsp;</i>
            </button>
        </div>

        <div class="float-action-button" style="right: 0; left: auto;" sec:authorize="hasRole('ROLE_ADMIN')">
           <button type="button" class="buttons btn btn-primary" title="Экспорт" data-placement="left" onclick="location.href='/multimodal/exportAllPackagesByContract-'+this.name" th:name="${contractId}">
               <i class="far fa-file-excel"></i>
           </button>
            <button th:if="${buttonConfig!=null && buttonConfig.equals('multimodalMain')}" type="button" class="buttons btn btn-primary" title="Присвоить контейнер выделенным"  data-toggle="modal" data-placement="left" id="setContainerButton" >
                <i class="far fa-list-alt"></i>
            </button>
            <button type="button" class="buttons main-button btn btn-primary" title="Добавить" data-toggle="modal" data-placement="left" data-target="#addRecordModal">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- BUTTON END-->
    </div>
    <!-- Подробно END -->



    <!-- MODALS START-->
    <!-- EDIT CONTRACTS MODAL START -->
    <div class="modal fade" id="editDetailsModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editContractModalHeader">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/multimodal/editPackageToDeliveryDoc-'+${contractId}}" method="post" id="fullDetailsForm">
                    <div class="modal-body">
                        <input type="text" id="editRecordtId" hidden="" name="id">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordCarNumber">№ машины</label>
                                <input type="text" class="form-control" list="editIdList" id="editRecordCarNumber" placeholder="Не заполнено" required="required" autocomplete="off" name="driverIdOfTruck" disabled="disabled" onchange="setHiddenValue(this)">
                                <datalist id="editIdList">
                                    <option th:each="idValue : ${idOfTruckList}"  th:data-value="${idValue}" th:text="${idValue}"></option>
                                </datalist>
                                <input type="number" hidden="hidden" name="truckNumber" id="editRecordCarNumber-hidden">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordPackNumber">№ пачки</label>
                                <input type="text" class="form-control" id="editRecordPackNumber" placeholder="Не заполнено" required="required" autocomplete="off" name="codeOfPackage">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordThickness">Толщина, мм</label>
                                <input type="number" min="1" class="form-control" id="editRecordThickness" required="required" placeholder="мм" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordWidth">Ширина, мм</label>
                                <input type="number" min="1" class="form-control" id="editRecordWidth" required="required" placeholder="мм" autocomplete="off" name="sizeOfWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordLength">Длина, мм</label>
                                <input type="number" min="1" class="form-control" id="editRecordLength" required="required" placeholder="мм" autocomplete="off" name="sizeOfLong">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordCount">Шт. в пачке</label>
                                <input type="number" min="1" class="form-control" id="editRecordCount" required="required" placeholder="шт" autocomplete="off" name="countOfDesk">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordExtent">Кубатура , м<sup>3</sup></label>
                                <input type="number" step="any" min="0" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editRecordExtent" placeholder="м3" required="required" autocomplete="off" name="extent">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordHeightPc">Высота, шт.</label>
                                <input type="number" min="1" class="form-control" id="editRecordHeightPc" required="required" placeholder="шт" autocomplete="off" name="countDeskInHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordWidthPc">Ширина, шт.</label>
                                <input type="number" min="1" class="form-control" id="editRecordWidthPc" required="required" placeholder="шт" autocomplete="off" name="countDeskInWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordLengthFact">Длина - ФАКТ, мм</label>
                                <input type="number" min="1" class="form-control" id="editRecordLengthFact" placeholder="мм" autocomplete="off" name="longFact">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordPackNumberMultiModal">№ пачки (Мультимодал)</label>
                                <input type="text" class="form-control" id="editRecordPackNumberMultiModal" placeholder="Не заполнено" autocomplete="off" name="codeOfDeliveryCompany">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordDescription">Описание</label>
                                <input type="text" class="form-control" id="editRecordDescription" placeholder="Не заполнено" autocomplete="off" name="breedDescription">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="editRecordWidthHeight">Высота/Ширина</label>
                                <input type="text" class="form-control" id="editRecordWidthHeight" placeholder="Не заполнено" autocomplete="off" name="height_width">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordContractNumber">Контракт</label>
                                <input type="text" class="form-control" list="editContractssList" id="editRecordContractNumber" disabled="disabled" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="editContractssList">
                                    <option  th:each="c : ${distributeOrderList}" th:data-value="${c.id}" th:text="${c.codeOfOrder}" th:label="${c?.contrAgent?.nameOfAgent}">
                                    </option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="contractName" id="editRecordContractNumber-hidden">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="editRecordContainerNumber">№ контейнера</label>
                                <input type="text" class="form-control" list="selectContainerListToAdd" id="editRecordContainerNumber" placeholder="Не заполнено" autocomplete="off" onchange="setHiddenValue(this)" th:disabled="${(buttonConfig!=null && buttonConfig.equals('multimodalMain'))?false:true}">
                                <datalist id="selectContainerListToAdd">
                                    <option th:each="container : ${containersList}"  th:data-value="${container.id}" th:text="${container.code}"></option>
                                </datalist>
                                <input type="hidden" name="containerName" id="editRecordContainerNumber-hidden">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="saveAndGoNextButton" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- SCRIPTS START-->
    <!-- SCRIPTS  END-->

    <script type="text/javascript">
        function editRecord(btnObj) {

            // var trObj =             btnObj.parentElement.parentElement;
            // var trId =              $(trObj).attr('id');
            // $('#editRecordtId').val(trId);
            // console.log("row id: " + $(trObj).attr('id'));

            $('#editRecordtId').val(btnObj);
            console.log("row in edit id: " + btnObj);

            let trObj = document.getElementById(btnObj);

            var carNumber =         $(trObj).find('td:eq(0)').text();
            var pack =              $(trObj).find('td:eq(1)').text();
            let description =       $(trObj).find('td:eq(2)').text();
            var thickness =         $(trObj).find('td:eq(3)').text();
            var width =             $(trObj).find('td:eq(4)').text();
            var length =            $(trObj).find('td:eq(5)').text();
            var count =             $(trObj).find('td:eq(6)').text();
            var extent =            $(trObj).find('td:eq(7)').text();
            var heightPc =          $(trObj).find('td:eq(8)').text();
            var widthPc =           $(trObj).find('td:eq(9)').text();
            var packMM =            $(trObj).find('td:eq(10)').text();
            var fact =              $(trObj).find('td:eq(11)').text();
            var wh =                $(trObj).find('td:eq(12)').text();
            var contract =          $(trObj).find('td:eq(13)').text();
            var container =         $(trObj).find('td:eq(14)').text();

            $('#editRecordCarNumber')           .val(carNumber);
            $('#editRecordPackNumber')          .val(pack);
            $('#editRecordThickness')           .val(thickness);
            $('#editRecordWidth')               .val(width);
            $('#editRecordLength')              .val(length);
            $('#editRecordCount')               .val(count);
            $('#editRecordExtent')              .val(extent);
            $('#editRecordHeightPc')            .val(heightPc);
            $('#editRecordWidthPc')             .val(widthPc);
            $('#editRecordPackNumberMultiModal').val(packMM);
            $('#editRecordLengthFact')          .val(fact);
            $('#editRecordDescription')         .val(description);
            $('#editRecordWidthHeight')         .val(wh);
            $('#editRecordContractNumber')      .val(contract);
            $('#editRecordContainerNumber')     .val(container);

            $('#editDetailsModal').modal('show');

        }

        function sendRequestEditPackageMultimodal(trId){

            var carNumber =         $('#editRecordCarNumber').val();
            var pack =              $('#editRecordPackNumber').val();
            let description =       $('#editRecordDescription').val();
            var thickness =         $('#editRecordThickness').val();
            var width =             $('#editRecordWidth').val();
            var length =            $('#editRecordLength').val();
            var count =             $('#editRecordCount').val();
            var extent =            $('#editRecordExtent').val();
            var heightPc =          $('#editRecordHeightPc').val();
            var widthPc =           $('#editRecordWidthPc').val();
            var packMM =            $('#editRecordPackNumberMultiModal').val();
            var fact =              $('#editRecordLengthFact').val();
            var wh =                $('#editRecordWidthHeight').val();
            var contract =          $('#editRecordContractNumber').val();
            var container =         $('#editRecordContainerNumber').val();










        }

        document.querySelector("#saveAndGoNextButton").addEventListener("click", function(){
            let newData = [];

            let currentId = $('#editRecordtId').val();
            console.log("current id: "+ currentId);

            sendRequestEditPackageMultimodal(currentId);

            $("#info-detailed-table tr").each(function() {
                newData.push(this.id);
            });

            newData.shift();
            newData.pop();


            // console.log(newData);
            // e.preventDefault();

            for (let i = newData.length - 2; i >= 0; i--) {
                if (currentId===newData[i]){
                    editRecord(newData[i+1]);
                    console.log('inside loop: '+newData[i+1]);
                    break;
                }

                // delete newData[i];

                // e.preventDefault();
            }

            // let x;
            //
            // for (x of newData) {
            //     if (currentId===x){
            //         break;
            //     }
            //     console.log('inside loop: '+x);
            //     editRecord(x);
            // }
        });
    </script>
    <!-- EDIT CONTRACTS MODAL END -->

    <!-- ADD CONTRACTS MODAL START -->
    <div class="modal fade" id="addRecordModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить запись</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{'/multimodal/addPackageToDeliveryDoc-'+${contractId}}" method="post">
                    <div class="modal-body">

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordCarNumber">№ машины</label>
                                <input type="text" class="form-control" list="idList" id="addRecordCarNumber" placeholder="Не заполнено" required="required" autocomplete="off"  onchange="setHiddenValue(this)">
                                <datalist id="idList">
                                    <option th:each="doc : ${contractPackagesList}"  th:data-value="${doc.id}" th:text="${doc?.driverInfo?.idOfTruck}"></option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="driverIdOfTruck" id="addRecordCarNumber-hidden">
                            </div>

                            <div class="col-6">
                                <label class="col-form-label" for="addRecordPackNumber">№ пачки</label>
                                <input type="text" class="form-control" id="addRecordPackNumber" required="required" placeholder="Не заполнено" autocomplete="off" name="codeOfPackage">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordThickness">Толщина</label>
                                <input type="number" min="1" class="form-control" id="addRecordThickness" required="required" placeholder="мм" autocomplete="off" name="sizeOfHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordWidth">Ширина</label>
                                <input type="number" min="1" class="form-control" id="addRecordWidth" required="required" placeholder="мм" autocomplete="off" name="sizeOfWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordLength">Длина</label>
                                <input type="number" min="1" class="form-control" id="addRecordLength" required="required" placeholder="мм" autocomplete="off" name="sizeOfLong">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordCount">Шт. в пачке</label>
                                <input type="number" min="1" class="form-control" id="addRecordCount" required="required" placeholder="шт" autocomplete="off" name="countOfDesk">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordExtent">Кубатура</label>
                                <input type="number" step="any" min="0" pattern="[0-9]*\.?[0-9]*" class="form-control" id="addRecordExtent" required="required" placeholder="м3" autocomplete="off" name="extent">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordHeightPc">Высота, шт.</label>
                                <input type="number" min="1" class="form-control" id="addRecordHeightPc" required="required" placeholder="шт" autocomplete="off" name="countDeskInHeight">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordWidthPc">Ширина, шт.</label>
                                <input type="number" min="1" class="form-control" id="addRecordWidthPc" required="required" placeholder="шт" autocomplete="off" name="countDeskInWidth">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordLengthFact">Длина - ФАКТ</label>
                                <input type="number" min="1" class="form-control" id="addRecordLengthFact" placeholder="мм" autocomplete="off" name="longFact">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordPackNumberMultiModal">№ пачки (Мультимодал)</label>
                                <input type="text" class="form-control" id="addRecordPackNumberMultiModal" placeholder="Не заполнено" autocomplete="off" name="codeOfDeliveryCompany">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordDescription">Описание</label>
                                <input type="text" class="form-control" id="addRecordDescription" placeholder="Не заполнено" autocomplete="off" name="breedDescription">
                            </div>
                            <div class="col-3">
                                <label class="col-form-label" for="addRecordWidthHeight">Высота/Ширина</label>
                                <input type="text" class="form-control" id="addRecordWidthHeight" placeholder="Не заполнено" autocomplete="off" name="height_width">
                            </div>
                        </div>

                        <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordContractNumber">Контракт</label>
                                <input type="text" class="form-control" list="contractsList" id="addRecordContractNumber" placeholder="Не заполнено" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="contractsList">
                                    <option  th:each="c : ${distributeOrderList}" th:data-value="${c.id}" th:text="${c.codeOfOrder}" th:label="${c?.contrAgent?.nameOfAgent}">
                                    </option>
                                </datalist>
                                <input type="number" hidden="hidden"  name="contractName" id="addRecordContractNumber-hidden">
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="addRecordContainerNumber">№ контейнера</label>
                                <input type="text" class="form-control" list="selectContainersListToAdd" id="addRecordContainerNumber" placeholder="Не заполнено" autocomplete="off" onchange="setHiddenValue(this)">
                                <datalist id="selectContainersListToAdd">
                                    <option th:each="container : ${containersList}"  th:data-value="${container.id}" th:text="${container.code}"></option>
                                </datalist>
                                <input type="hidden" name="containerName" id="addRecordContainerNumber-hidden">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ADD CONTRACTS MODAL END -->


    <!-- CONFIRMATION MODAL START -->
    <div class="modal fade" id="deleteConfirmationModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--       HERE         -->
                <form th:action="@{'/multimodal/deletePackage-'+${contractId}}" method="post">
                    <!--       HERE                 -->
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="deleteRecordModalId" hidden="hidden" autocomplete="off" name="id">

                            <p id="deleteModalConfirmation">

                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function deleteRecord(btnObj) {
            var trObj = btnObj.parentElement.parentElement;
            var trId =  $(trObj).attr('id');
            $('#deleteRecordModalId').val(trId);
            console.log(  $(trObj).attr('id'));
            var carNumber = $(trObj).find('th:eq(0)').text();

            $('#deleteModalConfirmation').text("Вы уверены, что хотите удалить выбраную строку?");
            $('#deleteConfirmationModal').modal('show');
        }
    </script>
    <!-- CONFIRMATION MODAL END -->

    <!-- SET CONTAINER MODAL START -->
    <div class="modal fade" id="setContainer">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Присвоить контейнер</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group row d-flex" style="align-items: flex-end; margin-bottom: 0">
                                <div class="col-4">
                                    <label class="col-form-label" for="selectContainerExtent">Кубатура, м<sup>3</sup></label>
                                    <input type="text" class="form-control" id="selectContainerExtent" autocomplete="off" disabled="disabled" value="0.000" name="containerExtent">
                                </div>
                                <div class="col-8">
                                    <label class="col-form-label" for="selectContainer">Контейнер</label>
                                    <input type="text" class="form-control" list="selectContainersList" id="selectContainer" placeholder="Не заполнено" required="required" autocomplete="off" onchange="setHiddenValue(this)">
                                    <datalist id="selectContainersList">
                                        <option th:each="container : ${containersList}"  th:data-value="${container.id}" th:text="${container.code}"></option>
                                    </datalist>
                                    <input type="hidden" name="container.id" id="selectContainer-hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="setContainerRequest">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- SET CONTAINER MODAL END -->
    <!-- MODALS END-->

</th:block>
