<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWIDA</title>

    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">
    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../css/component-chosen.css}">
    <link rel='icon' type='image/png' th:href="@{../img/logo_swida.png}">

    <style>
        #L2 {
            height: 100px;
            margin: 10% auto 0 auto;
            display: inline-block;
            position: absolute;
            z-index: 99999;
            left: 45%;
        }
        #myTabContent{
            display: none;
        }
    </style>
</head>
<body>

<!-- NAVIGATION -->
<div th:replace="~{fragments/admin/fragAdminNavigation :: adminNavigation}" sec:authorize="hasRole('ROLE_ADMIN')"></div>
<div th:replace="~{fragments/fabric/fragFabricNavigation :: fabricNavigation}" sec:authorize="!hasRole('ROLE_ADMIN')"></div>
<!-- NAVIGATION -->


<!-- TABS -->
<div class="container-fluid">
    <!-- HEADERS START-->
    <div th:if="${fragmentPathTabConfig!=null}">
        <div th:replace="~{fragments/admin/fragAdminTabConfig :: ${fragmentPathTabConfig}}"></div>
    </div>
    <!-- HEADERS END-->

<!--     Loader-->
    <svg enable-background="new 0 0 100 100" id="L2" version="1.1" viewBox="0 0 100 100" x="0px" xml:space="preserve"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <circle cx="50" cy="50" fill="none" r="48" stroke="#18BC9C" stroke-miterlimit="10" stroke-width="4"/>
        <line fill="none" stroke="#18BC9C" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" x1="50" x2="85" y1="50" y2="50.5">
                  <animateTransform
                          attributeName="transform"
                          dur="2s"
                          from="0 50 50"
                          repeatCount="indefinite"
                          to="360 50 50"
                          type="rotate" />
        </line>
        <line fill="none" stroke="#18BC9C" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" x1="50" x2="49.5" y1="50" y2="74">
                  <animateTransform
                          attributeName="transform"
                          dur="15s"
                          from="0 50 50"
                          repeatCount="indefinite"
                          to="360 50 50"
                          type="rotate" />
        </line>
    </svg>
<!--     Loader-->

    <!-- ALL TABLES START-->
    <div id="myTabContent" class="tab-content" >
        <div th:if="${fragmentPathAdminStatistics!=null}">
            <div th:replace="~{fragments/admin/fragAdminStatistics :: ${fragmentPathAdminStatistics}}"></div>
        </div>
        <!--ADMIN DASHBOARD START-->
        <div th:if="${fragmentPathUserCompany!=null}">
            <div th:replace="~{fragments/admin/fragAdminUserCompany :: ${fragmentPathUserCompany}}"></div>
        </div>
        <div th:if="${fragmentPathBreedOfTree!=null}">
            <div th:replace="~{fragments/admin/fragBreedOfTree :: ${fragmentPathBreedOfTree}}"></div>
        </div>
        <div th:if="${fragmentPathBreedOfTreeDescription!=null}">
            <div th:replace="~{fragments/admin/fragBreedOfTreeDescription :: ${fragmentPathBreedOfTreeDescription}}"></div>
        </div>
        <!--ADMIN DASHBOARD END-->
        <div th:if="${fragmentPathContrAgent!=null}">
            <div th:replace="~{fragments/admin/fragAdminContrAgent :: ${fragmentPathContrAgent}}"></div>
        </div>
        <div th:if="${fragmentPathOrderInfo!=null}">
            <div th:replace="~{fragments/admin/fragAdminOrderInfo :: ${fragmentPathOrderInfo}}"></div>
        </div>
    </div>
    <!-- ALL TABLES end-->
</div>
<!-- TABS end-->


<!-- SCRIPTS START-->
<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{../js/datatables.js}"></script>
<script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>

<!--<script type="text/javascript" th:src="@{../js/bootstrap-multiselect.js}"></script>-->
<script type="text/javascript" th:src="@{../js/extent.calculation.js}"></script>
<script type="text/javascript" th:src="@{../js/deadlines.checkout.js}"></script>
<script type="text/javascript" th:src="@{../js/set.hidden.value.js}"></script>
<script type="text/javascript" th:src="@{../js/admin/admin.tabs.config.js}"></script>
<script type="text/javascript" th:src="@{../js/admin/choosen.js}"></script>
<script type="text/javascript">
    $('.form-control-chosen').chosen();
</script>
<!-- SCRIPTS  END-->
</body>
</html>