<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWIDA</title>

    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-multiselect.css}"/>

    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">

</head>
<body>
<!-- NAVIGATION -->
<div th:replace="~{fragments/admin/fragAdminNavigation :: adminNavigation}" sec:authorize="hasRole('ROLE_ADMIN')"></div>
<div th:replace="~{fragments/fabric/fragFabricNavigation :: fabricNavigation}" sec:authorize="hasRole('ROLE_SUPER_USER')"></div>
<!-- NAVIGATION -->

<!-- TABS -->
<div class="container-fluid">
    <!-- HEADERS START-->
    <div th:if="${fragmentPathTabConfig!=null}">
        <div th:replace="~{fragments/admin/fragAdminTabConfig :: ${fragmentPathTabConfig}}"></div>
    </div>

    <!-- HEADERS END-->

    <!-- ALL TABLES START-->
    <div id="myTabContent" class="tab-content">
        <div th:if="${fragmentPathAdminStatistics!=null}">
            <div th:replace="~{fragments/admin/fragAdminStatistics :: ${fragmentPathAdminStatistics}}"></div>
        </div>
        <!--ADMIN DASHBOARD START-->
        <div th:if="${fragmentPathUserCompany!=null}">
            <div th:replace="~{fragments/admin/fragAdminUserCompany :: ${fragmentPathUserCompany}}"></div>
        </div>
        <div th:if="${fragmentPathBreedOfTree!=null}">
            <div th:replace="~{fragments/admin/fragBreedOfTree :: ${fragmentPathBreedOfTree}}"></div>
        </div>
        <div th:if="${fragmentPathBreedOfTreeDescription!=null}">
            <div th:replace="~{fragments/admin/fragBreedOfTreeDescription :: ${fragmentPathBreedOfTreeDescription}}"></div>
        </div>
        <!--ADMIN DASHBOARD END-->
        <div th:if="${fragmentPathContrAgent!=null}">
            <div th:replace="~{fragments/admin/fragAdminContrAgent :: ${fragmentPathContrAgent}}"></div>
        </div>
        <div th:if="${fragmentPathOrderInfo!=null}">
            <div th:replace="~{fragments/admin/fragAdminOrderInfo :: ${fragmentPathOrderInfo}}"></div>
        </div>
    </div>
    <!-- ALL TABLES end-->
</div>
<!-- TABS end-->


<!-- SCRIPTS START-->
<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{../js/datatables.js}"></script>
<script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>

<script type="text/javascript" th:src="@{../js/bootstrap-multiselect.js}"></script>

<script type="text/javascript">
    let tdsDate = document.getElementsByClassName('change-color');
    const  today = new Date();
    let tabVal;
    for (let i = 0; i < tdsDate.length; i++) {
        tabVal = new Date(tdsDate[i].innerText);

        console.log("my:" +tabVal.getTime());
        console.log("tod:" +today.getTime());

        console.log("res: "+ (tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24));

        if ((tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)<=10 && (tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)>=5){
            console.log("<10");
            tdsDate[i].closest('tr').classList.add("table-warning");
        }else if ((tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)<5) {
            console.log("<5");
            tdsDate[i].closest('tr').classList.add("table-danger");
        }
        else {
            console.log("ok")
        }
    }
</script>


<script type="text/javascript">
    function setHiddenValue(input) {
        let list = input.getAttribute('list');
        let options = document.querySelectorAll('#' + list + ' option');
        let hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden');
        let label = input.value;

        hiddenInput.value = label;

        for(let i = 0; i < options.length; i++) {
            let option = options[i];

            if(option.innerText === label) {
                hiddenInput.value = option.getAttribute('data-value');
                break;
            }
        }
        console.log("Hidden input value:"+hiddenInput.value);
    }
</script>

<script type="text/javascript">
    $(document).ready( function () {

        // $(function() {
        //     $('.chosen-select').chosen();
        //     $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        // });

        $(".multipleChosen").chosen({
            placeholder_text_multiple: "What's your rating" //placeholder
        });


        $('#admin-users-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "30px"
                }
            ]
        });

        $('#admin-breed-of-tree-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                // {
                //     "targets": [ 0 ],
                //     "visible": false,
                //     "searchable": false,
                // },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "30px"
                }
            ]
        });

        // INNER MARKET TABLE START
        $('#inner-market-buyers-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "70px"
                },
                {
                    // "width": "20%",
                    // "targets": 6
                }
            ]

        });
        // INNER MARKET TABLE END

        // OUTER MARKET TABLE START
        $('#outer-market-buyers-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "70px"
                },
                {
                    // "width": "20%",
                    // "targets": 6
                }
            ]

        });
        // OUTER MARKET TABLE END

        //ORDER INFO START

        // Contracts table start
        $('#contracts-tab-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    // "targets": [ 0, -1 ],
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -2,
                    "orderable": false,
                    "searchable": false,
                    "width": "70px"
                }
            ]
        });
        // Contracts table end

        // Distribution table start
        $('#distribution-tab-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    // "targets": [ 0, -2, -1 ],
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -2,
                    "orderable": false,
                    "searchable": false,
                    "width": "30px"
                }
            ]
        });
        // Distribution table end

        // Modal inner table start
        var tableOfDistribution = $('#tableOfDistribution').DataTable({
            "autoWidth": false,
            "bSort": false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "30px"
                },
                { className: "display-none", "targets": [ 3 ] }
            ]

        });
        // Modal inner table end

        // ADD ELEMENTS TO INNER TABLE LIST START
        $("#buttonForAddingDistributionRow").click(function () {
            let code =               $("#addDistributionCode").val();
            let company =            $("#addDistributionCompanyInner").val();
            let amount =             parseFloat($("#addDistributionAmountInner").val());
            let button =             "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";
            let companyId =          $("#addDistributionCompanyInner-hidden").val();
            const mainOrderCode =    $('#sendDistributionModalCode').val();

            let arrOfTr = document.getElementById("listOfDistributionsId").getElementsByTagName("tr");
            console.log("arr length = "+arrOfTr.length);

            let arrayOfCodes     = [];
            let res = false;

            for (let i = 0; i<arrOfTr.length;i++){
                arrayOfCodes[i] = $(arrOfTr[i]).find('td:eq(0)').text();
                if (code == arrayOfCodes[i]){
                    res = true;
                }
            }

            if( code == "" || company == "" || Number.isNaN(amount)) {
                alert("Заполните все поля!");
            } else if (amount<=0.000){
                alert("Значение не может быть отрицательным либо равным 0!")
            } else if(code == mainOrderCode){
                alert("Значение не может быть идентичным главному заказу!");
            } else if(res == true){
                alert("Дубликация кода!");
                $("#addDistributionCode").val(mainOrderCode);
            }else {
                let row = [code, company, amount, companyId, button];

                console.log(row);

                $("#addDistributionCode").val(mainOrderCode);
                $("#addDistributionCompanyInner").val("");
                $("#addDistributionAmountInner").val("");

                tableOfDistribution.row.add(row).draw();
            }
        });
        // ADD ELEMENTS TO INNER TABLE LIST END

        // DELETE BUTTON START
        $('#tableOfDistribution tbody').on( 'click', 'button', function () {
            tableOfDistribution.row( $(this).parents('tr') ).remove().draw();
        } );
        // DELETE BUTTON END

        // ORDER INFO END

    });
</script>
<!-- Users table end -->



<!-- SCRIPTS  END-->
</body>
</html>