<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">

    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<!-- NAVIGATION -->
<div th:replace="~{fragments/fabric/fragFabricNavigation :: fabricNavigation}"></div>
<!-- NAVIGATION -->

<br>
<!-- TABS -->
<div class="container-fluid">
    <!-- HEADERS -->
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfTreeStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('treeStorage')} ? 'active':''">Приход леса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfRawStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('rawStorage')} ? 'active':''">Сырой склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDryingStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('dryingStorage')} ? 'active':''">Сушка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDryStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('dryStorage')} ? 'active':''">Сухой склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfPackagedProduct-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('packageStorage')} ? 'active':''">Пачки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDeliveryDocumentation-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('deliveryInfo')} ? 'active':''">Транспортировка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfWasteStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('wasteStorage')} ? 'active':''">Склад отходов</a>
            </li>
        </ul>
    </div>
    <!-- HEADERS -->

    <!-- ALL TABLES -->
    <div id="myTabContent" class="tab-content">
        <div th:if="${fragmentPathTabTreeStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabTreeStorage :: ${fragmentPathTabTreeStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabRawStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabRawStorage :: ${fragmentPathTabRawStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDryingStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDrying :: ${fragmentPathTabDryingStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDryStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDryStorage :: ${fragmentPathTabDryStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabPackageStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabPackageStorage :: ${fragmentPathTabPackageStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDelivery!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDeliveryInfo :: ${fragmentPathTabDelivery}}"></div>
        </div>
        <div th:if="${fragmentPathTabWaste!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabWasteStorage :: ${fragmentPathTabWaste}}"></div>
        </div>





















    </div>
    <!-- ALL TABLES -->
</div>
<!-- TABS -->

<!-- MODALS -->
<!-- Приход леса -->
<div class="modal fade" id="addIncomeModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить приход материалов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/addIncome">
                <div class="modal-body">
                    <label class="col-form-label" for="inputDefault">Код партии</label>
                    <input type="text" class="form-control" id="inputDefault" required="required">

                    <label class="col-form-label" for="inputDefault">Порода</label>
                    <input type="text" class="form-control" id="breedOfTree" required="required">

                    <label class="col-form-label" for="inputDefault">Поставщик</label>
                    <input type="text" class="form-control" list="cityname" id="inputDefault">
                    <datalist id="cityname">
                        <option value="ДП «Глуховский агролесхоз»">
                        <option value="ДП «Новгород Северская ЛНИС»">
                    </datalist>
                    <label class="col-form-label" for="inputDefault">Кубатура</label>
                    <input type="text" class="form-control" placeholder="м3" id="inputDefault" pattern="[0-9]*\.?[0-9]*">
                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Приход леса -->

<!-- Распиловка -->
<div class="modal fade" id="cutModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отправить на распиловку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/addIncome">
                <div class="modal-body">
                    <div class="form-group">
                        <fieldset disabled="">
                            <label class="control-label" for="disabledInput">Код партии</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Код партии" disabled="">

                            <label class="control-label" for="disabledInput">Порода</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Порода" disabled="">

                            <label class="control-label" for="disabledInput">Поставщик</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Поставщик" disabled="">
                        </fieldset>
                        <label class="col-form-label" for="inputDefault">Осталось</label>
                        <input type="text" class="form-control" placeholder="м3" id="inputDefault" pattern="[0-9]*\.?[0-9]*">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary">Отправить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Распиловка -->




<!-- MODALS -->

<!-- SCRIPTS -->
<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{../js/datatables.js}"></script>
<script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>


<!-- TABLES CONFIGURATION -->

<script type="text/javascript">

    $(document).ready( function () {


        $('#treestoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],

            // columns width
            "autoWidth": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ],

        });


        $('#rawstoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]
        });

        $('#dryingtable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,

            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]
        });

        $('#drystoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,

            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]
        });

        $('#wastestoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]
        });

        var table = $('#packagedproducttable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            // 'select': true,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });

        var modalPackagesTable = $('#tableForTransportation').DataTable({
            // columns width
            "autoWidth": false,
            "bSort" : false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": true,
                    "searchable": true
                },
            ]

        });

        var tableForTransportationOak = $('#tableForTransportationOak').DataTable({
            // columns width
            "autoWidth": false,
            "bSort": false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });


        $('#transportationtable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort": false,
            "info": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false
                }
            ]

        });

        $('#transportationTableOak').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort": false,
            "info": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false
                }
            ]

        });

        $('#packageOakTableId').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort":false,
            // 'select': true,
            // id column visibility
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });
        $('#packageOakTableId tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

        $('#packagedproducttable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

        $( "#buttonForTransportation" ).click(function() {

            modalPackagesTable.clear().draw();
            var newData = ( table.rows( '.selected' ).data() );
            var array = [];

            for (var i = newData.length - 1; i >= 0; i--) {

                var id =			newData[i][0];
                var code = 			newData[i][1];
                var material = 		newData[i][2];
                var description = 	newData[i][3];
                var thickness = 	newData[i][4];
                var width = 		newData[i][5];
                var length = 		newData[i][6];
                var count = 		newData[i][7];
                var extent = 		newData[i][8];
                var heightPc = 		newData[i][9];
                var widthPc = 		newData[i][10];
                var wh = heightPc.toString()+"/"+widthPc.toString();
                var button =        "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";

                var d=[id, code, material, description, thickness, width, length, count, extent, wh, button];

                array[i] = id;

                modalPackagesTable.row.add(d).draw( false );
            }
            console.log(array);
            $('#sendForTransportationModal').modal('show');
        });



        $('#tableForTransportation tbody').on( 'click', 'button', function () {
            modalPackagesTable.row( $(this).parents('tr') ).remove().draw();
        } );

        $("#buttonForAddingOakRow").click(function () {

            var width = $("#sendForPackageModalWidthOak").val();
            var count = $("#sendForPackageModalCountOak").val();
            var button =        "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";
            var d = [width, count, button];

            console.log(d);

            tableForTransportationOak.row.add(d).draw();
        });

        $('#tableForTransportationOak tbody').on( 'click', 'button', function () {
            tableForTransportationOak.row( $(this).parents('tr') ).remove().draw();
        } );


    } );
</script>

<!-- TABLES CONFIGURATION -->

<!-- SCRIPTS -->
</body>
</html>