<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SWIDA</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">

    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<!-- NAVIGATION -->
<div th:replace="~{fragments/fabric/fragFabricNavigation :: fabricNavigation}"></div>
<!-- NAVIGATION -->

<br>
<!-- TABS -->
<div class="container-fluid">
    <!-- HEADERS -->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfOrders-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('orders')} ? 'active':''">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfTreeStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('treeStorage')} ? 'active':''">Приход леса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfRawStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('rawStorage')} ? 'active':''">Сырой склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDryingStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('dryingStorage')} ? 'active':''">Сушка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDryStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('dryStorage')} ? 'active':''">Сухой склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfPackagedProduct-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('packageStorage')} ? 'active':''">Пачки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDeliveryDocumentation-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('deliveryInfo')} ? 'active':''">Транспортировка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfRecycle-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('recycle')} ? 'active':''">На переработку</a>
            </li>
        </ul>
    </div>
    <!-- HEADERS -->

    <!-- ALL TABLES -->
    <div id="myTabContent" class="tab-content">

        <div th:if="${fragmentPathOrderInfo!=null}">
            <div th:replace="~{fragments/admin/fragAdminOrderInfo :: ${fragmentPathOrderInfo}}"></div>
        </div>
        <div th:if="${fragmentPathTabTreeStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabTreeStorage :: ${fragmentPathTabTreeStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabRawStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabRawStorage :: ${fragmentPathTabRawStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDryingStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDrying :: ${fragmentPathTabDryingStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDryStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDryStorage :: ${fragmentPathTabDryStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabPackageStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabPackageStorage :: ${fragmentPathTabPackageStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDelivery!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDeliveryInfo :: ${fragmentPathTabDelivery}}"></div>
        </div>
        <div th:if="${fragmentPathTabRecycle!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabRecycle :: ${fragmentPathTabRecycle}}"></div>
        </div>

    </div>
    <!-- ALL TABLES -->
</div>
<!-- TABS -->

<!-- MODALS -->
<!-- Приход леса -->
<div class="modal fade" id="addIncomeModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить приход материалов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/addIncome">
                <div class="modal-body">
                    <label class="col-form-label" for="inputDefault">Код партии</label>
                    <input type="text" class="form-control" id="inputDefault" required="required">

                    <label class="col-form-label" for="inputDefault">Порода</label>
                    <input type="text" class="form-control" id="breedOfTree" required="required">

                    <label class="col-form-label" for="inputDefault">Поставщик</label>
                    <input type="text" class="form-control" list="cityname" id="inputDefault">
                    <datalist id="cityname">
                        <option value="ДП «Глуховский агролесхоз»">
                        <option value="ДП «Новгород Северская ЛНИС»">
                    </datalist>
                    <label class="col-form-label" for="inputDefault">Кубатура</label>
                    <input type="text" class="form-control" placeholder="м3" id="inputDefault" pattern="[0-9]*\.?[0-9]*">
                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Приход леса -->

<!-- Распиловка -->
<div class="modal fade" id="cutModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отправить на распиловку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/addIncome">
                <div class="modal-body">
                    <div class="form-group">
                        <fieldset disabled="">
                            <label class="control-label" for="disabledInput">Код партии</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Код партии" disabled="">

                            <label class="control-label" for="disabledInput">Порода</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Порода" disabled="">

                            <label class="control-label" for="disabledInput">Поставщик</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Поставщик" disabled="">
                        </fieldset>
                        <label class="col-form-label" for="inputDefault">Осталось</label>
                        <input type="text" class="form-control" placeholder="м3" id="inputDefault" pattern="[0-9]*\.?[0-9]*">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary">Отправить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Распиловка -->



<!-- MODALS -->

<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{../js/datatables.js}"></script>
<script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>

<!--<div th:replace="~{fragments/fabric/fragFabricScripts :: fabricScripts}"></div>-->

<script type="text/javascript">
    let tdsDate = document.getElementsByClassName('change-color');
    const  today = new Date();
    let tabVal;
    for (let i = 0; i < tdsDate.length; i++) {
        tabVal = new Date(tdsDate[i].innerText);

        console.log("my:" +tabVal.getTime());
        console.log("tod:" +today.getTime());

        console.log("res: "+ (tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24));

        if ((tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)<=10 && (tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)>=5){
            console.log("<10");
            tdsDate[i].closest('tr').classList.add("table-warning");
        }else if ((tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)<5) {
            console.log("<5");
            tdsDate[i].closest('tr').classList.add("table-danger");
        }
        else {
            console.log("ok")
        }
    }
</script>

<script type="text/javascript">
    document.querySelector('input[list]').addEventListener('input', function(e) {
        var input = e.target,
            list = input.getAttribute('list'),
            options = document.querySelectorAll('#' + list + ' option'),
            hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden'),
            label = input.value;

        hiddenInput.value = label;

        for(var i = 0; i < options.length; i++) {
            var option = options[i];

            if(option.innerText === label) {
                hiddenInput.value = option.getAttribute('data-value');
                break;
            }
        }
        console.log("Hidden input value:"+hiddenInput.value);
    });
</script>

<script type="text/javascript">
    $(document).ready( function () {
        // Distribution table start
        $('#distribution-tab-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [ 0, -1],
                    "visible": false,
                    "searchable": false,
                }
            ]
        });
        // Distribution table end
        console.log("load on ready");
        // Modal inner table start
        var tableOfDistribution = $('#tableOfDistribution').DataTable({
            "autoWidth": false,
            "bSort": false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false

        });
        // Modal inner table end

        // ADD ELEMENTS TO INNER TABLE LIST START
        $("#buttonForAddingDistributionRow").click(function () {
            var company = $("#addDistributionCompanyInner").val();
            var amount = parseFloat($("#addDistributionAmountInner").val());
            var button = "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";

            if( company=="" || amount=="" ) {
                alert("Заполните все поля!");
            } else if (amount<=0.000){
                alert("Значение не может быть отрицательным либо равным 0!")
            } else {
                var row = [company, amount, button];

                console.log(row);

                $("#addDistributionCompanyInner").val("");
                $("#addDistributionAmountInner").val("");

                tableOfDistribution.row.add(row).draw();
            }
        });
        // ADD ELEMENTS TO INNER TABLE LIST END

        // DELETE BUTTON START
        $('#tableOfDistribution tbody').on( 'click', 'button', function () {
            tableOfDistribution.row( $(this).parents('tr') ).remove().draw();
        } );
        // DELETE BUTTON END

        $('#treestoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },

            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],

            // columns width
            "autoWidth": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]

        });

        // TOOGLE SELECTED START
        $('#treestoragetable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
        //TOOGLE SELECTED END



        $('#rawstoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            // columns width
            "autoWidth": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "100px"
                }
            ]
        });

        // TOOGLE SELECTED START
        $('#rawstoragetable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
        //TOOGLE SELECTED END




        $('#dryingtable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            // columns width
            "autoWidth": false,

            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]
        });

        // TOOGLE SELECTED START
        $('#dryingtable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
        //TOOGLE SELECTED END



        $('#drystoragetable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            // columns width
            "autoWidth": false,

            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]
        });

        // TOOGLE SELECTED START
        $('#drystoragetable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
        //TOOGLE SELECTED END

        //    DRYING OAK START
        var tableForTransportationOak = $('#tableForTransportationOak').DataTable({
            // columns width
            "autoWidth": false,
            "bSort": false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });

        $("#buttonForAddingOakRow").click(function () {
            var width = $("#sendForPackageModalWidthOak").val();
            var count = $("#sendForPackageModalCountOak").val();
            var button = "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";

            if( width=="" || count=="" ) {
                alert("Заполните ширину и количество досок!");
            } else if (width<=0 || count<=0){
                alert("Значение не может быть отрицательным либо равным 0!")
            } else {
                var d = [width, count, button];

                console.log(d);

                $("#sendForPackageModalWidthOak").val("");
                $("#sendForPackageModalCountOak").val("");

                tableForTransportationOak.row.add(d).draw();
            }
        });

        $("#buttonForAddingDeliveryOakRow").click(function () {
            var width = $("#addDeliveryPackageModalWidthOak").val();
            var count = $("#addDeliveryPackageModalCountOak").val();
            var button = "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить'></i></button>";

            if( width=="" || count=="" ) {
                alert("Заполните ширину и количество досок!");
            } else if (width<=0 || count<=0){
                alert("Значение не может быть отрицательным либо равным 0!")
            } else {
                var d = [width, count, button];

                console.log(d);

                $("#addDeliveryPackageModalWidthOak").val("");
                $("#addDeliveryPackageModalCountOak").val("");

                tableForTransportationOak.row.add(d).draw();
            }
        });

        $('#tableForTransportationOak tbody').on( 'click', 'button', function () {
            tableForTransportationOak.row( $(this).parents('tr') ).remove().draw();
        } );
    //    DRYING OAK END



        //PACKAGES 1 START
        let table = $('#packagedproducttable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            // columns width
            "autoWidth": false,
            // 'select': true,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }
            ]

        });


        //            SELECT
        $('#packagedproducttable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
        //            SELECT


        $( "#buttonForTransportation" ).click(function() {

            modalPackagesTable.clear().draw();
            var newData = ( table.rows( '.selected' ).data() );
            var array = [];

            for (var i = newData.length - 1; i >= 0; i--) {

                var id =			newData[i][0];
                var code = 			newData[i][1];
                var material = 		newData[i][2];
                var description = 	newData[i][3];
                var thickness = 	newData[i][4];
                var width = 		newData[i][5];
                var length = 		newData[i][6];
                var count = 		newData[i][7];
                var extent = 		newData[i][8];
                var heightPc = 		newData[i][9];
                var widthPc = 		newData[i][10];
                var wh = heightPc.toString()+"/"+widthPc.toString();
                var button =        "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";

                var d=[id, code, material, description, thickness, width, length, count, extent, wh, button];

                array[i] = id;

                modalPackagesTable.row.add(d).draw( false );
            }
            console.log(array);
            $('#sendForTransportationModal').modal('show');
        });


        var modalPackagesTable = $('#tableForTransportation').DataTable({
            // columns width
            "autoWidth": false,
            "bSort" : false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": true,
                    "searchable": true
                },
            ]

        });


        $('#tableForTransportation tbody').on( 'click', 'button', function () {
            modalPackagesTable.row( $(this).parents('tr') ).remove().draw();
        } );

        //Extent

        function extentCalc(){
            $("#sendForPackageModalExtent").val('');
            if ($("#sendForPackageLength").val() != '' && $("#sendForPackageHeight").val() != '' && $("#sendForPackageWidth").val() != '' && $("#sendForPackageModalCount").val() != ''){
                let res = (($("#sendForPackageLength").val()/1000) * ($("#sendForPackageHeight").val()/1000) * ($("#sendForPackageWidth").val()/1000) * ($("#sendForPackageModalCount").val()));
                $("#sendForPackageModalExtent").val(res.toFixed(3));
                console.log("result: "+res.toFixed(3));
            } else {
                console.log("fill all");
            }
        }

        $("#sendForPackageLength").change(function() {
            extentCalc();
        });

        $("#sendForPackageHeight").change(function() {
            extentCalc();
        });

        $("#sendForPackageWidth").change(function() {
            extentCalc();
        });

        $("#sendForPackageModalCount").change(function() {
            extentCalc();
        });
        // Extent
        //PACKAGES 1 END



        //PACKS2 start
        var oakTable = $('#packageOakTableId').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort":false,
            "info": false,
            // 'select': true,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 1 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                },
                {
                    "targets": 0,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });


        // TOOGLE SELECTED START
        $('#packageOakTableId tbody').on( 'click', '.outer-table', function () {
            $(this).toggleClass('selected');
        } );
        //TOOGLE SELECTED END



        $( "#buttonForOakTransportation" ).click(function() {
            modalOakPackagesTable.clear().draw();
            let newData = document.getElementsByClassName("selected");
            let tBody = document.getElementById('listOfPackagesOakId');
            tBody.deleteRow(0);
            for(let i=0;i<newData.length;i++){
                let tmp = newData[i];
                let clone = tmp.cloneNode(true);
                let tdId = clone.getElementsByClassName("details-control")[0];
                let idOfPackage=tdId.getAttribute("id");
                let idOfPackageParent="parent"+idOfPackage;
                tdId.setAttribute("id",'modal'+idOfPackage);
                console.log(clone);
                console.log("parent: "+idOfPackage+" packageparent: "+idOfPackageParent);
                let insideTr = $(clone).closest('tr').html();
                let trObj = $.parseHTML("<tr role='row' class='selectMainTrPackage'>"+insideTr+"</tr>");

                let trParent = document.getElementById(idOfPackageParent);
                let trParentClone = trParent.cloneNode(true);
                trParentClone.setAttribute("id",'parentmodal'+idOfPackage);

                $('#listOfPackagesOakId').append(trObj);
                $('#listOfPackagesOakId').append(trParentClone);
            }


            $('#sendOakListForTransportationModal').modal('show');
        });


        var modalOakPackagesTable = $('#tableForOakTransportation').DataTable({
            // columns width
            "autoWidth": false,
            "bSort" : false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [ 1 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 0,
                    "orderable": false,
                    "width": "30px"
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "70px"
                }

            ]

        });


        $('#tableForOakTransportation tbody').on( 'click', 'button', function () {
            var idOfParent = 'parent'+this.parentElement.parentElement.getElementsByClassName("details-control")[0].getAttribute("id");
            this.parentElement.parentElement.remove();
            document.getElementById(idOfParent).remove()
        } );

        //PACKS 2 end





        $('#transportationtable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort": false,
            "info": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "100px"
                },
                {
                    "targets": 0,
                    "orderable": false,
                    "width": "30px"
                }

            ]

        });


        $('#transportationTableOak').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort": false,
            "info": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "100px"
                },
                {
                    "targets": 0,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });








    })
</script>
</body>
</html>