<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SWIDA</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">
    <link rel='icon' type='image/png' th:href="@{../img/logo_swida.png}">

    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">

    <style>
        svg {
            height: 100px;
            margin: 10% auto 0 auto;
            display: inline-block;
            position: absolute;
            z-index: 99999;
            left: 45%;
        }
        #myTabContent{
            display: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>

<!-- NAVIGATION -->
<div th:replace="~{fragments/fabric/fragFabricNavigation :: fabricNavigation}"></div>
<!-- NAVIGATION -->

<br>
<!-- TABS -->
<div class="container-fluid">
    <!-- HEADERS -->
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfOrders-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('orders')} ? 'active':''">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfTreeStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('treeStorage')} ? 'active':''">Приход леса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfRawStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('rawStorage')} ? 'active':''">Сырой склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDryingStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('dryingStorage')} ? 'active':''">Сушка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDryStorage-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('dryStorage')} ? 'active':''">Сухой склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfPackagedProduct-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('packageStorage')} ? 'active':''">Пачки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfDeliveryDocumentation-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('deliveryInfo')} ? 'active':''">Транспортировка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:href="@{'/fabric/getListOfRecycle-'+${userId}+'-'+${breedId}}"
                   th:classappend="${tabName.equals('recycle')} ? 'active':''">На переработку</a>
            </li>
        </ul>
    </div>
    <!-- HEADERS -->

    <!-- Loader  -->

    <svg enable-background="new 0 0 100 100" id="L2" version="1.1" viewBox="0 0 100 100" x="0px" xml:space="preserve"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <circle cx="50" cy="50" fill="none" r="48" stroke="#18BC9C" stroke-miterlimit="10" stroke-width="4"/>
        <line fill="none" stroke="#18BC9C" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" x1="50" x2="85" y1="50" y2="50.5">
                  <animateTransform
                          attributeName="transform"
                          dur="2s"
                          from="0 50 50"
                          repeatCount="indefinite"
                          to="360 50 50"
                          type="rotate" />
        </line>
        <line fill="none" stroke="#18BC9C" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" x1="50" x2="49.5" y1="50" y2="74">
                  <animateTransform
                          attributeName="transform"
                          dur="15s"
                          from="0 50 50"
                          repeatCount="indefinite"
                          to="360 50 50"
                          type="rotate" />
        </line>
    </svg>
    <!-- Loader  -->

    <!-- ALL TABLES -->
    <div id="myTabContent" class="tab-content">

        <div th:if="${fragmentPathOrderInfo!=null}">
            <div th:replace="~{fragments/admin/fragAdminOrderInfo :: ${fragmentPathOrderInfo}}"></div>
        </div>
        <div th:if="${fragmentPathTabTreeStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabTreeStorage :: ${fragmentPathTabTreeStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabRawStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabRawStorage :: ${fragmentPathTabRawStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDryingStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDrying :: ${fragmentPathTabDryingStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDryStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDryStorage :: ${fragmentPathTabDryStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabPackageStorage!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabPackageStorage :: ${fragmentPathTabPackageStorage}}"></div>
        </div>
        <div th:if="${fragmentPathTabDelivery!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDeliveryInfo :: ${fragmentPathTabDelivery}}"></div>
        </div>
        <div th:if="${fragmentPathTabRecycle!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabRecycle :: ${fragmentPathTabRecycle}}"></div>
        </div>

    </div>
    <!-- ALL TABLES -->
</div>
<!-- TABS -->


<!--    <script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>-->
    <script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{../js/datatables.js}"></script>
    <script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>

    <script type="text/javascript" th:src="@{../js/extent.calculation.js}"></script>
    <script type="text/javascript" th:src="@{../js/deadlines.checkout.js}"></script>
    <script type="text/javascript" th:src="@{../js/set.hidden.value.js}"></script>
    <script type="text/javascript" th:src="@{../js/fabric/fabric.tabs.config.js}"></script>

    <script type="text/javascript">
        $('#sendForPackageModalWidthOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#sendForPackageModalCountOak').focus();
            }
        });

        $('#sendForPackageModalCountOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#buttonForAddingOakRow').click();
            }
        });

        $('#sendForPackageModalCodeOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#sendForPackageModalQualityOak').focus();
            }
        });

        $('#sendForPackageModalQualityOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#sendForPackageModalSizeOak').focus();
            }
        });

        $('#sendForPackageModalSizeOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#sendForPackageModalLengthOak').focus();
            }
        });

        $('#sendForPackageModalLengthOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#sendForPackageModalWidthOak').focus();
            }
        });

        //////////////////////////////////////////////////////////////////////////////////////

        $('#addOakInitialPackageCode').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addOakInitialPackageDescr').focus();
            }
        });

        $('#addOakInitialPackageDescr').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addOakInitialPackageTreeStorage').focus();
            }
        });

        $('#addOakInitialPackageTreeStorage').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addOakInitialPackageSupplier').focus();
            }
        });

        $('#addOakInitialPackageSupplier').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryPackageModalSizeOak').focus();
            }
        });

        $('#addDeliveryPackageModalWidthOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryPackageModalCountOak').focus();
            }
        });

        $('#addDeliveryPackageModalCountOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#buttonForAddingInitialPackageOakRow').click();
                $('#buttonForAddingDeliveryOakRow').click();
            }
        });

        $('#addDeliveryPackageModalCodeOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryPackageModalQualityOak').focus();
            }
        });

        $('#addDeliveryPackageModalQualityOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryPackageModalSizeOak').focus();
            }
        });

        $('#addDeliveryPackageModalSizeOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryPackageModalLengthOak').focus();
            }
        });

        $('#addDeliveryPackageModalLengthOak').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryPackageModalWidthOak').focus();
            }
        });
        /////////////////////////////////////////////////////////////////////////////
        let code =          $("#addToRawStorageCode").val();
        let breedDescr =    $("#addToRawStorageBreedDescription").val();
        let supplier =      $("#addToRawStorageSupplier").val();
        let thickness =     $("#addToRawStorageThickness").val();
        let width =         $("#addToRawStorageWidth").val();
        let length =        $("#addToRawStorageLength").val();
        let count =         $("#addToRawStorageCount").val();

        $('#addToRawStorageCode').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addToRawStorageBreedDescription').focus();
            }
        });

        $('#addToRawStorageBreedDescription').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addToRawStorageSupplier').focus();
            }
        });

        $('#addToRawStorageSupplier').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addToRawStorageThickness').focus();
            }
        });

        $('#addToRawStorageThickness').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addToRawStorageWidth').focus();
            }
        });

        $('#addToRawStorageWidth').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addToRawStorageLength').focus();
            }
        });

        $('#addToRawStorageLength').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addToRawStorageCount').focus();
            }
        });

        $('#addToRawStorageCount').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#sendRequestToAddInputButton').click();
            }
        });
        ///////////////////////////////////////////////////////////////


        ////////////////////////////////////////////////////////////////
        $('#addIdOfTruck').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#driverCredentionals').focus();
            }
        });
        $('#driverCredentionals').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#driverPhone').focus();
            }
        });
        $('#driverPhone').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#numberOfTruck').focus();
            }
        });
        $('#numberOfTruck').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#numberOfTrailer').focus();
            }
        });
        $('#numberOfTrailer').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#packDateInput').focus();
            }
        });
        $('#packDateInput').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#packTimeInput').focus();
            }
        });
        $('#packTimeInput').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#packContractId').focus();
            }
        });
        $('#packContractId').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#packDeliveryDestination').focus();
            }
        });
        $('#packDeliveryDestination').on('keyup', function(event){
            if(event.keyCode == 13){
                $('#addDeliveryDescription').focus();
            }
        });
        ////////////////////////////////////////////////////////////////


    </script>

</body>
</html>