<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SWIDA</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">

    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">
    <link rel='icon' type='image/png' th:href="@{../img/logo_swida.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<!-- NAVIGATION -->
<div th:replace="~{fragments/admin/fragAdminNavigation :: adminNavigation}"></div>
<!-- NAVIGATION -->

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#pine">Сосна</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#oak">Дуб</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="pine">
            <br>
            <ul>
                <li>Ячейка с кодом машины должна содержать в себе слово "машина".</li>
                <li>При импорте в Мультимодал сосны должны быть заполнены все номера пачек созданы Мультимодалом.</li>
                <li>Информация о водителе и машине должна содержаться строго в тех ячейках, как и в образце (под подписью ячейки).</li>
                <li>Заполнение значений размеров доски должно происходить в формате "0,000" без каких-либо дополнительных обозначений ("м", "мм", "см")</li>
                <li>Поле "объем" считается корректным и не считается программно.</li>
                <li>Все таблицы должны быть расположены на первом листе файла.</li>
                <li>Количество таблиц в одном файле не ограничено.</li>
                <li>Импорт группируется по субконтракте (заказу), что дает возможность импортировать таблицы только для одного пользователя / контрагента и под один контракт с одного файла.</li>
                <li>Общий объем пачек и количество досок в машине считаются программно.</li>
            </ul>

            <form action="/admin/downloadExamplePineXls" method="post">
                <button type="submit" class="btn btn-primary">Скачать пример</button>
            </form>
        </div>
        <div class="tab-pane fade" id="oak">
            <br>
            <ul>
                <li>Таблица с информацией о пачках должна содержать слово "Quality"</li>
                <li>Ячейки с информацией о водителе и машине должны быть строго расположены как в образце и содержать слова объясняющие содержание.</li>
                <li>Поле "объем" считается корректным и не считается программно.</li>
                <li>Все размеры указываются в миллиметрах без каких-либо дополнительных обозначений.</li>
                <li>Количество столбиков с описанием ширины может отличаться.</li>
                <li>Ячейки в которых отсутствуют данные не заполнять буквами или знаками.</li>
                <li>Все таблицы должны быть расположены на первом листе файла.</li>
                <li>Количество таблиц в одном файле не ограничено.</li>
                <li>Импорт группируется по субконтракте (заказу), что дает возможность импортировать таблицы только для одного пользователя / контрагента и под один контракт с одного файла.</li>
                <li>Общий объем пачек и количество досок в машине считаются программно.</li>
            </ul>
            <form action="/admin/downloadExampleOakXls" method="post">
                <button type="submit" class="btn btn-primary">Скачать  пример</button>
            </form>
        </div>
    </div>
</div>

<!-- MODALS -->

<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{../js/datatables.js}"></script>
<script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>


</body>
</html>