<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWIDA</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/dataTables.bootstrap4.css}">
    <link th:href="@{../css/all.css}" rel="stylesheet">
    <link th:href="@{../css/fontawesome.css}" rel="stylesheet">
</head>
<body>
<!-- NAVIGATION -->
<div th:replace="~{fragments/admin/fragAdminNavigation :: adminNavigation}" sec:authorize="hasRole('ROLE_ADMIN')"></div>
<div th:replace="~{fragments/fabric/fragFabricNavigation :: fabricNavigation}" sec:authorize="hasRole('ROLE_SUPER_USER')"></div>
<!-- NAVIGATION -->

<!-- TABS -->
<div class="container-fluid">
    <!-- HEADERS START-->
    <div th:if="${fragmentPathTabConfig!=null}">
        <div th:replace="~{fragments/admin/fragAdminTabConfig :: ${fragmentPathTabConfig}}"></div>
    </div>

    <!-- HEADERS END-->

    <!-- ALL TABLES START-->
    <div id="myTabContent" class="tab-content">

        <!-- Show delivery in Ukraine        -->
        <div th:if="${fragmentPathOrderInfo!=null}">
            <div th:replace="~{fragments/admin/fragAdminOrderInfo :: ${fragmentPathOrderInfo}}"></div>
        </div>
        <div th:if="${fragmentPathDeliveryDoc!=null}">
            <div th:replace="~{fragments/fabric/fragFabricTabDeliveryInfo :: ${fragmentPathDeliveryDoc}}"></div>
        </div>

        <!--        Multimodal frags-->
        <div th:if="${fragmentPathMultimodalMain!=null}">
            <div th:replace="~{fragments/multimodal/fragMultimodalMain :: ${fragmentPathMultimodalMain}}"></div>
        </div>
        <div th:if="${fragmentPathMultimodalContainers!=null}">
            <div th:replace="~{fragments/multimodal/fragMultimodalContainer :: ${fragmentPathMultimodalContainers}}"></div>
        </div>
        <div th:if="${fragmentPathMultimodalTrucks!=null}">
            <div th:replace="~{fragments/multimodal/fragMultimodalTrucks :: ${fragmentPathMultimodalTrucks}}"></div>
        </div>
        <div th:if="${fragmentPathMultimodalFullDetails!=null}">
            <div th:replace="~{fragments/multimodal/fragMultimodalFullDetails :: ${fragmentPathMultimodalFullDetails}}"></div>
        </div>


    </div>
    <!-- ALL TABLES end-->
</div>
<!-- TABS end-->

<!-- MODALS START-->




<!-- ADD BREED OF TREE MODAL END -->
<!-- MODALS END-->

<!-- SCRIPTS START-->

<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{../js/datatables.js}"></script>
<script type="text/javascript" th:src="@{../js/dataTables.bootstrap4.js}"></script>

<!--<div th:replace="~{fragments/fabric/fragFabricScripts :: fabricScripts}"></div>-->
<!-- SCRIPTS  END-->

<script type="text/javascript">
    let tdsDate = document.getElementsByClassName('change-color');
    const  today = new Date();
    let tabVal;
    for (let i = 0; i < tdsDate.length; i++) {
        tabVal = new Date(tdsDate[i].innerText);

        console.log("my:" +tabVal.getTime());
        console.log("tod:" +today.getTime());

        console.log("res: "+ (tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24));

        if ((tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)<=10 && (tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)>=5){
            console.log("<10");
            tdsDate[i].closest('tr').classList.add("table-warning");
        }else if ((tabVal.getTime()-today.getTime()) / (1000 * 3600 * 24)<5) {
            console.log("<5");
            tdsDate[i].closest('tr').classList.add("table-danger");
        }
        else {
            console.log("ok")
        }
    }
</script>

<script type="text/javascript">
    document.querySelector('input[list]').addEventListener('input', function(e) {
        var input = e.target,
            list = input.getAttribute('list'),
            options = document.querySelectorAll('#' + list + ' option'),
            hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden'),
            label = input.value;

        hiddenInput.value = label;

        for(var i = 0; i < options.length; i++) {
            var option = options[i];

            if(option.innerText === label) {
                hiddenInput.value = option.getAttribute('data-value');
                break;
            }
        }
        console.log("Hidden input value:"+hiddenInput.value);
    });
</script>

<script type="text/javascript">
    $(document).ready( function () {
        $('#multimodal-truck-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            // "bSort": false,
            "info": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                }
            ]
        });


        $('#multimodal-container-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            // "bSort": false,
            "info": false,
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "30px"
                }
            ]
        });

        // Contracts table config
        $('#info-detailed-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 3, "asc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "70px"
                }
            ]
        });

        // Selecting rows
        $('#info-detailed-table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

        $('#setContainerRequest').on( 'click', function () {
            let newData = document.getElementsByClassName("selected");
            let container = document.getElementById("selectContainer-hidden").value;
            console.log(container);

            let arrayOfId = [];
            for(let i=0;i<newData.length;i++){
                arrayOfId[i] = newData[i].getAttribute("id");
                console.log("id: "+newData[i].getAttribute("id"));
            }

            $.ajax({
                method: "post",
                url: "/multimodal/setContainer",
                contextType: "application/json",
                data: {
                    arrayOfPackagesId: arrayOfId,
                    containerId: container,
                },
                traditional: true,
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Error");
                }
            })
        });

        // Check if excel document
        $( "#importForm" ).submit(function( event ) {
            var validExts = new Array(".xlsx", ".xls");

            var fileInput = document.getElementById('inputFile');
            var fileExt = fileInput.files[0].name;

            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            if (validExts.indexOf(fileExt) < 0) {
                alert("Неправильный формат файла, доступные форматы: " +
                    validExts.toString());
                return false;
            } else {
                return true
            };
            event.preventDefault();
        });



        // Contracts table config
        $('#contracts-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false,
                    "width": "140px"
                }
            ]
        });


        $('#transportationtable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort": false,
            "info": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "120px"
                },
                {
                    "targets": 0,
                    "orderable": false,
                    "width": "30px"
                }

            ]

        });

        $('#transportationTableOak').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            // columns width
            "autoWidth": false,
            "bSort": false,
            "info": false,
            // id column visibility
            "columnDefs": [
                {
                    "targets": [  ],
                    "visible": false,
                    "searchable": false
                },
            ]

        });

        // Distribution table start
        $('#distribution-tab-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
            },
            "lengthMenu": [ [25, 50, -1], [25, 50, "Все"] ],
            "order": [ 0, "desc" ],
            "autoWidth": false,
            "columnDefs": [
                {
                    // "targets": [ 0, -2, -1 ],
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": -2,
                    "orderable": false,
                    "searchable": false,
                    "width": "30px"
                }
            ]
        });
        // Distribution table end


        //    Delivery Ukraine and Ports start
        var tableForTransportationOak = $('#tableForTransportationOak').DataTable({
            // columns width
            "autoWidth": false,
            "bSort": false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "width": "30px"
                }
            ]

        });

        $("#buttonForAddingOakRow").click(function () {
            var width = $("#sendForPackageModalWidthOak").val();
            var count = $("#sendForPackageModalCountOak").val();
            var button = "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить''></i></button>";

            if( width=="" || count=="" ) {
                alert("Заполните ширину и количество досок!");
            } else if (width<=0 || count<=0){
                alert("Значение не может быть отрицательным либо равным 0!")
            } else {
                var d = [width, count, button];

                console.log(d);

                $("#sendForPackageModalWidthOak").val("");
                $("#sendForPackageModalCountOak").val("");

                tableForTransportationOak.row.add(d).draw();
            }
        });

        $("#buttonForAddingDeliveryOakRow").click(function () {
            var width = $("#addDeliveryPackageModalWidthOak").val();
            var count = $("#addDeliveryPackageModalCountOak").val();
            var button = "<button type='button' class='btn btn-primary btn-sm'><i class='fa fa-times' title='Удалить'></i></button>";

            if( width=="" || count=="" ) {
                alert("Заполните ширину и количество досок!");
            } else if (width<=0 || count<=0){
                alert("Значение не может быть отрицательным либо равным 0!")
            } else {
                var d = [width, count, button];

                console.log(d);

                $("#addDeliveryPackageModalWidthOak").val("");
                $("#addDeliveryPackageModalCountOak").val("");

                tableForTransportationOak.row.add(d).draw();
            }
        });

        $('#tableForTransportationOak tbody').on( 'click', 'button', function () {
            tableForTransportationOak.row( $(this).parents('tr') ).remove().draw();
        } );
        //    Delivery Ukraine and Ports end




    });
</script>

</body>
</html>